@font-face {
    font-family: 'Pirulen Rg';
    src: url('PirulenRg-Regular.woff2') format('woff2'), url('PirulenRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tygh-content {
    font-family: 'Pirulen Rg';
}

#scrollbarmobile {
    position: fixed;
    top: 50%;
    right: 10px;
    height: 150px;
    background: rgba(0, 0, 0, .25);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 5;
    width: 2px;
    margin-top: -75px;
    overflow: hidden
}

.bf-cover,
.image-wrapper,
.product,
.product-inner {
    position: relative
}

#scrollbarmobile span {
    background: #e65228;
    height: 0;
    width: 100%;
    position: relative;
    float: left;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s
}

.text-light {
    font-weight: 300
}

.text-linethrough {
    text-decoration: line-through
}

.bnow {
    font-size: 20px;
    font-weight: bolder
}

.tygh-content {
    background-color: #e5e5e5
}

.text-bold {
    font-weight: 700
}

.tygh-content>.container-fluid {
    max-width: 100%;
    padding: 0;
    width: 100%
}

.ty-menu__item .ty-menu__item-link {
    background: #171717;
    color: #b6b6b6;
    border-color: #222;
    height: 100%
}

input.ty-search-block__input {
    background: #1e1e1e
}

.bf-cover {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bf-cover,
#bf-vid {
    height: 650px;
}

.bf-cover video {
    width: 100%;
    height: 100%
}

.bf-bottom {
    padding-bottom: 155px;
    text-align: center;
    color: #eee
}

#bf-countdown,
.bf-bottom h1 {
    color: #fff
}

video::-webkit-media-controls {
    display: none!important
}

.product {
    padding: 2.5px;
    width: 25%;
    float: left
}

.product a {
    text-decoration: none
}

.product:hover .product-inner {
    -webkit-box-shadow: 0 0 25px -3px #00052;
    -moz-box-shadow: 0 0 25px -3px #00052;
    box-shadow: 0 0 25px -3px #00052;
    z-index: 1
}

.product:hover .title {
    color: #e65228
}

.product.small .product-inner {
    padding: 15px;
    min-height: 380px
}

.product.medium {
    width: 50%
}

.image-wrapper {
    height: 250px
}

.product .title {
    font-weight: 500;
    color: #777;
    text-align: center;
    height: 40px;
    margin-bottom: 20px
}

.product.medium,
.product.medium .title {
    text-align: right
}

.product-inner {
    background-color: #fff;
    padding: 15px
}

.product.medium .product-inner {
    padding-left: 45%;
    min-height: 170px
}

.product.medium .image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    max-height: 100%
}

.product img {
    max-height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#bf-countdown,
.box,
.boxb,
.category-header {
    position: relative
}

.product.medium .save-percentage {
    background: #161616;
    padding: 7px 20px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: -10px;
    font-weight: 300;
    color: #fff
}

#bf-countdown,
.product.medium .save-percentage span {
    color: #e65228;
    font-weight: bolder
}

.product.medium .nprice,
.product.medium .oprice {
    display: inline-block;
    margin-left: 10px;
    text-align: right
}

.product .stockimage {
    width: 45px;
    position: absolute;
    right: 15px;
    top: 75px;
    left: auto;
    bottom: auto;
    z-index: 1
}

.product.medium .stockimage {
    left: 10px;
    right: auto;
    top: 10px
}

.modal-content .stockimage {
    display: none !important
}

#products {
    margin-top: -100px;
    margin-bottom: 100px
}

#bf-countdown {
    font-size: 50px;
    margin: 10px 0 30px;
    z-index: 1
}

#bf-countdown span {
    color: #fff;
    font-weight: 300;
    font-size: 53px
}

.qmark {
    opacity: .3
}

.box {
    max-width: 50%;
    float: left;
    width: 25%;
    padding: 0 2%
}

.boxes {
    margin-bottom: 50px
}

.boxb {
    margin-top: 100px
}

img {
    vertical-align: top
}

.product.small .price-wrapper,
.product.small .save-percentage {
    width: 50%;
    box-sizing: border-box;
    float: left
}

.product.small .price-wrapper h2 {
    margin: 0
}

.product.small .save-percentage {
    text-align: center;
    margin: 0
}

.product.small .save-percentage strong {
    display: block;
    font-weight: 400;
    font-size: 15px
}

.product.small .price-wrapper {
    float: left;
    padding: 5px;
    margin-bottom: -10px
}

.product.small .nprice {
    font-size: 30px;
}

.product.small .save-percentage {
    padding: 11px 8px 8px 8px;
    color: #fff
}

.product.small .save-percentage span {
    font-size: 24px
}

.product.small .bnow {
    margin-top: 20px;
    width: 100%
}

.category-header {
    float: left;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px
}

div#category-menu {
    position: fixed;
    right: 25px;
    top: 50%;
    -webkit-clip-path: polygon(20% 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(20% 10%, 100% 0, 100% 100%, 0 100%);
    background: #000;
    padding-top: 15px;
    min-width: 204px;
    margin-top: -80px;
    z-index: 5;
    padding-bottom: 10px;
}

.orange-label,
.top-product,
.white-label {
    position: relative
}

div#category-menu a {
    display: block;
    padding: 5px 10px;
    color: #bfbfbf;
    font-weight: 300;
    text-align: right
}

div#category-menu a.active {
    font-weight: bolder;
    background: #e65228;
    color: #fff
}

.rbko .title {
    background: #ff0;
    margin: -15px;
    padding-top: 20px;
    font-weight: 700;
    color: #000
}

.rbko .rbkobbnow,
.rbko .save-percentage span {
    color: #ff0!important
}

.rbko .rbkobbnow {
    background: #000!important;
    margin-top: 5px!important;
    margin-left: 0
}

.rbko .image-wrapper {
    max-height: 233px
}

.orange-label,
.white-label {
    width: 100%;
    padding: 10px
}

.white-label {
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    clip-path: polygon(2% 0, 98% 0, 95% 100%, 5% 100%);
    z-index: 2;
    font-weight: 700;
    font-size: 16px
}

.orange-label {
    background-color: #e65228;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    text-align: right;
    padding-right: 20px;
    top: -25px;
    z-index: 0;
    padding-top: 35px
}

.no-margin {
    margin: 0
}

.usave {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 25px;
    background: #fff;
    border-radius: 100%;
    border: 8px solid #171617;
    height: 70px;
    width: 70px;
    font-weight: bolder
}

.usave span {
    font-size: 13px;
    line-height: 1;
    display: block;
    padding-top: 7px;
    font-weight: 500
}

.orange-label h1 {
    font-size: 35px
}

.orange-label h2 {
    color: #fff!important;
    text-decoration: line-through
}

@media screen and (max-width:768px) {
    .container-fluid {
        padding: 0 2.5px
    }
    .product.medium {
        width: 100%
    }
    .product.small {
        width: 50%;
        float: none;
        display: inline-block;
        vertical-align: middle
    }
    .product.small .product-inner {
        padding: 7px;
        min-height: auto;
    }
    video {
        display: none
    }
    .bf-cover {
        margin-top: -11px
    }
    .product.small .price-wrapper h2 {
        text-align: center;
        margin: 0 auto;
        display: inline-block
    }
    .product.small .oprice {
        font-size: 13px
    }
    .product.small .save-percentage {
        padding: 5px 3px 3px 3px;
    }
    .product.small .save-percentage strong {
        display: block;
        font-weight: 400;
        font-size: 13px
    }
    .product.small .save-percentage span {
        color: #e65228;
        font-weight: 900
    }
    .product.small .bnow {
        width: 100%;
        font-size: 13px
    }
    .product.small .price-wrapper,
    .product.small .save-percentage {
        width: 100%;
        text-align: center
    }
    .product.medium .image-wrapper {
        position: relative;
        width: 100%;
        height: 170px;
        margin: 0
    }
    .product.medium .product-inner {
        padding-left: 30px
    }
    .product.medium,
    .product.medium .title {
        text-align: center
    }
    .image-wrapper {
        height: 180px
    }
    .product .title {
        height: auto;
        margin-bottom: 5px
    }
    .bf-cover {
        background-image: url(500500.png);
        height: 470px;
        background-size: contain;
        background-color: #161616
    }
    #bf-countdown {
        margin-bottom: 20px
    }
    #bf-countdown,
    #bf-countdown span {
        font-size: 25px
    }
    #bf-countdown .startat {
        display: block
    }
    .box {
        width: 100%;
        padding: 0;
        max-width: 100%;
        margin: 0
    }
    .box img {
        max-height: 220px;
        padding-bottom: 20px
    }
    .tygh-top-panel {
        height: auto
    }
    #tygh_main_container {
        padding-top: 50px
    }
    .ty-search-block {
        display: none!important
    }
    .product.small .bnow {
        margin-top: 7px
    }
    .product.small .save-percentage {
        margin-top: 10px
    }
    .rbko .title {
        margin: -7px;
        padding-top: 20px
    }
    .white-label {
        padding: 10px 20px
    }
    .top-product {
        padding: 0 50px
    }
    .startat {
        display: block
    }
    .usave {
        left: 25px
    }
    .bf-bottom {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 125px;
    }
    .bf-cover {
        height: 550px;
        background-position: top center;
    }
}

@media screen and (max-width:1200px) {
    #category-menu {
        display: none!important
    }
}

@media screen and (min-width:769px) and (max-width:1280px) {
    .rbko .rbkobbnow {
        font-size: 16px
    }
}

@media screen and (max-width:768px) and (min-width:500px) {
    .tygh-content {
        padding: 0!important
    }
    #products {
        padding: 30px
    }
}

img.box {
    max-width: 50%;
}

.close,
.modal {
    text-align: center
}

.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .7)
}

.modal-content,
.product.bundle img {
    position: relative
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    top: 30%;
    margin-top: -70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.modal-content img {
    max-height: 150px;
    margin: 0 auto;
    display: block
}

.close {
    color: #000;
    float: right;
    font-size: 48px;
    width: 40px;
    height: 40px;
    line-height: 40px
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.rbkof .bnow {
    background-color: #ff0!important;
    color: #000
}

.rbkof .save-percentage span {
    color: #ff0!important
}

.outlet-icon {
    width: 50px;
    z-index: 5;
    bottom: auto!important;
    left: auto!important;
    height: 50px;
    margin: 10px!important
}

.product.bundle .product-inner {
    padding: 5px!important
}

.sold-out-bf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eeeeeec2;
}

.begamer-price {
    text-align: center;
    font-family: 'Pirulen Rg';
    font-size: 30px;
}

.product.small .bnow {
    margin-top: 0;
}

.catimg {
    margin: 0!important;
    padding: 2.5px
}

.catimg-inner {
    background: #060606;
    background: -moz-linear-gradient(left, #060606 49%, #fff 55%, #fff 100%);
    background: -webkit-linear-gradient(left, #060606 49%, #fff 55%, #fff 100%);
    background: linear-gradient(to right, #060606 49%, #fff 55%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#060606', endColorstr='#ffffff', GradientType=1)
}

.tygh-footer {
    height: auto;
}

.catimg {
    padding: 2.5px 3.5px;
}

.bf-cover {
    height: auto;
    padding: 80px 0;
}

#load_gp {
    margin: 50px auto 4% auto;
    background: #0000;
    border: 3px solid #e65228;
    color: #e65228;
    font-weight: bolder;
    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-family: 'Pirulen Rg';
    font-size: 20px;
    padding: 6px;
    text-align: center;
    max-width: 1250px;
}

#peppermint {
    width: 900px;
    max-width: 98%;
    max-width: calc(100% - 10px);
    margin: 0 auto 50px auto;
}

#seperator {
    width: 90px;
    height: 5px;
    background: #e15425;
    margin: 20px 0;
}

#combo-desc {
    margin-bottom: 0;
    color: #777;
    font-size: 12px;
}

.tygh-top-panel {
    box-shadow: 0 0 10px #111;
    border: 0;
}

#wloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    z-index: 909;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mhead {
    margin-top: 50px;
    letter-spacing: -0.5px;
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
    font-family: 'Pirulen Rg';
}

.catimg-inner {
    background: #111;
}

@media (min-width: 1224px) {
    #products>.row {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .product.small .product-inner {
        min-height: 320px !important;
    }
    .product .title {
        min-height: 54px;
    }
    #products {
        margin-top: -70px;
    }
    #mhead {
        font-size: 22px;
    }
}

.breakline {
    position: absolute;
    width: 100%;
    height: 2580px;
    background: #212121;
    top: 810px;
    -webkit-clip-path: polygon(100% 0, 18% 100%, 100% 100%);
    clip-path: polygon(100% 0, -100% 90%, 100% 100%);
    z-index: -1;
    pointer-events: none;
}

.breakline::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1410px;
    background: #313131;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.ty-menu__items {
    background-color: transparent;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.custom-dropdown select {
    background-color: #aaa;
    color: #000;
    font-size: inherit;
    padding: 0 10px;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 0px;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.custom-dropdown select::-ms-expand {
    display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
}

.custom-dropdown::after {
    color: rgba(0, 0, 0, .6);
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .25);
}

.left-filters {
    float: left;
    margin-bottom: 30px;
    height: 30px;
    line-height: 30px;
}

.left-filters .price-range a {
    color: #000 !important;
    padding: 5px 15px;
    background: #aaa;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.left-filters .price-range a:hover {
    text-decoration: none;
    background: #ddd;
}

.left-filters .price-range a.active {
    background: #e15426;
}

.right-filters {
    float: right;
    margin-bottom: 33px;
    height: 30px;
    line-height: 30px;
}

.right-filters select {
    border: none;
    outline: none;
    margin-left: 5px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .right-filters {
        float: none;
        margin-bottom: 0;
    }
    .container-fluid span {
        float: none !important;
    }
    .left-filters {
        float: none;
    }
}

@media (max-width: 768px) {
    .left-filters {
        height: auto;
        margin: 10px 0;
    }
    .left-filters .price-range a {
        margin-right: 1px;
        display: inline-block;
        height: auto;
        min-height: unset;
        line-height: 1.5;
        margin-bottom: 4px;
    }
}

.peppermint.peppermint-active {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0
}

.peppermint.peppermint-active .peppermint-slides {
    position: relative;
    overflow: hidden;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.peppermint.peppermint-active .peppermint-slides>* {
    float: left;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

.peppermint.peppermint-active .peppermint-slides a:active,
.peppermint.peppermint-active .peppermint-slides a:active img {
    outline: 0
}

.peppermint.peppermint-active,
.peppermint.peppermint-active .peppermint-dots,
.peppermint.peppermint-active .peppermint-slides,
.peppermint.peppermint-active .peppermint-slides>* {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.peppermint.peppermint-mouse .peppermint-slides {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab
}

.peppermint.peppermint-mouse.peppermint-drag .peppermint-slides * {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing
}

.peppermint {
    text-align: center
}

.peppermint figure {
    margin: 0 0 1.5em 0
}

.peppermint figure img {
    vertical-align: top;
    max-width: 100%;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2)
}

.peppermint figure figcaption {
    font-style: italic;
    color: #787575;
    font-size: .8em;
    margin-top: .5em
}

.peppermint.peppermint-active {
    margin-bottom: 1.5em
}

.peppermint-slides {
    padding-top: .5em;
    padding-bottom: .5em
}

ul.peppermint-dots {
    margin: .6em 0;
    padding: 0;
    text-align: center;
    list-style-type: none
}

.peppermint.peppermint-active ul.peppermint-dots {
    margin: 0 0 .6em 0
}

.peppermint.peppermint-active .peppermint-slides+ul.peppermint-dots {
    margin: .6em 0 0 0
}

ul.peppermint-dots>li {
    display: inline-block;
    position: relative;
    padding: .5em .6em;
    width: 12px;
    height: 12px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

ul.peppermint-dots>li.peppermint-mouse-clicked,
ul.peppermint-dots>li:active {
    outline: 0
}

ul.peppermint-dots>li>span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    width: 8px;
    height: 8px;
    border-radius: 0;
    background: #9b9890
}

ul.peppermint-dots>li.peppermint-active-dot>span {
    margin: -6px 0 0 -6px;
    width: 10px;
    height: 10px;
    border: 1px solid #e15425;
    background: #e15425;
}