{include file="common/letter_header.tpl"}
<table>
<tr>
    <td>Statusi i porosise: {$order_id} eshte nderruar prej "E verifikuar" në "E anuluar"</td>
</tr>
</table>
{include file="common/letter_footer.tpl"}