<div id="gjrecommend">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg style="    width: 110px;" enable-background="new 0 0 151.3 151.1" version="1.1" viewBox="0 0 151.3 151.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style type="text/css">{literal}.st0{fill:#231F20;}.st1{fill:#FFFFFF;}.st2{fill:#E05626;}.st3{font-family:'Roboto';}.st4{font-size:24.3203px;font-weight: bolder;}{/literal}</style>
        <circle class="st0" cx="75.6" cy="75.6" r="60.2"/>
        <circle class="st1" cx="75.6" cy="75.6" r="36.6"/>
        <path class="st1" d="m34 100.1l-3.9 2.5-0.8-1.2 8.9-5.8 2 3.1c0.6 1 0.9 1.9 0.8 2.7s-0.6 1.5-1.4 2c-0.5 0.3-0.9 0.4-1.4 0.4s-1-0.2-1.5-0.5c0.2 0.6 0.1 1.1-0.1 1.6-0.2 0.4-0.6 0.8-1.1 1.2l-0.8 0.5c-0.3 0.2-0.5 0.4-0.7 0.6s-0.3 0.4-0.3 0.7l-0.1 0.1-0.8-1.2c0-0.3 0.2-0.5 0.4-0.7s0.5-0.4 0.8-0.6l0.8-0.5c0.5-0.3 0.8-0.7 0.9-1.2s0-0.9-0.3-1.4l-1.4-2.3zm0.9-0.6l1.1 1.7c0.4 0.7 0.9 1.1 1.4 1.2s0.9 0 1.5-0.3c0.5-0.3 0.8-0.7 0.9-1.2s-0.1-1-0.5-1.6l-1.2-1.8-3.2 2z"/>
        <path class="st1" d="m43.2 111l-3-3.1-2.7 2.7 3.6 3.7-0.8 0.8-4.6-4.7 7.7-7.4 4.5 4.7-0.8 0.8-3.5-3.6-2.5 2.4 3 3.1-0.9 0.6z"/>
        <path class="st1" d="m47.1 114.4l-0.8-0.5-2.8 3.9-1.2-0.8 6.1-8.7 1.2 0.8-2.7 3.9 0.6 0.5 5.9-1.6 1.3 0.9-6.4 1.7 0.6 7.2-1.4-1-0.4-6.3z"/>
        <path class="st1" d="m60.6 121.9c-0.5 1.2-1.3 2-2.4 2.5s-2.2 0.5-3.4 0c-1.1-0.5-1.9-1.3-2.3-2.4s-0.3-2.2 0.2-3.4l0.7-1.7c0.5-1.2 1.3-2 2.3-2.5s2.2-0.5 3.3 0c1.2 0.5 2 1.3 2.4 2.4s0.4 2.3-0.2 3.5l-0.6 1.6zm-0.6-2.3c0.4-0.9 0.5-1.7 0.2-2.5-0.2-0.8-0.8-1.3-1.6-1.7-0.8-0.3-1.5-0.3-2.2 0.1s-1.2 1-1.6 1.9l-0.7 1.8c-0.4 0.9-0.5 1.7-0.3 2.5s0.7 1.3 1.5 1.6 1.6 0.3 2.3 0c0.7-0.4 1.3-1 1.7-1.9l0.7-1.8z"/>
        <path class="st1" d="m68.1 125.9l4.7-8.1 1.8 0.3-1.6 10.5-1.4-0.2 1.2-7.9-4.4 7.4-1-0.1-2.1-8.7-1.2 8.2-1.4-0.2 1.6-10.5 1.9 0.3 1.9 9z"/>
        <path class="st1" d="m82.5 125.3l-4 0.4-0.7 2.8-1.5 0.1 2.8-11 1.2-0.1 4.8 10.3-1.5 0.1-1.1-2.6zm-3.7-0.8l3.2-0.3-2-4.4-1.2 4.7z"/>
        <path class="st1" d="m95.8 124.7l-1.4 0.4-7.4-6.1 2.5 7.7-1.4 0.4-3.3-10.1 1.4-0.4 7.4 6.2-2.5-7.7 1.4-0.4 3.3 10z"/>
        <path class="st1" d="m99.4 123l-5.5-9.2 2.9-1.7c1.2-0.7 2.4-0.9 3.5-0.6s2.1 1 2.8 2.2l0.7 1.3c0.7 1.2 0.9 2.3 0.6 3.5s-1 2.1-2.2 2.8l-2.8 1.7zm-3.6-8.9l4.3 7.2 1.6-1c0.8-0.5 1.3-1.2 1.5-2s0-1.7-0.5-2.6l-0.8-1.3c-0.5-0.9-1.2-1.4-2-1.7s-1.7-0.1-2.5 0.4l-1.6 1z"/>
        <path class="st1" d="m112.1 108c0.9 0.9 1.3 2 1.3 3.2s-0.5 2.2-1.4 3.1-1.9 1.2-3.1 1.1-2.2-0.6-3.1-1.6l-1.3-1.4c-0.9-0.9-1.4-2-1.4-3.2s0.4-2.2 1.3-3c0.9-0.9 2-1.3 3.2-1.2s2.2 0.6 3.1 1.5l1.4 1.5zm-2.4-0.4c-0.7-0.7-1.4-1.1-2.2-1.2s-1.5 0.2-2.2 0.8c-0.6 0.6-0.9 1.3-0.8 2.1s0.4 1.6 1.1 2.3l1.3 1.4c0.7 0.7 1.4 1.1 2.2 1.2s1.5-0.1 2.1-0.7 1-1.3 0.9-2.1c0-0.8-0.4-1.6-1.1-2.3l-1.3-1.5z"/>
        <path class="st1" d="m121.9 101.7l-0.8 1.2-9.6-0.3 6.8 4.5-0.8 1.2-8.9-5.9 0.8-1.2 9.6 0.3-6.7-4.5 0.8-1.2 8.8 5.9z"/>
        <path class="st2" d="m142.2 87.3l9.1-7.7-8.2-8.6 7-9.6-10.1-6.4 4.5-11-11.3-3.8 1.7-11.8-11.8-1-1.2-11.8-11.7 1.9-4-11.2-10.9 4.6-6.6-9.9-9.5 7.1-8.7-8.1-7.5 9.2-10.4-5.8-5.1 10.7-11.5-3.1-2.4 11.6-11.9-0.3 0.4 11.9-11.6 2.6 3.3 11.4-10.6 5.4 5.9 10.3-9.1 7.7 8.2 8.6-7 9.6 10 6.4-4.5 11 11.3 3.8-1.7 11.8 11.8 1 1.2 11.8 11.7-1.9 4 11.2 10.9-4.6 6.5 9.9 9.5-7.1 8.7 8.1 7.5-9.2 10.4 5.8 5.1-10.7 11.5 3.1 2.4-11.6 11.9 0.3-0.4-11.9 11.6-2.6-3.3-11.4 10.6-5.3-5.7-10.4zm-66.6 45.8c-31.8 0-57.6-25.8-57.6-57.6s25.8-57.5 57.6-57.5 57.6 25.8 57.6 57.6-25.8 57.5-57.6 57.5z"/>
        <polygon class="st0" points="75.6 56.2 72.5 58.6 73.8 54.9 70.6 52.7 74.5 52.8 75.6 49.1 76.7 52.8 80.6 52.7 77.4 54.9 78.7 58.6"/>
        <polygon class="st0" points="64.8 58.1 62.3 60 63.3 57.1 60.7 55.3 63.9 55.4 64.8 52.3 65.7 55.4 68.8 55.3 66.2 57.1 67.3 60"/>
        <polygon class="st0" points="86.5 58.1 89 60 88 57.1 90.5 55.3 87.4 55.4 86.5 52.3 85.6 55.4 82.5 55.3 85.1 57.1 84 60"/>
        <polygon class="st0" points="75.6 94.6 72.5 92.3 73.8 96 70.6 98.2 74.5 98.1 75.6 101.8 76.7 98.1 80.6 98.2 77.4 96 78.7 92.3"/>
        <polygon class="st0" points="64.8 92.8 62.3 90.9 63.3 93.8 60.7 95.6 63.9 95.5 64.8 98.5 65.7 95.5 68.8 95.6 66.2 93.8 67.3 90.9"/>
        <polygon class="st0" points="86.5 92.8 89 90.9 88 93.8 90.5 95.6 87.4 95.5 86.5 98.5 85.6 95.5 82.5 95.6 85.1 93.8 84 90.9"/>
        <text class="st2 st3 st4" transform="translate(48.483 84.205)">{$product_score}%</text>
        <path class="st1" d="m49.4 42.6c0.1 0.5 0 1-0.2 1.7s-0.7 1.4-1.4 2c-0.9 0.9-1.9 1.3-3.1 1.2-1.1 0-2.2-0.5-3.1-1.5l-1.5-1.6c-0.9-0.9-1.3-2-1.3-3.1s0.4-2.1 1.3-3c0.9-0.8 1.8-1.2 2.7-1.3 0.9 0 1.7 0.3 2.4 1.1l-1 1c-0.4-0.5-1-0.7-1.6-0.7s-1.2 0.2-1.7 0.8c-0.6 0.6-0.9 1.2-0.8 2s0.4 1.5 1.1 2.2l1.5 1.6c0.7 0.7 1.4 1.1 2.2 1.1 0.8 0.1 1.5-0.2 2.1-0.7 0.5-0.4 0.8-0.8 0.9-1.2s0.2-0.7 0.2-1l-1.7-1.7-1.7 1.7-0.7-0.7 2.8-2.7 2.6 2.8z"/>
        <path class="st1" d="m50.1 31.2l1.2-0.8 4 6.5c0.5 0.8 0.7 1.7 0.5 2.5s-0.7 1.5-1.5 2-1.6 0.7-2.4 0.6-1.4-0.6-1.9-1.5l1.2-0.7c0.3 0.6 0.7 0.9 1.2 1s0.9 0 1.4-0.3 0.7-0.7 0.8-1.2 0-1-0.4-1.6l-4.1-6.5z"/>
        <path class="st1" d="m60.3 38.1l-1.3 0.5-4.2-9.8 1.3-0.6 4.2 9.9z"/>
        <path class="st1" d="m62.7 32.3l1.1 4.5-1.4 0.3-2.6-10.3 3.5-0.9c1.1-0.3 2.1-0.2 2.8 0.1 0.7 0.4 1.2 1 1.4 2 0.1 0.5 0.1 1-0.1 1.5s-0.5 0.9-1 1.2c0.6 0 1.1 0.2 1.4 0.6s0.6 0.8 0.8 1.4l0.2 1c0.1 0.3 0.2 0.6 0.3 0.8s0.3 0.4 0.5 0.5v0.2l-1.4 0.4c-0.2-0.1-0.4-0.3-0.5-0.6l-0.3-0.9-0.2-0.9c-0.1-0.6-0.4-1-0.8-1.2-0.4-0.3-0.9-0.3-1.4-0.2l-2.3 0.5zm-0.3-1.1l2-0.5c0.8-0.2 1.3-0.5 1.6-0.9s0.3-0.9 0.2-1.5-0.4-1-0.8-1.2-1-0.3-1.7-0.1l-2.1 0.5 0.8 3.7z"/>
        <path class="st1" d="m76.6 32.3l-4 0.1-0.9 2.8h-1.5l3.6-10.8h1.2l4 10.6h-1.5l-0.9-2.7zm-3.6-1.1l3.2-0.1-1.7-4.5-1.5 4.6z"/>
        <path class="st1" d="m86.8 31.6l-4.4-0.8-0.8 4.6-1.4-0.3 1.8-10.4 6.6 1.2-0.2 1.1-5.2-0.9-0.7 3.6 4.4 0.8-0.1 1.1z"/>
        <path class="st1" d="m93.5 36.1l-3.7-1.5-1.9 2.2-1.4-0.5 7.5-8.5 1.2 0.5-0.4 11.3-1.5-0.6 0.2-2.9zm-2.9-2.4l3 1.2 0.3-4.8-3.3 3.6z"/>
        <path class="st1" d="m98.2 36.3l3.8-4.6 4.4 3-0.7 1.1-3.4-2.3-2 2.4c0.3 0 0.6 0 0.9 0.1s0.6 0.2 0.9 0.4c0.8 0.5 1.3 1.2 1.4 2.1s-0.1 1.7-0.7 2.6-1.3 1.4-2.1 1.7c-0.8 0.2-1.7 0-2.6-0.6-0.8-0.5-1.2-1.1-1.5-1.9-0.2-0.7-0.1-1.5 0.5-2.3l1.1 0.7c-0.3 0.5-0.4 1-0.3 1.4 0.1 0.5 0.4 0.8 0.8 1.1 0.5 0.3 1 0.4 1.5 0.2s1-0.6 1.4-1.2 0.5-1.1 0.5-1.7c0-0.5-0.3-1-0.8-1.3s-0.9-0.5-1.2-0.5-0.6 0.1-0.9 0.3l-1-0.7z"/>
        <path class="st1" d="m109.2 46.6c-0.8 0.9-1.7 1.3-2.7 1.4-0.9 0.1-1.8-0.3-2.5-1s-1.1-1.6-1-2.5 0.5-1.8 1.4-2.7l2.2-2.2c0.8-0.8 1.7-1.3 2.7-1.4s1.8 0.3 2.5 1 1.1 1.6 1 2.5-0.5 1.8-1.4 2.7l-2.2 2.2zm1.4-3.5c0.5-0.5 0.8-1.1 0.9-1.7s-0.1-1.1-0.6-1.5c-0.4-0.4-0.9-0.6-1.5-0.5s-1.1 0.4-1.6 0.9l-2.6 2.6c-0.5 0.5-0.8 1.1-0.9 1.7s0.1 1.1 0.5 1.5 0.9 0.6 1.5 0.5 1.1-0.4 1.6-0.9l2.7-2.6z"/>
                    </svg>
</div>