{*{if !$hide_form && $addons.call_requests.buy_now_with_one_click == "Y" && $product_amount && (!$smarty.session.auth.user_id || ($smarty.session.auth.user_id && $smarty.session.auth.order_count == 0))}*}
{*{if !$hide_form && $addons.call_requests.buy_now_with_one_click == "Y" && $product_amount}*}
{*<div class="mt15" id="cr_ocb">*}
{*    <div class="one_click_buy">*}
{*        {include file="common/popupbox.tpl"*}
{*        href="call_requests.request?product_id={$product.product_id}&obj_prefix={$obj_prefix}"*}
{*        link_text=__("call_requests.buy_now_with_one_click")*}
{*        text=__("call_requests.buy_now_with_one_click")*}
{*        id="call_request_{$obj_prefix}{$product.product_id}" link_meta="" content=""*}
{*        }*}
{*    </div>*}
{*</div>*}
{*<style>*}
{*  .one_click_buy {*}
{*  }*}
{*  .one_click_buy > a {*}
{*    background: #e65228;*}
{*    width: 92%;*}
{*    display: block;*}
{*    margin: auto;*}
{*    height: 50px;*}
{*    border-radius: 3px;*}
{*    color: #fff;*}
{*    font-weight: 700;*}
{*    display: flex;*}
{*    justify-content: center;*}
{*    align-items: center;*}
{*    text-decoration: none;*}
{*    text-transform: uppercase;*}
{*  }*}
{*</style>*}
{*{/if}*}
