{hook name="blocks:topmenu_dropdown"}

{if $items}
    <ul class="ty-menu__items cm-responsive-menu">
        {hook name="blocks:topmenu_dropdown_top_menu"}
            <li class="ty-menu__item ty-menu__menu-btn visible-phone">
                <a class="ty-menu__item-link">
                    <i class="ty-icon-short-list"></i>
                    <span>{__("menu")}</span>
                </a>
            </li>

        {foreach from=$items item="item1" name="item1"}
            {assign var="item1_url" value=$item1|fn_form_dropdown_object_link:$block.type}
            {assign var="unique_elm_id" value=$item1_url|md5}
            {assign var="unique_elm_id" value="topmenu_`$block.block_id`_`$unique_elm_id`"}

            <li class="ty-menu__item{if !$item1.$childs || $item1.category_id == 2161} ty-menu__item-nodrop{else} cm-menu-item-responsive{/if}{if isset($item1.active) || $item1|fn_check_is_active_menu_item:$block.type} ty-menu__item-active{/if}{if isset($item1.class)} {$item1.class}{/if}">
                    {if $item1.$childs}
                        <a class="ty-menu__item-toggle visible-phone cm-responsive-menu-toggle">
                            <i class="ty-menu__icon-open ty-icon-down-open"></i>
                            <i class="ty-menu__icon-hide ty-icon-up-open"></i>
                        </a>
                    {/if}
                    <a {if $item1_url} href="{$item1_url}"{/if} class="ty-menu__item-link {if $item1.category_id == 2161}pulse{/if}">{$item1.$name}</a>
                {if $item1.category_id == 991}
                <div class="ty-menu__submenu">
                    <ul class="ty-menu__submenu-items cm-responsive-menu-submenu" style="padding: 0;border: 0;width: 100%;left: 0;">
                        <li class="ty-top-mine__submenu-col" style="width: 100%;padding: 0;margin: 0;">
                            <a href="/index.php?dispatch=categories.view&category_id=991">
                            <img class="lazyload" data-src="https://hhstsyoejx.gjirafa.net/gj50/cka-ka-tre2.jpg" alt="Çka ka t're në Gjirafa50">
                            </a>
                        </li>
                    </ul>
                </div>
                {/if}
                {if $item1.category_id == 3433}
                    <div class="ty-menu__submenu">
                        <ul class="ty-menu__submenu-items cm-responsive-menu-submenu" style="padding: 0;border: 0;width: 100%;left: 0;">
                            <li class="ty-top-mine__submenu-col" style="width: 100%;padding: 0;margin: 0;">
                                <a href="{"categories.view&category_id=3433"|fn_url}">
                                    <img class="lazyload" data-src="https://hhstsyoejx.gjirafa.net/gj50/img/500000/img/6.jpg" alt="Çka ka t're në Gjirafa50">
                                </a>
                            </li>
                        </ul>
                    </div>
                {/if}
                {if $item1.category_id == 2161}
                <div class="ty-menu__submenu">
                </div>
                {elseif $item1.$childs}
                    {if !$item1.$childs|fn_check_second_level_child_array:$childs}
                    {* Only two levels. Vertical output *}
                        <div class="ty-menu__submenu">
                            <ul class="ty-menu__submenu-items bbox ty-menu__submenu-items-simple cm-responsive-menu-submenu">
                                {hook name="blocks:topmenu_dropdown_2levels_elements"}

                                {foreach from=$item1.$childs item="item2" name="item2"}
                                    {assign var="item_url2" value=$item2|fn_form_dropdown_object_link:$block.type}
                                    <li class="ty-menu__submenu-item{if isset($item2.active) || $item2|fn_check_is_active_menu_item:$block.type} ty-menu__submenu-item-active{/if}{if isset($item2.class)} {$item2.class}{/if}">
                                        <a class="ty-menu__submenu-link" {if $item_url2} href="{$item_url2}"{/if}>{$item2.$name|trim}</a>
                                    </li>
                                {/foreach}
                                {if isset($item1.show_more) && $item1_url}
                                    <li class="ty-menu__submenu-item ty-menu__submenu-alt-link">
                                        <a href="{$item1_url}"
                                           class="ty-menu__submenu-alt-link">{__("text_topmenu_view_more")}</a>
                                    </li>
                                {/if}

                                {/hook}
                            </ul>
                        </div>
                    {else}
                        <div class="ty-menu__submenu" id="{$unique_elm_id}">
                            {hook name="blocks:topmenu_dropdown_3levels_cols"}
                                <ul class="ty-menu__submenu-items bbox cm-responsive-menu-submenu">
                                    <li style="position: absolute; bottom: 0;height: auto;right: 10px; {if isset($item1.show_more) && $item1_url}  bottom: 20px; {/if}" class="mobile-dn">
                                        <h3 class="ty-mainbox-title__shadow" style="position: relative;">{$item1.$name}</h3>
                                    </li>
                                    {foreach from=$item1.$childs item="item2" name="item2"}
                                        <li class="ty-top-mine__submenu-col">
                                            {$id_path = $item2.id_path|replace:'/':'_'}
                                            {assign var="item2_url" value=$item2|fn_form_dropdown_object_link:$block.type}
                                            {assign var="item_img" value="https://hhstsyoejx.gjirafa.net/gj50/subcategories/{$id_path}%20{$item2.$name|replace:'/':'_'|lower|replace:'ë':'e'|replace:'Ç':'c'|replace:'ç':'c'}.jpg"}
                                            <img class="cat-icon lazyload" onerror="this.parentNode.removeChild(this)" data-src="{$item_img|replace:' ':'%20'}" title="{$item2.category}" alt="{$item2.category}"/>
                                            <div class="ty-menu__submenu-item-header{if isset($item2.active) || $item2|fn_check_is_active_menu_item:$block.type} ty-menu__submenu-item-header-active{/if}{if isset($item2.class)} {$item2.class}{/if}">
                                                <a{if $item2_url} href="{$item2_url}"{/if} title="{$item2.$name}" class="ty-menu__submenu-link">{$item2.$name}</a>
                                            </div>
                                            {if $item2.$childs}
                                                <a class="ty-menu__item-toggle visible-phone cm-responsive-menu-toggle">
                                                    <i class="ty-menu__icon-open ty-icon-down-open"></i>
                                                    <i class="ty-menu__icon-hide ty-icon-up-open"></i>
                                                </a>
                                            {/if}
                                            <div class="ty-menu__submenu">
                                                <ul class="ty-menu__submenu-list cm-responsive-menu-submenu">
                                                    {if $item2.$childs}
                                                        {hook name="blocks:topmenu_dropdown_3levels_col_elements"}
                                                        {foreach from=$item2.$childs item="item3" name="item3"}
                                                            {assign var="item3_url" value=$item3|fn_form_dropdown_object_link:$block.type}
                                                            <li class="ty-menu__submenu-item{if isset($item3.active) || $item3|fn_check_is_active_menu_item:$block.type} ty-menu__submenu-item-active{/if}{if isset($item3.class)} {$item3.class}{/if}">
                                                                <a{if $item3_url} title="{$item3.$name}" href="{$item3_url}"{/if}
                                                                        class="ty-menu__submenu-link">{$item3.$name|trim}</a>
                                                            </li>
                                                        {/foreach}
                                                        {if isset($item2.show_more) && $item2_url}
                                                            <li class="ty-menu__submenu-item ty-menu__submenu-alt-link">
                                                                <a href="{$item2_url}" title="Më shumë"
                                                                   class="ty-menu__submenu-link">{__("text_topmenu_view_more")}</a>
                                                            </li>
                                                        {/if}
                                                        {/hook}
                                                    {/if}
                                                </ul>
                                            </div>
                                        </li>
                                    {/foreach}
                                    {if isset($item1.show_more) && $item1_url}
                                        <li class="ty-menu__submenu-dropdown-bottom">
                                            <a href="{$item1_url}" title="{$item1.$name}">{__("text_topmenu_more", ["[item]" => $item1.$name])}</a>
                                        </li>
                                    {/if}
                                </ul>
                            {/hook}
                        </div>
                    {/if}

                {/if}
            </li>
        {/foreach}

        {/hook}
    </ul>
{/if}
{/hook}
