<span data-design="design1" class="design1 {if $runtime.mode == 'add'}active{/if}"></span>
<span data-design="design2" class="design2"></span>
<span data-design="design3" class="design3"></span>
<span data-design="design4" class="design4"></span>
<span data-design="design5" class="design5"></span>