#scrollbarmobile {
    position: fixed;
    top: 50%;
    right: 10px;
    height: 150px;
    background: rgba(0, 0, 0, .25);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 5;
    width: 2px;
    margin-top: -75px;
    overflow: hidden
}

.bf-cover,
.image-wrapper,
.product,
.product-inner {
    position: relative
}

#scrollbarmobile span {
    background: #e65228;
    height: 0;
    width: 100%;
    position: relative;
    float: left;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s
}

.text-light {
    font-weight: 300
}

.text-linethrough {
    text-decoration: line-through
}

.bnow {
    font-size: 20px;
    font-weight: bolder
}

.tygh-content {
    background-color: #e5e5e5
}

.text-bold {
    font-weight: 700
}

.tygh-content>.container-fluid {
    max-width: 100%;
    padding: 0;
    width: 100%
}

.ty-menu__item .ty-menu__item-link {
    background: #171717;
    color: #b6b6b6;
    border-color: #222;
    height: 100%
}

input.ty-search-block__input {
    background: #1e1e1e
}

.bf-cover{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bf-cover, #bf-vid{
	height:650px;
}

.bf-cover video {
    width: 100%;
    height: 100%
}

.bf-bottom {
    padding-bottom: 155px;
    text-align: center;
    color: #eee
}

#bf-countdown,
.bf-bottom h1 {
    color: #fff
}

video::-webkit-media-controls {
    display: none!important
}

.product {
    padding: 2.5px;
    width: 25%;
    float: left
}

.product a {
    text-decoration: none
}

.product:hover .product-inner {
    -webkit-box-shadow: 0 0 25px -3px #00052;
    -moz-box-shadow: 0 0 25px -3px #00052;
    box-shadow: 0 0 25px -3px #00052;
    z-index: 1
}

.product:hover .title {
    color: #e65228
}

.product.small .product-inner {
    padding: 15px;
    min-height: 380px
}

.product.medium {
    width: 50%
}

.image-wrapper {
    height: 250px
}

.product .title {
    font-weight: 500;
    color: #777;
    text-align: center;
    height: 40px;
    margin-bottom: 20px
}

.product.medium,
.product.medium .title {
    text-align: right
}

.product-inner {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    padding: 15px
}

.product.medium .product-inner {
    padding-left: 45%;
    min-height: 170px
}

.product.medium .image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    max-height: 100%
}

.product img {
    max-height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#bf-countdown,
.box,
.boxb,
.category-header {
    position: relative
}

.product.medium .save-percentage {
    background: #161616;
    padding: 7px 20px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: -10px;
    font-weight: 300;
    color: #fff
}

#bf-countdown,
.product.medium .save-percentage span {
    color: #e65228;
    font-weight: bolder
}

.product.medium .nprice,
.product.medium .oprice {
    display: inline-block;
    margin-left: 10px;
    text-align: right
}


.product .stockimage {
    width: 45px;
    position: absolute;
    right: 15px;
    top: 75px;
    left: auto;
    bottom: auto;
    z-index: 1
}

.product.medium .stockimage {
    left: 10px;
    right: auto;
    top: 10px
}

.modal-content .stockimage {
    display: none !important
}

#products {
    margin-top: -125px;
    margin-bottom: 100px
}

#bf-countdown {
    font-size: 50px;
    margin: 10px 0 30px;
    z-index: 1
}

#bf-countdown span {
    color: #fff;
    font-weight: 300;
    font-size: 53px
}

.qmark {
    opacity: .3
}

.box {
    max-width: 50%;
    float: left;
    width: 25%;
    padding: 0 2%
}

.boxes {
    margin-bottom: 50px
}

.boxb {
    margin-top: 100px
}

img {
    vertical-align: top
}

.product.small .price-wrapper,
.product.small .save-percentage {
    width: 50%;
    box-sizing: border-box;
    float: left
}

.product.small .price-wrapper h2 {
    margin: 0
}

.product.small .save-percentage {
    text-align: center;
    margin: 0
}

.product.small .save-percentage strong {
    display: block;
    font-weight: 400;
    font-size: 15px
}

.product.small .price-wrapper {
    float: left;
    padding: 5px;
	margin-bottom: -10px
}

.product.small .nprice{
	font-size:30px;
}

.product.small .save-percentage {
        padding: 11px 8px 8px 8px;
    color: #fff
}

.product.small .save-percentage span {
	font-size:24px
}

.product.small .bnow {
    margin-top: 20px;
    width: 100%
}

.category-header {
    float: left;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px
}

div#category-menu {
    position: fixed;
    right: 25px;
    top: 50%;
    -webkit-clip-path: polygon(20% 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(20% 10%, 100% 0, 100% 100%, 0 100%);
    background: #000;
    padding-top: 15px;
    min-width: 204px;
    margin-top: -80px;
    z-index: 5;
    padding-bottom: 10px;
}

.orange-label,
.top-product,
.white-label {
    position: relative
}

div#category-menu a {
    display: block;
    padding: 5px 10px;
    color: #bfbfbf;
    font-weight: 300;
    text-align: right
}

div#category-menu a.active {
    font-weight: bolder;
    background: #e65228;
    color: #fff
}

.rbko .title {
    background: #ff0;
    margin: -15px;
    padding-top: 20px;
    font-weight: 700;
    color: #000
}

.rbko .rbkobbnow,
.rbko .save-percentage span {
    color: #ff0!important
}

.rbko .rbkobbnow {
    background: #000!important;
    margin-top: 5px!important;
    margin-left: 0
}

.rbko .image-wrapper {
    max-height: 233px
}

.orange-label,
.white-label {
    width: 100%;
    padding: 10px
}

.white-label {
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    clip-path: polygon(2% 0, 98% 0, 95% 100%, 5% 100%);
    z-index: 2;
    font-weight: 700;
    font-size: 16px
}

.orange-label {
    background-color: #e65228;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    text-align: right;
    padding-right: 20px;
    top: -25px;
    z-index: 0;
    padding-top: 35px
}

.no-margin {
    margin: 0
}

.usave {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 25px;
    background: #fff;
    border-radius: 100%;
    border: 8px solid #171617;
    height: 70px;
    width: 70px;
    font-weight: bolder
}

.usave span {
    font-size: 13px;
    line-height: 1;
    display: block;
    padding-top: 7px;
    font-weight: 500
}

.orange-label h1 {
    font-size: 35px
}

.orange-label h2 {
    color: #fff!important;
    text-decoration: line-through
}

@media screen and (max-width:768px) {
    .container-fluid {
        padding: 0 2.5px
    }
    .product.medium {
        width: 100%
    }
    .product.small {
        width: 50%;
        float: none;
        display: inline-block;
        vertical-align: middle
    }

    .product.small .product-inner {
        padding: 7px;
		min-height:auto;
    }
    video {
        display: none
    }
    .bf-cover {
        margin-top: -11px
    }
    .product.small .price-wrapper h2 {
        text-align: center;
        margin: 0 auto;
        display: inline-block
    }
    .product.small .oprice {
        font-size: 13px
    }
	.product.small .save-percentage{
		    padding: 5px 3px 3px 3px;
	}
    .product.small .save-percentage strong {
        display: block;
        font-weight: 400;
        font-size: 13px
    }
    .product.small .save-percentage span {
        color: #e65228;
        font-weight: 900
    }
    .product.small .bnow {
        width: 100%;
        font-size: 13px
    }
    .product.small .price-wrapper,
    .product.small .save-percentage {
        width: 100%;
        text-align: center
    }
    .product.medium .image-wrapper {
        position: relative;
        width: 100%;
        height: 170px;
        margin: 0
    }
    .product.medium .product-inner {
        padding-left: 30px
    }
    .product.medium,
    .product.medium .title {
        text-align: center
    }
    .image-wrapper {
        height: 180px
    }
    .product .title {
        height: auto;
        margin-bottom: 5px
    }
    .bf-cover {
        background-image: url(500500.png);
        height: 470px;
        background-size: contain;
        background-color: #161616
    }
    #bf-countdown {
        margin-bottom: 20px
    }
    #bf-countdown,
    #bf-countdown span {
        font-size: 25px
    }
    #bf-countdown .startat {
        display: block
    }
    .box {
        width: 100%;
        padding: 0;
        max-width: 100%;
        margin: 0
    }
    .box img {
        max-height: 220px;
        padding-bottom: 20px
    }
    .tygh-top-panel {
        height: auto
    }
    #tygh_main_container {
        padding-top: 50px
    }
    .ty-search-block {
        display: none!important
    }
    .product.small .bnow {
        margin-top: 7px
    }
    .product.small .save-percentage {
        margin-top: 10px
    }
    .rbko .title {
        margin: -7px;
        padding-top: 20px
    }
    .white-label {
        padding: 10px 20px
    }
    .top-product {
        padding: 0 50px
    }
    .startat {
        display: block
    }
    .usave {
        left: 25px
    }
    .bf-bottom{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom:125px;
    }
    .bf-cover{
        height:330px;
        background-position: top center;
    }
    #products{
        margin-top:-75px;
    }
}

@media screen and (max-width:1200px) {
    #category-menu {
        display: none!important
    }
}

@media screen and (min-width:769px) and (max-width:1280px) {
    .rbko .rbkobbnow {
        font-size: 16px
    }
}

@media screen and (max-width:768px) and (min-width:500px) {
    .tygh-content {
        padding: 0!important
    }
    #products {
        padding: 30px
    }
}

img.box {
    max-width: 50%;
}

.close,
.modal {
    text-align: center
}

.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .7)
}

.modal-content,
.product.bundle img {
    position: relative
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    top: 30%;
    margin-top: -70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.modal-content img {
    max-height: 150px;
    margin: 0 auto;
    display: block
}

.close {
    color: #000;
    float: right;
    font-size: 48px;
    width: 40px;
    height: 40px;
    line-height: 40px
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.rbkof .bnow {
    background-color: #ff0!important;
    color: #000
}

.rbkof .save-percentage span {
    color: #ff0!important
}

.outlet-icon {
    width: 50px;
    z-index: 5;
    bottom: auto!important;
    left: auto!important;
    height: 50px;
    margin: 10px!important
}

.product.bundle .product-inner {
    padding: 5px!important
}

.sold-out-bf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eeeeeec2;
}

.catimg{margin:0!important;padding:2.5px}.catimg-inner{background:#060606;background:-moz-linear-gradient(left,#060606 49%,#fff 55%,#fff 100%);background:-webkit-linear-gradient(left,#060606 49%,#fff 55%,#fff 100%);background:linear-gradient(to right,#060606 49%,#fff 55%,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#060606', endColorstr='#ffffff', GradientType=1 )}

.tygh-footer {
    height:auto;
}
.catimg {
    padding:2.5px 3.5px;
}

@media screen and (max-width: 768px) {
    .product.small .product-inner {
        min-height:315px !important;
    }
    .product .title {
        min-height:54px;
    }
}