{assign var="type" value=$smarty.get.type}
{assign var="product_id" value=$smarty.get.product_id}
{assign var="whatever" value=$whatever}

{if $type == 'details'}
	<h1>DETAILS</h1>
	<h1>{$product_id}</h1>
    <h1>{$whatever}</h1>
{elseif $type == 'notify'}
	<div>
		<h1>NOTIFY</h1>
		<h1>{$product_id}</h1>
        <h1>{$whatever}</h1>
	</div>
{/if}