.grid-list{
  &:before, &:after{
    display: table;
    content: "";
    line-height: 0;
  }
  &:after{
    clear:both;
  }
}

.grid-list__rating{
  text-align: left;
  min-height:21px;
}

@media screen and (min-width: 769px) {
  .grid-list {
    .ty-grid-list__item--container {
      margin: 0;
      float: left;
    }
  }
}

@media screen and (max-width: 769px) {
  .product-content {
    .product-masonry {
      //overflow-x:hidden;
      height: auto !important;
      .ty-grid-list__item--container {
        position: relative !important;
      }
    }
  }
  .ty-product-bigpicture .ty-product-thumbnails__item img{
    max-height: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
  }
}

// @media screen and (min-width: 769px) and (max-width: 1280px){
//   .container-fluid{
//     width:960px;
//   }
//   .header-grid > .row-fluid:first-child{
//     width:960px;
//     .span7{
//       width: 40%;
//     }
//     .span5{
//       width:31%;
//       float: right;
//     }
//   }

//   body{
//     min-width:1000px;
//   }
//   .ty-menu__item .ty-menu__item-link{
//     font-size: 12px;
//     padding: 15px 11.5px;
//   }
// }

@media screen and (min-width: 521px) and (max-width: 769px){
  .product-masonry .ty-grid-list__item--container{
    width:33.3336% !important;
  }
}


.grid-list-icons {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  width: 50px;
  img{
    margin-bottom:70px;
  }
}



//
//.ty-product-block__button{
//>img{
//  float:left;
//  max-width:100px;
//  width:100px;
//  -webkit-transform: translate3d(-10px,0,0);
//  -moz-transform: translate3d(-10px,0,0);
//  -ms-transform: translate3d(-10px,0,0);
//  -o-transform: translate3d(-10px,0,0);
//  transform: translate3d(-10px,0,0);
//  transition:transform .4s ease, opacity .4s ease;
//  opacity:1;
//}
//}
//
//.ty-product-block__button:hover{
//>img{
//
//  -webkit-transform: translate3d(193px,0,0);
//  -moz-transform: translate3d(193px,0,0);
//  -ms-transform: translate3d(193px,0,0);
//  -o-transform: translate3d(193px,0,0);
//  transform: translate3d(193px,0,0);
//  opacity:0;
//}
//}