div.web-banner-main{
  .homepage-banners{
    margin: 10px 0;
  }
}

.web-banner-main, .web-banner-second{
  overflow: hidden;
}

.web-banner-second, .web-banner-main{
  overflow: hidden;
}

.homepage-banners .owl-carousel .owl-wrapper-outer {
  height: 320px;
  background: #111;
}

@media screen and (max-width: 1280px) and (min-width: 769px){
  .web-banner-second, .web-banner-main {
    height: 265px;
  }
}

#progressBar {
  background: #302e2f;
  position: relative;
  width: 100%;
}

#progressBar #bar {
  background: #e65228;
  height: 1px;
}

.homepage-banners .ty-banner__image-item {
  background: #231f20;
}

.owl-theme .owl-controls .owl-page span {
  background: #e65228;
}

.homepage-banners .owl-theme .owl-controls {
  margin-top: -25px;
  margin-right: 10px;
}

.homepage-banners .owl-pagination {
  text-align: center;
}

.homepage-banners .owl-theme .owl-controls .owl-page span {
  width: 8px;
  height: 8px;
}

.ty-banner__image-wrapper{
  margin-top:10px;
}

div.web-banner-second{
  margin: 0 !important;
  width: 25% !important;
  float: right;
  padding-left: 2.5px;
  .ty-banner__image-wrapper{
    margin:10px 0 10px 5px;
    height: 320px;
  }
}
.home-banner__placeholder{
  position: relative;
  min-height: 23.4vw;
}
.home-banner__placeholder:before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e15726;
  border-bottom-color: #e15726;
  animation: spinner .8s ease infinite;
}
.rmw-load.home-banner__placeholder:before{
  display: none;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

@media screen and (max-width: 768px){
  .homepage-banners {
    margin-top: -3px;
    margin-bottom: 13px;
  }
}
@media(max-width: 576px){
  .home-banner__placeholder{
    min-height: 80vw;
  }
}