body {
  overflow-x: hidden;
}

.text-light {
  font-weight: 300;
}

.overlay-menu {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 0;
  z-index: 10;
  transition: opacity 600ms, visibility 600ms;
  -webkit-transition: opacity 600ms, visibility 600ms;
  -moz-transition: opacity 600ms, visibility 600ms;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
    height: 100%;
  }
}

.bbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**/
.ui-dialog .ui-dialog-titlebar {
  background: #888;
}

div.ui-dialog .ui-dialog-title {
  color: white;
}

.tygh-top-panel {
  padding: 2px 0px;
  border-bottom: 1px solid #333;
}

.ty-dropdown-box__title.open {
  border: 1px solid #959595;
  border-bottom: 0px;
}

.ty-currencies__item:hover {
  background: transparent;
  text-decoration: none;
}

.ty-social-link a:hover {
  color: white;
  text-decoration: none;
}

.ty-btn.ty-btn__text {
  text-transform: none;
  text-shadow: none;
  font-weight: normal;
}

.top-quick-links a:hover {
  text-decoration: none;
  color: #ccc !important;
}

.ty-sidebox {
  border: 1px solid #EAE9E5;
  padding: 10px;
}

.ty-product-filters__wrapper {
  margin: 0px -10px;
}

.ty-sidebox__title {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.ty-btn__big {
  padding: 6px 20px;
}

.ty-product-filters__wrapper {
  background: transparent;
}

.ty-horizontal-product-filters {
  margin-bottom: 0;
}

.ty-horizontal-product-filters .ty-product-filters__wrapper {
  margin: 0;
}

.ty-logo-container__image {
  max-width: 140px;
  max-height: 35px;
  position: relative;
  width: auto;
}

.ty-search-block {
  margin-top: 4px;
}

.tygh-header > div {
  padding-top: 0;
}

.ty-grid-list__item-name {
  a {
    font-size: 18px;
    font-weight: 700;
  }
}

.ty-grid-list__price, .ty-grid-list__item-name {
  margin: 0;
}

.ty-stars__icon {
  color: #aaa;
}

.ty-stars__icon.ty-icon-star {
  color: #f3c300;
}

#search_input,
#subscr_email12 {
  background: #4e4e4e;
  border-color: #4e4e4e;
}

.ty-footer-form-block__form .ty-btn-go {
  background: #222;
  border: 0;
}

.ty-cart-content__product-delete .ty-icon-cancel-circle {
  font-size: 26px;
  color: #e45227;
  top: 5px;
  position: relative;
}

.owl-theme .owl-controls-outside .owl-buttons div {
  line-height: 23px;
}

.notification-container {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
}

.notification-container .close {
  top: 14px;
  right: 12px;
  font-size: 40px;
}

.notification-content {
  margin: 0 !Important;
  text-align: center;
  font-size: 15px !important;
  border-radius: 0;
}

.top-my-account {
  margin-left: 0;
}

#cart-icon {
  position: absolute;
  left: 5px;
  top: 11px;
  width: 18px;
  height: 18px;
}

.ty-dropdown-box__title {
  padding: 12px 11px 12px 8px;
  padding-left: 15px;
  height: 17px;
  i {
    color: #fff !important;
  }
}

.ty-dropdown-box__title:hover {
  i {
    color: #000 !important;
  }
  #cart-icon {
    -webkit-filter: invert(100%);
  }
}

.ty-account-info__title {
  background: transparent;
}

.ty-product-block__button .ty-btn__add-to-cart {
  font-weight: bolder;
  padding: 15px;
  width: 70%;
  height: 50px;
  border-radius: 3px 0 0 3px;
  margin-right:-5px;
}

.homepage-content .products-header {
  text-align: center;
  margin: 40px 0;
  letter-spacing: -1px;
  color: #e65228;
  font-size: 35px;
}

.ty-dropdown-box__title:hover a,
.ty-dropdown-box__title:hover i {
  color: #000 !important;
}

.cart-count {
  color: #e65228;
  font-size: 18px;
  vertical-align: top;
  top: -6px;
  position: relative;
}

.owl-pagination {
  position: relative;
}

ul#social-header {
  padding: 5px 0 5px 0;
}

#social-header li {
  list-style-type: none;
}

ul#social-header li img {
  max-width: 15px;
  margin-right: 5px;
  top: -1px;
  position: relative;
}

ul#social-header li a {
  color: #d1d2d4;
  font-weight: 300;
  text-decoration: none;
}

.ui-dialog .ui-dialog-titlebar {
  background: #231f20;
}

.ty-logo-container {
  margin: 0;
}

.tygh-homepage .tygh-header {
  background: url(/images/50bg.jpg) center center !important;
  padding: 5% 0 20% 0;
  padding: 20px 0 260px 0;
}

.tygh-homepage .ty-logo-container img {
  max-width: 170px;
}

.tygh-homepage .tygh-content .homepage-banners {
  margin-top: -17%;
}

#relogin-link {
  font-weight: 200;
}

#relogin-link strong {
  color: #e65228;
}

.ty-checkout__relogin {
  padding-bottom: 0;
}

.ty-step__title-complete {
  background: #333;
}

.ty-step__title-complete a, .ty-step__title-complete i {
  color: #fff !important;
}

.ty-step__title-complete .ty-step__title-right .ty-btn {
  right: 5px;
  top: 5px;
}

.ty-step__title-active {
  background: #7d7d7d;
}

.ty-step__container-active .ty-step__title-left, .ty-step__title-arrow {
  color: #7d7d7d;
}

.ty-account-info {
  padding-bottom: 7px;
}

.ty-cart-items__list-item .ty-icon-cancel-circle {
  color: #e45227;
  font-size: 20px;
}

.footer-stay-connected {
  background: url('images/50bg.jpg') center center;
}

.ty-footer-grid__full-width {
  text-align: center;
}

.stay-connected h3, .ty-footer-form-block__title {
  color: #eee;
  font-weight: lighter;
  display: block;
}

.stay-connected h3 {
  padding-bottom: 15px;
}

.stay-connected img {
  max-width: 50px;
  margin: 0 1%;
}

.ty-footer-form-block__form {
  padding-bottom: 10px;
  width: 100%;
  max-width: 450px;
}

.footer-copyright a {
  font-weight: bolder;
}

.ty-product-block__note ul li {
  list-style-type: disc;
  margin-left: 30px;
  font-size: 13px;
  text-align: left;
}

.ty-product-bigpicture .ty-control-group__label {
  width: 50%;
}

.ty-price-num {
  font-size: 20px !important;
}

#content_description iframe, #content_description video {
  max-width: 100%;
}

#back-btn-breadcrumb {
  font-weight: bold;
  position: relative;
  padding-left: 20px;
  color: #a0a0a0;
}

#back-btn-breadcrumb .ty-icon-left-open-thin {
  font-size: 25px;
  position: absolute;
  left: 0;
  top: -5px;
}

.ty-payments-list {
  width: 100%;
  padding: 0;
}

.ty-payments-list__item {
  padding: 20px 0px 20px 0;
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
  &:nth-child(1) {
    padding-top: 10px;
  }
}

.ty-other-pay {
  margin-top: 0;
}

.ty-payments-list__item-title {
  font-weight: 700;
  color: #231f20;
  font-size: 18px;
}

.ty-payments-list__image {
  max-width: 90px;
}

.ty-payments-list__item-group {
  padding-left: 30px;
}

.ty-payments-list__description {
  margin-bottom: 0;
}

#det_img_13,
#det_img_22,
#det_img_33{
  max-width: 270px;
}

#det_img_21 {
  max-width: 185px;
}

.ty-payments-list__instruction {
  padding-left: 30px;
  margin-top: 25px;
  h3 {
    font-weight: lighter;
    margin: 0;
  }
  p {
    padding-top: 0;
  }
}

.ty-payments-list__instruction {
  width: 80%;
}

.ty-payments-list__instruction p {
  color: #e45227;
  font-weight: 700;
}

.ty-btn-buynow {
  width: 100%;
  background: #22bde6;
  background: -moz-linear-gradient(top, #22bde6 0%, #405aa9 100%);
  background: -webkit-linear-gradient(top, #22bde6 0%, #405aa9 100%);
  background: linear-gradient(to bottom, #22bde6 0%, #405aa9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22bde6', endColorstr='#405aa9', GradientType=0);
  border: 0;
  padding: 15px;
  font-weight: 700;
}

.ty-product-bigpicture__sidebar-bottom {
  width: auto;
  padding: 0px;
}

.ty-product-block__price-actual {
  margin: 0;
}

.ty-shipping-options__method {
  font-weight: 700;
  font-size: 18px;
  color: #222;
}

.add-to-cart-fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #e45227;
  border-radius: 100%;
  text-align: center;
  height: 90px;
  width: 90px;
  color: #fff !important;
  font-weight: bold;
  z-index: 1100;
}

.add-to-cart-fixed img {
  max-width: 25px;
  display: block;
  margin: 0px auto 5px auto;
}

.ty-tabs {
  border-bottom: 1px solid #e65228;
}

.ty-tabs__item.active, .ty-tabs .subtab.active {
  background: #e65228;
}

.ty-breadcrumbs {
  margin-bottom: 0;
}

.ty-product-bigpicture__left-wrapper {
  margin: 15px 350px 0 0;
}

.top-grid {
  max-width: 100%;
}

ty-thumbnails_gallery {
  margin-top: 45px;
}

.ty-control-group__item {
  font-weight: bold;
}

.ty-checkout-complete__order-success {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 155px;
}

.ty-checkout-complete__order-success p {
  font-size: 32px;
  color: #e65228;
  font-weight: bold;
}

.ty-checkout-complete__order-success p a {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.ty-checkout-complete_width_full {
  text-align: center;
}

.ty-footer-grid__full-width.footer-copyright a, .ty-footer-grid__full-width.footer-copyright h4 {
  color: #585858;
}

.ty-checkout-buttons {
  text-align: center;
}

.ty-checkout-buttons .ty-btn {
  padding: 10px;
  min-width: 150px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
}

.responsive-useracc {
  display: none !important;
  background: rgba(0, 0, 0, 0);
  color: #777;
  border-bottom: 1px solid #eee;
  padding: 15px 14px !important;
}

.ty-checkout-summary__total {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
}

.ty-checkout-summary__total div {
  font-weight: 700;
}

.ty-quick-view__wrapper .ty-discussion__rating-wrapper {
  display: none !important;
}

.ty-quick-view__wrapper .ty-product-block__note {
  padding: 0;
}

.ty-quick-view__wrapper {
  .starcard h3 {
    padding: 10px 0 10px 0;
    font-size: 13px;
  }
}

.grid-list__rating {
  text-align: center;
}

.grid-list__rating .ty-stars {
  margin-right: 0;
}

.breadcrumbs-grid .ty-banner__image-wrapper {
  margin-top: 15px;
}

#call-responsive {
  display: block;
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: lighter;
}

#call-responsive img {
  display: inline-block;
  width: 25px;
}

#call-responsive #call-now {
  display: block;
  margin-top: 7px;
}

#call-responsive #call-number {
  display: block;
  font-family: 'Roboto', sans-serif;
}

.ty-account {
  margin-top: 0;
}

.ui-dialog img {
  max-width: 250px;
}

.ty-quick-view__wrapper {
  .ty-product-bigpicture-thumbnails_gallery img {
    max-width: 35px;
  }
}

.top-grid {
  width: 1200px;
}

#text_links_4 {
  li {
    &:last-child {
      margin-right: 0;
    }
  }
}

.logo-wrapper #showMoreButton {
  float: left;
  background: transparent;
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 20px;
}

.choose-state {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  background: #222;
  z-index: 5;
  padding: 10px 62px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, max-height 0s ease 0.5s, padding 0s ease 0.5s;
  img {
    max-width: 115px !important;
  }
}

#showMoreButton:focus {
  color: #777;
}

#showMoreButton:focus + .choose-state {
  max-height: 50px;
  opacity: 1;
  transition: opacity 0.5s ease, max-height 0s ease;
}

.mobile-header.scroll {
  .choose-state {
    padding: 5px 50px;
    top: 44px;
  }
  .logo-wrapper {
    #showMoreButton {
      padding-top: 6px;
      padding-bottom: 0;
    }
  }
}

.country-switch-web {
  img {
    padding: 5px 10px;
    margin-right: -5px;
    &.active {
      background: #333;
    }
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .ty-menu__item .ty-menu__item-link {
    padding: 14px 11px;
  }

  .ty-price-slider__input-text {
    width: 62px;
  }
}

@media (min-width: 769px) {
  .tygh-top-panel {
    padding: 0;
  }
.fav-product{
  display:none !important;
}
  .touchevents .ty-mainbox-container .ty-grid-list__control, .touchevents .ty-grid-list__item:hover .ty-quick-view-button, .touchevents .ty-grid-list__item .ty-quick-view-button {
    display: block !important;
    visibility: visible !important;
  }

  .ty-grid-list__item-name {
    height: 45px;
  }

  .ty-payments-list__description {
    padding-right: 290px;
  }

  .ty-payments-list__image {
    float: right;
  }

  .fixed-header {

    min-height: 125px;

    & > .row-fluid:first-child {
      &:before {
        position: fixed;
        right: 0;
        background: #222;
        left: 0;
        content: '';
        width: 100%;
        height: 53px;
        top: 0;
        opacity: 1 !important;
      }
      position: fixed;
      top: 0 !important;
      transition: top .3s ease .25s;
      background: #222;
      width: 1200px;
      z-index: 101;
      padding: 5px 0 !important;
      margin: 0;
      box-sizing: border-box;

    }
  }
}

@media (min-width: 767px) {
  .ty-menu-vertical .ty-menu__submenu [class*="menu-level-"].ty-menu__item-active > .ty-menu__submenu-item-header .ty-menu__item-link {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .responsive-useracc {
    display: block !important;
  }

  .ty-sidebox__title-toggle {
    right: -8px;
  }

  .ty-sidebox__body {
    margin-top: 10px;
  }

  .ty-product-bigpicture .ty-previewer {
    margin-left: 0;
  }

  .ty-logo-container__image {
    max-width: 230px !important;
  }

  .top-logo-grid h3,
  .homepage-content .products-header {
    font-size: 24px !important;
  }

  .tygh-homepage .tygh-header {
    padding: 0px 0 90px 0 !important;
  }

  .top-my-account, .top-cart-content {
    margin: 0 !important;
  }

  #social-header {
    display: none;
  }

  .top-logo-grid {
    padding-top: 5px;
  }

  .homepage-banners .owl-carousel .owl-wrapper-outer {
    height: auto !important;
  }

  .ty-product-bigpicture .ty-product-bigpicture-thumbnails_gallery {
    padding-left: 0;
  }

  .ty-product-bigpicture .ty-product-block__note {
    text-align: left;
  }

  .ty-breadcrumbs .ty-product-switcher {
    position: absolute;
    top: 19px;
    padding: 0;
  }

  .ty-btn__add-to-cart {
    padding: 20px 20px;
  }

  .ty-payments-list__image {
    max-width: 60px;
  }

  #det_img_13 {
    max-width: 185px;
  }

  #content_description ul {
    display: none;
  }

  #content_description p.expandIco span {
    position: relative;
    display: block;
    width: 92%;
  }

  #content_description p.expandIco span:before {
    content: "\e019";
    position: absolute;
    font-family: glyphs;
    font-size: 15px;
    right: -15px;
    top: 0;
  }

  .add-to-cart-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    font-size: 10px;
  }

  .add-to-cart-fixed img {
    max-width: 20px;

  }

  #det_img_21 {
    max-width: 120px;
  }
}

/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/

#el_form_r {
  text-align: center;
  button#load_more {
    margin: 35px auto;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #e65228;
    color: #e65228;
    font-weight: bolder;
  }
}

.ty-grid-list__image {
  padding: 0;
  min-height: 280px;
}

.ty-product-bigpicture .ty-product-img {
  min-height: 215px;
}

.sold-out {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.5);
  h4 {
    border: 2px solid #e65228;
    color: #e65228;
    width: 90%;
    transform: rotate(-35deg);
    border-radius: 3px;
    font-weight: 500;
    box-shadow: 1px 1px 2px 0 #bebebe;
    background: rgba(255, 255, 255, .5);
  }
}

.ty-product-bigpicture__img__icons {
  position: absolute;
  right: 50px;
  top: 0;
  max-width: 150px;
  z-index: 5;
}

.__transport_icon {
  max-width: 100px;
  margin: 20px 0;
}

.__tshirt_icon {
  max-width: 125px;
}

.low_stock {
  position: relative;
  margin: auto;
  padding-top: 15px;
  width: 90px;
  height: 75px;
  background: #e45227;
  border-radius: 100%;
  color: #fff;
  box-shadow: 0 0 45px #e1e1e1;
  p {
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    margin-top: -8px;
  }
  span {
    display: block;
  }
}

.more-products {
  margin: 25px 0 25px 0 !important;
  text-align: center;
  font-size: 24px !important;
  color: #222;
}

.ty-grid-list__image {
  border: 0 !important;
}

.breadcrumbs-grid {
  position: relative;
}

.ty-grid-list__item {
  position: relative;
  background-color: #fff;
  div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.ty-grid-list__item-name .product-title {
  color: #757575 !important;
  font-weight: 400;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ty-grid-list__item-name, .ty-grid-list__price, .grid-list__rating {
  //padding: 0 10px;
}

.ty-quick-view-button .ty-btn {
  padding: 10px 20px;
  font-size: 12px;
  margin-top: 2px;
  text-shadow: none;
  position: relative;
  font-weight: bold;
  width: 100%;
  background: #e8e8e8;
  border: 0;
  box-shadow: none;
  color: #777;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  .bbox;
  &:hover {
    background: #e65228;
    color: #fff;
  }
}

img.one-day-shipping {
  position: absolute;
  right: 10px;
  top: 10px;
  max-width: 50px;
}

#contact-mob {
  padding: 10px 20px;
  a {
    padding: 0 !important;
  }
  .email {
    margin-bottom: 10px;
  }
  a, h6 {

    color: #999;
  }
}

.product-content {
  max-width: 100%;
  padding: 0;
}

.product-content > .row-fluid:nth-child(1), .product-content > .row-fluid:nth-child(2) {
  max-width: 1200px;
  margin: 0 auto;
}

.is-products {
  background-color: #fbfbfb;
  .product-masonry {
    max-width: 1200px;
    display: block;
    //margin: 0 auto;
    //width: 100%;
  }
}

span.ty-account-info__title-txt {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  height: 40px;
  right: 0px;
  line-height: 37px;
  width: 65px;
  background: #ddd;
  text-align: left;
  padding-left: 12px;
  z-index: 99;
  transform: translateX(200px);
  cursor: pointer;
  opacity: 1 !important;
  transition: transform .3s ease-in-out .3s;
  overflow: hidden;
}

.scroll-top-button svg {
  width: 20px;
  height: 20px;
  fill: #909090;
  vertical-align: middle;
  transition: margin-top .3s ease-in-out;
}

.recommended-products-accordion {
  &.accordion {
    background: linear-gradient(to bottom right, white, #F8F8F8);
    background: white;
    margin: 0 auto;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.15), 0 35px 50px -25px rgba(0, 0, 0, 0.15), 0 85px 60px -25px rgba(0, 0, 0, 0.05);
    margin-bottom: 80px;
  }

  .accordion-header {
    border-bottom: 1px solid #DDE0E7;
    color: #2a313a;
    cursor: pointer;
    font-weight: 700;
    padding: 1.5rem;
    float: left;
    width: 100%;
    background-color: #fff;
  }

  .accordion-header:hover {
    background: #F6F7F9;
  }

  .accordion-content {
    background: #F6F7F9;
    color: #4a5666;
    float: left;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .accordion-content-inner {
    padding: 1.5rem;
  }
  .accordion-content.active {
    height: 283px;
    border-bottom: 1px solid #DDE0E7;
  }
  .accordion-content a {
    text-decoration: none;
  }

  .accordion-header::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: .75rem;
    height: .75rem;
    background-color: #B1B5BE;
    margin-right: .75rem;
  }

  .active.accordion-header::before {
    background-color: #e65228;
  }
  .img {
    height: 130px;
    background: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 15px #eee;
    border-radius: 5px;
  }

  .ty-btn__add-to-cart {
    font-size: 11px;
    padding: 5px 10px;
  }
  .ty-cr-product-button {
    display: none;
  }
  div.img{
    img{
      height: 100%;
    }
  }
}

.cm-notification-content {
  .recommended-products-accordion {
    &.accordion {
      width: calc(~"100% + 40px");
      margin-left: -20px;
    }
    .accordion-header {
      padding: 10px;
    }
    .accordion-content-inner {
      padding: 10px 0;
    }
    .span2 {
      width: 85.5px;
      margin-left: 10px;
    }
    .img {
      height: 70px;
    }
  }
  .more-products {
    margin: 25px 0 5px -20px !important;
    font-size: 14px !important;
    width: calc(100% + 40px);
    border-top: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .recommended-products-accordion {
    .accordion-header {
      width: 110%;
      margin-left: -10px;
    }
    .accordion-content.active .accordion-content-inner {
      display: block;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
    .accordion-content-inner {
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .span2 {
      display: inline-block !important;
      width: 130px !important;
      margin-right: 5px;
    }
    .span2 h5 {
      min-height: 30px;
    }
  }

}

@media (min-width: 768px) {
  .is-products {
    .product-masonry {
      margin: 0 auto;
      width: 100%;
    }
  }
  .scroll-top-button {
    bottom: 50px;
    right: 0;
    height: 50px;
    width: 80px;
    line-height: 50px;
  }

  .scroll-top-button:hover svg {
    margin-top: -15px;
  }
}

//.span16.is-products.product-masonry {
//  margin-top: 40px;
//}

@media screen and (max-width: 768px) {
  span.ty-account-info__title-txt {
    max-width: 150px;
  }

  .mobile-header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24);
    position: relative;
    z-index: 2;
    background: #222;
    button#mobile-menu-toggle {
      float: left;
      background: rgba(0, 0, 0, 0);
      border: 0;
      font-size: 17px;
      height: 55px;
      width: 62px;
      color: #fff;
      padding-left: 10px;
      padding-right: 30px;
      padding-bottom: 2px;
      outline: 0;

    }

    img#m-logo {
      float: left;
      width: 103px;
      margin-top: 13px;
      margin-left: 0;
    }

    span.ty-minicart-title.empty-cart.ty-hand {
      display: none;
    }

    .ty-dropdown-box {
      float: right;
    }
    #search_input {
      height: 35px;
      //background: #fff;
      border: 0 !important;
      color: #fff;
      padding-left: 15px;
    }
    .ty-search-magnifier {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      width: 60px;
      height: 60px;
      line-height: 63px;
    }
    .ty-search-block {
      position: relative;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      border-top: 1px solid #444;
    }
  }

  .container-fluid.top-grid.container {
    padding: 0 !important;
  }

  .tygh-top-panel {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px #aaa;
    position: relative;
    z-index: 101;
    padding: 0 !important;
    height: 53px;
  }

  #tygh_main_container {
    padding-top: 116px;
  }

  .tygh-content {
    background-color: #fff;
    padding-top: 10px;
  }

  .product-masonry {
    //  .grid-list {
    .ty-grid-list__item--container {
      width: 50% !important;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin:0;
      margin-bottom: -1px;
      //padding: 0 4px;
      margin-left: -1px;

      .ty-pict {
        //min-width: 10px !important;
        //min-height: 10px !important;
        //max-width: 95%;
        //max-height: 250px;
      }
      .ty-grid-list__item-name .product-title{
        -webkit-line-clamp: 3;
      }

      .ty-grid-list__item {
        margin: 0;
        background: #fff;
      //  box-shadow: 0 0 6px -1px #ccc;
      }
    }
    //   }
    .ty-grid-list__image {
      padding: 0;
      border: 0;
    }
    .ty-grid-list__image .ty-no-image {
      border: 0px;
      min-width: 0px !important;
      max-width: 100%;
    }
    .product-title {
      font-size: 15px;
      min-height:1px !important;
    }
  }

  img.one-day-shipping {
    max-width: 30px;
  }

  .breadcrumbs-grid {
    display: none !important;
  }

  .tygh-content > div {
    padding: 0px;
  }

  /* cart */
  .ty-dropdown-box .ty-icon-down-micro {
    top: 13px;
    width: 7px;
    color: #fff;
  }

  #cart-icon {
    top: 20px;
  }

  .ty-dropdown-box__title {
    padding: 0;
    height: 55px;
    width: 60px;
    text-align: right;
    position: relative;
    padding-right: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 16px;
    span {
      display: none;
    }
    a {
      display: block;
      max-height: 57px;
    }
    .ty-icon-down-micro {
      top: 8px;
    }
    #cart-icon {
      left: auto;
      right: 28px;
      width: 20px;
      height: 20px;
      top: 17px;
    }
    .ty-icon-user {
      font-size: 16px;
      top: 6px;
      color: #fff;
      position: relative;
      line-height: 0;
    }
    div#sw_dropdown_570 {
      padding-right: 10px;
    }
    span.ty-minicart-title.ty-hand {
      display: inline-block !important;
      font-size: 0;
    }
    .cart-count {
      font-size: 20px;
      top: -6px;
    }

  }

  /* cart end */
  .ty-accordion .ui-accordion-header.ui-state-active {
    background: #fff;
    border: 1px solid #ddd;
    color: #222;
  }

  .ty-accordion .ui-accordion-header {
    padding: 12px;
  }

  .ty-product-bigpicture__right {
    background: #fff;
    margin: 30px 0 10px;
    padding: 0 10px 20px 10px;
    -webkit-box-shadow: inset 0 0 0 1px #d5d5d5, 0 0 6px 0 #d5d5d5;
    -moz-box-shadow: inset 0 0 0 1px #d5d5d5, 0 0 6px 0 #d5d5d5;
    box-shadow: inset 0 0 0 1px #d5d5d5, 0 0 6px 0 #d5d5d5;
  }

  .ty-product-bigpicture__left-wrapper {
    margin: 0 !important;
  }

  .tygh-footer {
    height: auto !important;
  }
}

.tygh-top-panel {
  .ty-text-links__active > .ty-text-links__a,
  .no-touch .ty-text-links__a:hover {
    color: #fff;
  }
}

//.product-masonry{
//  .ty-pagination__bottom{
//    display: none !important;
//  }
//}
//.mobile-header.scroll {
//  button#mobile-menu-toggle {
//    height: 40px;
//    width: 50px;
//    padding-right: 20px;
//  }
//  img#m-logo {
//    margin-top: 10px;
//  }
//  .ty-dropdown-box__title {
//    height: 40px;
//    padding-top: 8px;
//  }
//  .ty-dropdown-box__title {
//    #cart-icon {
//      top: 8px;
//    }
//  }
//  .ty-search-block {
//    padding: 5px 10px;
//  }
//  #search_input {
//    height: 30px;
//  }
//  .ty-search-magnifier {
//    height: 20px;
//    line-height: 40px;
//  }
//}

.ty-grid-list__item--container  {
  will-change: transform;
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}
//.ty-grid-list__item--container{
//  position: static !important;
//}

@media screen and (min-width: 769px) {
  .mobile-header {
    display: none !important;
  }

  .content-description {
    margin: 20px 0;
  }

}

.ty-breadcrumbs__slash {
  font-size: 0;
  &::before {
    content: "→";
    color: rgb(133, 133, 133);
    display: inline-block;
    font-size: 13px;
  }
}

.ty-breadcrumbs__a {
  color: #888;
}

.text-muted {
  color: #777;
}

.ty-quick-view-button {
  padding-top: 0;
  visibility: visible;
}

.vat-included-text {
  display: block;
  font-size: 10px;
  padding: 0 0 0 2px;
  margin: 0;
  [id^="old_price_update"] {
    display: block;
  }
}

.ty-grid-list__price {
  margin: 5px 0;
}

.ty-product-prices {
  margin: 0 !important;
}

#cart_items {
  .ty-pict {
    max-height: 130px;
  }
}

.ty-compact-list {
  .cm-image {
    min-width: 0px !important;
    min-height: 0px !important;
  }
}

.ty-mainbox-title {
  padding-left: 0;
  margin-top: 25px;
  color: #e65228;
}

.show-subcategories {
  color: #777;
  font-weight: 700;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 5px 5px 5px 0;
  display: none;
  outline: 0;
  margin-bottom: 7px;
  i {
    font-size: 25px;
    margin-left: 5px;
    position: absolute;
    right: -15px;
    top: 2px;
  }
}

.ty-pagination__item, .ty-pagination__selected {
  padding: 10px 12px !important;
}

.cat-icon {
  position: absolute;
  left: 15px;
  top: 5px;
  max-width: 60px;
}

.header-grid > .row-fluid:first-child {
  padding: 15px 0;
  top: -79px;
  &:before {
    opacity: 0;
    -webkit-transition: opacity .27s ease .1s;
    -moz-transition: opacity .27s ease .1s;
    -o-transition: opacity .27s ease .1s;
    transition: opacity .27s ease .1s;
  }
}

.ty-product-bigpicture__right {
  .ty-product-block__price-actual {
    padding-top: 20px;
  }
  .ty-price-num {
    font-size: 35px !important;
  }
}

.price-drop_productpage {
  .ty-save-price, .ty-list-price {
    color: #777;
    font-weight: 400;
  }
  .ty-strike {
    .ty-list-price {
      font-weight: 400;
    }
  }
  .old-price {
    margin-top: 15px;
  }
  .discount {
    padding: 10px 0;
    font-weight: 700;
    .ty-list-price {
      font-weight: 700;
      color: #d7461b;
      font-size: 15px;
    }
  }
}

.ty-product-bigpicture__right {
  position: relative;
}

#gjrecommend {
  position: absolute;
  top: -50px;
  right: -54px;
}

.__checkflex_proceed {
  font-weight: 700;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #gjrecommend {
    position: relative;
    top: -14px;
    float: right;
    z-index: 2;
    right: 0;
    img{
      width:75px !important;
    }
  }
  #gjrecommend ~ .product-price_inner small{
    display: none;
  }
  .product_howto {
    margin-top: 10px;
  }
  .more-products {
    font-size: 18px !important;
    text-align: left;
    margin: 10px 0 !important;
  }
  .ty-compact-list__image {
    width: 24% !important;
    position: absolute;
    left: 7px;
    top: 20px;
    .cm-image {
      min-width: 0px !important;
      min-height: 0px !important;
    }
  }

  .ty-compact-list__controls, .ty-compact-list__title {
    width: 72% !important;
    float: left;
    padding: 0;
    margin-left: 28%;
  }

  .ty-compact-list__title {
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .product-title {
      word-wrap: break-word;
    }
  }

  .ty-compact-list {
    .ty-control-group {
      margin-bottom: 2px;
    }
    .ty-price-num {
      font-size: 20px !important;
    }
    .ty-compact-list__price {
      padding-bottom: 0 !important;
    }
    .ty-compact-list__price {
      width: auto !important;
      display: block;
    }
  }

  .ty-sort-container {
    margin-top: 10px !important;
  }

  .ty-sort-container__views-a {
    width: 30px;
    height: auto;
    //line-height: 35px;
    text-align: center;
  }

  .show-subcategories {
    display: block;
  }

  //.ty-subcategories__item {
  //  margin: 3px 10px 3px 0px;
  //  width: 30%;
  //  display: -webkit-inline-box;
  //  -webkit-line-clamp: 1;
  //  -webkit-box-orient: vertical;
  //  overflow: hidden;
  //}
  .content-grid {
    padding: 0 7.5px !important;
  }

  .homepage .content-grid, .homepage .tygh-content {
    padding: 0 !important;
  }

  .homepage-content {
    padding: 0 7.5px !important;
  }

  .grid-list {
    //margin-right: -14px;
    //margin-left: -7px;
    width:  ~"calc(100% + 18px)";
    margin: 0 -7.5px;
    display: block;
  }

  .homepage-on-sale{
    //padding:0 7.5px;
  }

  .ty-mainbox-title {
    margin-top: 20px;
  }

  .ty-sidebox:last-child {
    margin-bottom: 10px;
  }

  .ty-sort-container {
    margin: 0 0 10px 0 !important;
  }

  .ty-sidebox__title {
    padding-bottom: 0;
  }

  .ty-product-bigpicture__img__icons {
    right: 0;
    max-width: 100%;
  }

  .__transport_icon {
    max-width: 75px;
    margin-right: 15px;
  }

  .__tshirt_icon {
    max-width: 80px;
  }

  .__transport_icon, .__tshirt_icon {
    margin: 10px 0;
  }

  .ty-product-bigpicture .ty-product-block-title {
    margin-bottom: 10px;
    font-size: 19px;
  }

  .ty-product-bigpicture__img {
    padding-top: 0;
  }

  .ty-product-bigpicture__img .ty-pict {
    max-height: 280px;
    margin: 5px 0 15px 0;
  }

  .ty-stars {
    margin: 0;
  }

  #cart_items .ty-pict {
    max-height: 80px;
  }

  .ty-table td, .ty-table .table td {
    padding: 10px;
  }

  .__checkflex_proceed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 0 0 20px #777;
    text-align: right;
    &:after {
      content: '';
      content: "\e01b";
      font-family: 'glyph';
      font-family: glyphs;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      position: relative;
      top: 2px;
      margin-left: 7px;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .tygh-content {
    padding: 30px !important;
  }

  .ty-sidebox:last-child {
    margin-bottom: 10px;
  }

  div.web-banner-main {
    width: 100% !important;
    padding: 0 !important;
    .homepage-banners {
      padding: 0 5px;
    }
  }

  .web-banner-second {
    display: none !important;
  }

}

.rplef {
  position: relative;
  overflow: hidden;
}

.rplef:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: #ddd;
  border-radius: 100%;
  opacity: .6;

  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.rplef:not(:active):after {
  animation: ripple 1s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
.rplef:after {
  visibility: hidden;
}

.rplef:focus:after {
  visibility: visible;
}

.last-company-field {
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.tygh-footer {
  min-height: 0 !important;
  -webkit-transition: height .3s ease;
  -moz-transition: height .3s ease;
  -o-transition: height .3s ease;
  transition: height .3s ease;
  overflow: hidden;
}

.footer-hidden {
  position: relative;
  height: 0;
  bottom: 0;
  overflow: hidden;
}

#scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #e8e8e8;
  z-index: 101;
  border: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #777;
  font-size: 38px;
  overflow: hidden;
  display: none;
}

.gjflex-option {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 5px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p {
    font-size: 13px;
  }
  .text-muted {
    font-size: 12px;
  }
  .gjflexno {
    margin-left: 15px;
  }
  input[type="radio"] {
    margin-right: 3px;
  }
  &.hiddenct {
    padding-left: 55px;
    .content {
      display: none;
    }
    img {
      max-width: 40px;
    }
  }
}

@media only screen and (max-width: 412px){
  .gjflex-option {
    .gjflexno {
      margin-left: -15px;
    }
  }
}

.no-margin {
  margin: 0;
}

.ty-grid-list__item {
  .sold-out {
    -webkit-background-size: 120px;
    background-size: 120px;
  }
}

.gjflex-option {
  position: relative;
  padding-left: 90px;
  img {
    position: absolute;
    left: 5px;
    top: 10px;
  }
}

.gjflex-option {
  position: relative;
}

.gjflex-option:before, .with_gjflex:before {
  transition: transform .4s ease, opacity .4s ease;
  -o-transition: transform .4s ease, opacity .4s ease;
  -ms-transition: transform .4s ease, opacity .4s ease;
  -webkit-transition: transform .4s ease, opacity .4s ease;
  -moz-transition: transform .4s ease, opacity .4s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  border: 6px solid #e65228;
  content: "";
  opacity: 0.9;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  visibility: hidden;
  pointer-events: none;
}

.gjflex-option.flash:before, .with_gjflex.flash:before {
  transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);

  visibility: visible;
  opacity: 0;
}

.with_gjflex.flash{
  padding:10px;
}
.with_gjflex--inner > div:first-of-type{
  cursor: pointer;
  font-weight: bold;
}
.with_gjflex--inner > div:last-of-type{
  text-align: left;
}

//li.ty-menu__item:last-child{
//  a.ty-menu__item-link{
//    color:#fff;
//    background:#e65228;
//    animation: flash 1s ease infinite;
//    border-radius: 0 3px 0 0;
//    border-right:0;
//  }
//}

.new-category {
  position: relative;
  right: -4px;
  a {
    color: #fff;
    background: #e65228;
    animation: flash 1s ease infinite;
  }

}

@keyframes flash {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.starcard {
  h3 {
    padding: 20px 10px 0 10px;
    font-weight: lighter;
    font-size: 15px;
  }
  img {
    display: inline;
    max-width: 100px;
  }
}

.ty-grid-list__item.ty-quick-view-button__wrapper {
  .starcard {
    display: none;
  }
}

#cart_items {
  td {
    vertical-align: middle;
  }
}

.ty-cart-remove {
  text-align: center;

  .ty-remove {
    background: #a0a0a0;
    color: white;
    text-align: center;
    border-radius: 0;
    width: 100%;
    padding: 5px 0;
  }
  .ty-icon-cancel {
    color: white !important;
  }
  .ty-twishlist-item__txt {
    color: white;
    font-weight: bold;
    margin-left: 7px;
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) {
  .ty-cart-remove {
    .ty-remove {
      border-radius: 100%;
      width: 20px;
      height: 20px;
      padding: 0;
      line-height: 21px;
      font-size: 10px;
      .ty-remove-txt {
        display: none;
      }
    }
  }

  .ty-cart-remove .ty-icon-cancel {
    margin: 0;
    font-size: 10px;
  }
}

.ty-product-filters {
  position: relative;
}

.search-box {
  clear: left;
  padding: 0.4em 70px 0.4em 0.4em !important;
  font-size: 1em;
  color: #9e9797;
  float: none;
  width: 97%;
}

.list-count {
  /*float:left;*/
  width: 30%;
  color: #8e8787;
  position: absolute;
  right: 17px;
  top: 12px;
  font-size: 9px;
  text-align: right;
  padding: 0;
  pointer-events: none
}

li.my_list {
  transition-property: margin, background-color, border-color;
  transition-duration: .4s, .2s, .2s;
  transition-timing-function: ease-in-out, ease, ease;
}

.empty-item {
  transition-property: opacity;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.empty .empty-item {
  transition-property: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
  transition-timing-function: ease;
  margin-left: -20px;
}

.hiding {
  margin-left: -100%;
  opacity: 0.5;
}

.hidden {
  display: none;
}

ul.ty-product-filters__variants {
  margin: -2px 0;
  overflow-x: hidden;
}

.empty-item {
  background: #fff;
  color: #8e8787;
  margin: 0.2em 0;
  padding: 0.5em 0.8em;
  border: none;
  text-align: center;
  display: none;
  opacity: 0;
  float: left;
  clear: left;
  width: 100%;
}

.empty .empty-item {
  opacity: 1;
  display: block;
}

.ty-cart-content_removeall {
  padding: 0 !important;
}

.ty-cart-content_removeall .ty-cart-remove .ty-remove {
  margin: 0;
  height: 25px !important;
  border-radius: 0 !important;
  background: #eee !important;
}

.ty-cart-content_removeall span, .ty-cart-content_removeall .ty-cart-remove .ty-icon-cancel {
  color: #404040 !important;
}

.ty-cart-content_removeall .ty-cart-remove .ty-icon-cancel {
  font-size: 13px !important;
  top: 1px !important;
}

.ty-cart-removeall-mobile {
  display: none !important;
}

@media all and (max-width: 767px) {
  .removeall-cart {
    float: none;
    margin: 10px 0;
    display: inline-block;
  }

  .ty-cart-removeall-mobile {
    display: block !important;
  }

  .ty-cart-removeall-mobile .ty-cart-remove a {
    float: none !important;
    margin: 0 0 17px !important;
  }

  .store_al {
    .ty-price-num {
      font-size: 22px !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .mobile-header button#mobile-menu-toggle {
    width: 47px;
    padding-right: 18px;
  }

  .logo-wrapper #showMoreButton {
    padding-left: 7px;
  }

  .store_al {
    .ty-price-num {
      font-size: 15px !important;
    }
  }
}

.order-steps {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.step {
  line-height: 70px;
  text-align: center;
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
  display: block;
}

.step span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ddd;
  vertical-align: middle;
  display: inline-block;
  margin: auto;
  box-shadow: 0 0 0 10px #fff;
  text-align: center

}

.step:last-child:before {
  display: none;
}

.step:last-child:after {
  display: none;
}

.step h3,
.step p {
  line-height: normal;
  color: #bbb;
}

.step h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

.step.active h3 {
  font-weight: 600;
  color: #e65228;
}

.step p {
  margin-top: 0;
  padding: 0 10px;
  max-width: 120px;
  margin: auto;
  font-size: 13px;
}

.step.active p {
  color: #333;
}

.step.active span {
  width: 70px;
  height: 70px;
  background: #e65228;
}

.step:after,
.step:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #ddd;
  top: 35px;
  margin: auto;
  width: 100%;
  z-index: -1;
}

.step.current:after {
  width: 50%;
  background: #666;
}

.step.active:after {
  background: #f00;
}

.active:last-child:after {
  width: 50%;

}

.step img,
.step svg {
  display: none
}

.step.active img,
.step.active svg {
  display: inline-block;
}

.order-steps .step img,
.order-steps .step svg {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  fill: #fff;
}

.step.cancel img {
  width: 35px;
  height: 35px;
}

.step.cancel:after {
  background: none;
}

@media (max-width: 768px) {
  .order-steps {
    display: block;
  }

  .step {
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 60px;
  }

  .step h3 {
    margin-top: 0;
  }

  .step:after {
    display: none;
  }

  .step:before {
    top: auto;
    bottom: -5px;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    left: 25px;
  }

  .step.active:before {
    background: #e65228;
  }

  .step.current:before {
    background: #ddd;
  }

  .step.active span {
    margin-left: 0;
    height: 60px;
    width: 60px;
  }

  .step span {
    display: inline-block;
    box-shadow: none;
    margin-left: 10px;
  }

  .step p {
    padding: 0;
    max-width: 100%;
  }

  .step .st-text {
    display: inline-block;
    position: absolute;
    left: 85px;

  }
}

.box-terms {
  width: 990px;
  margin: 0 auto;
  margin-top: 3%;
  height: 600px;
  overflow-y: scroll;
}

#terms-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#terms-scroll::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#terms-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #e9d8d8;
}

.terms-content {
  width: 90%;
}

@media (max-width: 768px) {
  .box-terms {
    width: 340px;
    height: 450px;
    margin-bottom: 5px;
  }

  .other-products-cart {
    max-height: 300px !important;
    overflow: auto;
    margin: 0 !important;
  }

  .notification-content-extended {
    top: 0px;
  }
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.share-checkout-container {
  margin-right: 0;
  margin-left: 0;
}

.card-product-checkout {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 5px;
  border: 1px solid #eee;
  border-bottom: 0;
}

.card-product-checkout:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-product-checkout img {
  border-radius: 5px 5px 0 0;
  height: 100%;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  /*width: 50%;*/
}

.image-container {
  height: 160px;
}

.container-card {
  padding: 15px 10px 0px 10px;
}

.container-card h4 {
  margin-top: 5%;
  font-size: 12px;
}

.card-product-checkout {
  .resp-sharing-button__link {
    font-size: 15px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    float: left;
    margin: 0;
    box-sizing: border-box;
  }
}

.share-p-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.share-box-item {
  max-width: 20%;
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
}

.checkout-also-bought-wrapper {
  margin-top: 5%;
}

.sliderWrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  height: auto;
  margin-bottom: 20px;
}

.sliderWrapper > .left {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 40;
  margin: 0px;
  color: #6e6b6b;
  left: 0px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 30px;
  box-shadow: 0 0 5px 0 #ddd;
  background: #fff;
}

.sliderWrapper > .right {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 40;
  margin: 0px;
  color: #6e6b6b;
  right: 0px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 30px;
  box-shadow: 0 0 5px 0 #ddd;
  background: #fff;
}

.sliderWrapper > .right :hover {
  color: #6e6b6b;
}

.sliderWrapper > .left :hover {
  color: #6e6b6b;
}

.innerWrapper {
  white-space: nowrap;
  transition: transform 0.3s ease;

}

.slidItem {
  position: relative;
  width: 260px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 3px 8px #a4a4a473;
}

.imgHolder {
  display: block;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.imgHolder > img {
  height: 150px;
  object-fit: contain;
}

.slidItem > h4 {
  text-align: center;
  margin: 0px 15px;
  border-bottom: 1px solid rgb(181, 181, 181);
  padding: 20px 0px;
  height: 25px;
  overflow: hidden;
}

.social {
  margin: auto;
  padding: 10px 0px 25px;
  text-align: center;
}

.social a {
  margin: 0px 3px;
  display: inline-block;
}

.checkout-also-bought-title {
  color: #e65228;
  font-size: 24px;
}

@media (max-width: 767px) {
  .share-checkout-container {
    height: auto;
  }

  .share-p-wrapper {
    padding-left: 5px;
  }

  .container-card h4 {
    min-height: 45px;
  }

  .share-box-item {
    max-width: calc(50% - 10px);
  }

  .checkout-also-bought-wrapper {
    margin-top: 10%;
  }

}

.imgHolder {
  text-align: center;
}

.checkout-also-bought-wrapper {
  text-align: center;
}

.checkout-also-bought-wrapper .innerWrapper {
  padding: 10px 0;
}

.column-checkout .container-card {
  height: 50px;
  overflow: hidden;
}

.checkout-also-bought-wrapper .left svg,
.checkout-also-bought-wrapper .right svg {
  height: 20px;
  vertical-align: middle;
  fill: #333;
}

.review-button {
  margin: 10px auto;
  text-align: center;
  width: 160px;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  background-color: #e65228;
}

.review-button a {
  color: #ffffff !important;
  text-decoration: none;
}

.load_more_category a {
  font-weight: 600;
  margin-top: 30px;
  padding: 6px 25px;
  margin-bottom: 30px;
}

#verifyAcc {
  width: 100%;
  overflow: hidden;
  transition: height .2s ease-in-out;
  height: 0;
  border: none;
  display: block;
}

#iframe_cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  //height: 0;
  height: 55px;
  border: 0;
  outline: 0;
  display: none;
}

@media screen and (max-width: 767px) {
  #iframe_cookie {
    height: 115px;
  }
}

.vat-included-custom-style {
  font-size: 10px;
  font-weight: bold;.grid-list
}

#filter-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#filter-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

#filter-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #b9b4b4;
}

.ty-footer-grid__full-width.footer-copyright {
  background: #111;
  border-top-color: #333;
  padding: 20px 0;
  text-align: center;
}

.ty-footer-grid__full-width.footer-copyright h4 {
  margin: 0;
}

.ty-footer-grid__full-width.footer-copyright a {
  color: #585858;
}

#cc-link_footer {
  margin-bottom: 15px;
  display: block;
  color: #ccc;
}

.before_order_message{
  padding: 5px;
  background: #7b1919;
  color: #fff;
  border-radius: 3px;
  font-weight: 300;
}


.vip_member{
  #gjrecommend {
    top: -38px;
  }
  .crown_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #333;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0px;
    text-shadow: 0 0 0.5px #000;
  }
  #gjrecommend{
    img{
      width:60px !important;
    }
  }
  .crown{
    color: #333;
    margin-left: 5px;
    margin-bottom: -1px;
  }
  .product-price_inner{
    -webkit-animation: vip_price_bg ease-in 5s infinite;
    animation: vip_price_bg ease-in 5s infinite;
  }
}

.grid-list{
  .crown{
    position: absolute;
    top: 0;
    right: 42%;
    width: 30px;
    margin: 5px;
    pointer-events: none;
  }
}

@-webkit-keyframes vip_price_bg {
  0%     {background-color:#eee;}
  50.0%  {background-color:#eaba2e;}
  100.0%  {background-color:#eee;}
}

@keyframes vip_price_bg {
  0%     {background-color:#eee;}
  50.0%  {background-color:#eaba2e;}
  100.0%  {background-color:#eee;}
}

@media (min-width: 769px){
  .vip_member{
    .crown_wrapper{
      width: 100%;height: 70px;background: #eaba2e;border-radius: 5px 5px 0 0;font-weight: 900;font-size: 13px;line-height: 40px;padding: 0 20px;background: rgb(234,186,46);text-shadow: 0 0 0.5px #000;background: linear-gradient(180deg, rgba(234,186,46,1) 0%, rgba(255,255,255,0.5690651260504201) 70%, rgba(255,255,255,1) 100%);margin-bottom: -50px;
    }
    #gjrecommend{
      img{
        width:103px !important;
      }
    }
    .crown{
      position: absolute;right: 0;top: -45px;width: 70px;left: 0;margin: auto;z-index: -1;
    }
    .product-price_inner{
      -webkit-animation: none;
      animation: none;
    }
  }
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS
  body{
    //border:20px solid;
  }
  .product-masonry {
    .ty-grid-list__item--container{
      width: 33.336% !important;
      .ty-pict{
        max-width: 65%;
      }
    }
  }
}

.tltip{
  position: absolute;
  background: #efb81b;
  padding: 8px 5px 5px 5px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0 #00000052;
  top: -5px;
  transition: transform .4s ease, opacity .4s ease;
  opacity: 0;
  transform: translate3d(0,0,0);
  right: 0;
  pointer-events: none;
  line-height: 1.3;
  width: 100%;
  z-index: 101;
}

.tooltip-top:hover ~ .tltip{
  transform:translate3d(0,-50px,0);
  opacity:1;
}


.ty-section__title.cm-combination{
  background-color: #e65228;
  color: white;
  transition: .2s ease;
  box-shadow: 0px 1px 6px 0px #a2a2a2;
  &.open{
    background-color: #d44921;
    transition: .2s ease;
  }
  &:hover{
    box-shadow: none;
    background-color: #d44921;
    transition: .2s ease;
  }
}
.ty-profile-field.ty-account .profile__fields-wrapper{
  display: flex;
  flex-wrap: wrap;
  &, & *{
    box-sizing: border-box;
  }
  .ty-subheader{
    width: 100%
  }
  .ty-control-group{
    width: 50%;
    &:nth-of-type(odd){
      padding-left: 10px;
    }
    &:nth-of-type(even){
      padding-right: 10px;
    }
    &:nth-of-type(1){
      padding-left: 0px;
      padding-right: 10px;
    }
    &:nth-of-type(2){
      padding-right: 0px;
      padding-left: 10px;
    }
    &:nth-of-type(3){
      padding-left: 0px;
      padding-right: 10px;
    }
    &:nth-of-type(4){
      padding-right: 0px;
      padding-left: 10px;
    }
    &.last-company-field{
      border: none;
      position: relative;
      &:before{
        content: "";
        border: 1px solid #eee;
        width: 200%;
        position: absolute;
        top: 100%;
        left: -100%;
      }
    }
    &.ty-telefoni-faturimit{
      order: 12;
      padding-left: 0;
      padding-right: 10px;
    }
  }
  .ty-adresa-faturimit-rreshti2{
    align-self: flex-end;
  }
}
.ty-profile-field__switch{
  border: none;
  background-color: #f2f2f2;
}
.ty-profile-field__buttons{
  margin-bottom: 30px !important;
}

@media(max-width: 767.98px){
  .ty-profile-field__buttons{
    margin-bottom: 0px !important;
  }
}
@media(max-width: 575.98px){
  .profile__fields-wrapper{
    .ty-control-group{
      width: 100%;
      padding: 0 !important;
      &.last-company-field{
        &:before{
          display: none;
        }
      }
      &.ty-telefoni-faturimit{
        order: 0;
      }
    }
    .ty-adresa-faturimit-rreshti2{
      padding-top: 15px !important;
    }
  }
  .profile-content-grid{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .ty-account-detail{
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 768px){
  #gjrecommend{
    top: 8px !important;
  }
  .product-price_inner .price-drop_productpage .discount{
    padding-top: 20px !important;
  }
  .price-drop_productpage .discount .ty-list-price{
    font-size: 12px !important;
  }
  .ty-product-bigpicture__prices{
    min-height: 18px;
  }
  .price-drop_item{
    display: block;
    margin: 5px 0;
  }
  #gjrecommend ~ .product-price_inner small#without-vat{
    margin-top: 3px !important;
  }
}
