#deal-of-the-day {
  border-right: 8px solid #bd4420;
  position: relative;
  float: left;
  width: 100%;
  margin: 30px 0;
  /*box-shadow: 10px 0px 32px -5px rgba(0, 0, 0, 0.3);*/
  box-shadow: 10px 0px 32px 5px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff url(images/icons/dod-bg.jpg) no-repeat right top;
}

#deal-of-the-day a {
  text-decoration: none !important;
}

#deal-of-the-day .no-mg {
  margin: 0;
}

#deal-of-the-day:after {
  content: '';
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  right: -8px;
  z-index: -1;
  border-right-width: 1170px;
  border-right-style: solid;
  border-right-color: #bd4420;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
}

.dod-img {
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 280px;
}

.dod-content {
  width: 50%;
}

.dod-countdown {
  width: 25%;
  text-align: center;
}

.dod-img, .dod-content, .dod-countdown {
  float: left;
  position: relative;
}

.dod-price-wrapper {
  position: relative;
}

.dod-price {
  width: 150px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: #eee;
}

.dod-price.nprice {
  background: #e65228;
  color: #fff;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 130px;
  z-index: 2;
  text-align: center;
}

.dod-price.nprice:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 30px solid #b94727;
  z-index: 3;
}

.dod-price.ribbon.oprice {
  margin-top: 16px;
  float: left;
  text-decoration: line-through;
  margin-bottom: 0;
}

.dod-price.ribbon.oprice span {
  font-size: 22px;
  color: #555;
  padding: 10px 10px 10px 20px;
  font-weight: lighter;
}

.dod-price.oprice {
  margin-left: 6px;
}

.dod-price span {
  -webkit-transform: translateZ(0) skew(20deg);
  -moz-transform: translateZ(0) skew(20deg);
  -ms-transform: translateZ(0) skew(20deg);
  -o-transform: translateZ(0) skew(20deg);
  transform: translateZ(0) skew(20deg);
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 5px 10px;
  display: block;
  font-size: 33px;
}

.dod-title {
  color: #e65228;
  font-size: 30px;
}

.dod-desc p, .dod-desc strong {
  color: #777;
  font-weight: normal;
  margin: 5px 0;
}

.dod-content {
  padding: 20px 30px;
}

.dod-countdown:after {
  content: '';
  position: absolute;
  top: 35%;
  left: 0;
  height: 120px;
  margin-top: -10px;
  width: 1px;
  background: #ddd;
  transform: skew(-10deg);
}

.offer-badge {
  position: absolute;
  left: -20px;
  top: 35px;
  background: #e65228;
  width: 70px;
  color: #fff;
  text-align: center;
  font-size: 27px;
  padding: 8px 0 5px 0;
  letter-spacing: -2px;
}

.offer-badge:after {
  content: "";
  position: absolute;
  top: 57px;
  left: 0px;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 18px solid rgba(0, 0, 0, 0);
  border-right: 20px solid #dedede;
  z-index: 3;
}

.offer-badge span {
  font-size: 12px;
  margin-bottom: -3px;
  display: block;
  font-weight: lighter;
  letter-spacing: 0;
}

#countdown {
  font-size: 35px;
  color: #000;
  font-weight: 500;
}

#countdown span {
  font-size: 25px;
  font-weight: lighter;
}

.dod-buynow {
  background: #e65228;
  border-bottom: 5px solid #b94727;
  padding: 5px 20px;
  color: #fff !important;
  font-size: 24px;
  font-weight: lighter;
  min-width: 160px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;

}

#deal-of-the-day .resp-sharing-button__link {
  width: 40px;
}

#deal-of-the-day .resp-sharing-button {
  padding: 0;
}

#deal-of-the-day .resp-sharing-button__icon svg {
  width: 15px;
  height: 15px;
}

#deal-of-the-day .share-buttons-wrapper {
  display: inline-block;
  margin: 0 auto;
}

#deal-of-the-day .share-buttons-wrapper h4.ty-center {
  display: none;
}

#deal-of-the-day::before {
  content: '';
  position: absolute;
  top: 0;
  right: -3px;
  height: 100%;
  width: 6px;
  background: #a63c1c;
  z-index: 9;
  transform: rotate(1deg);
  outline: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 768px) {
  #deal-of-the-day{
    padding:10px;
    margin:5px 2% 15px 2%;
  }
  div#deal-of-the-day.ty-column4 {
    width: 96% !important;
  }
  .dod-content {
    overflow: hidden;
  }

  .dod-img, .dod-content, .dod-countdown {
    width: 100%;
  }

  #deal-of-the-day:after {
    border-right-width: 270px;
  }

  .dod-content {
    padding: 0;
  }

  #deal-of-the-day .share-buttons-wrapper {
    border: 0 !important;;
    display: block;

  }

  #deal-of-the-day .resp-sharing-button__link {
    float: none;
  }

  #deal-of-the-day:before {
    transform: rotate(0.4deg);
  }

  .dod-countdown{
    min-height: 245px;
  }

  .dod-countdown:after {
    content: none;
  }

  #deal-of-the-day {
    background-position: right bottom !important;
  }

  .dod-price-wrapper {
    display: table;
    min-width: 290px;
    margin: 0 auto;
  }
  .offer-badge{
    left:0;
  }
  .offer-badge:after{
    content:none;
  }
}

@media screen and (max-width: 340px){
  .dod-price-wrapper {
    left: -20px;
  }

}

@media screen and (max-width: 520px){
  .dod-price.nprice{
    top: 5px;
  }
  .dod-title{
    font-size:18px;
  }
  .dod-price span{
    font-size: 24px;
  }
  .dod-price.ribbon.oprice span{
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
  #deal-of-the-day:after {
    border-right-width: 920px;
  }
}
