///* ==========================================================================
//Flags
//========================================================================== */
//.ty-flag {
//    display: inline-block;
//    vertical-align: top;
//    width: 16px;
//    height: 16px;
//    margin: 0 5px 0 0;
//    background:url('../media/images/icons/flags.png') no-repeat -25px -25px;
//}
//
//.ty-flag.ty-flag-ad {
//    background-position: 0px 0px;
//}
//
//.ty-flag.ty-flag-ae {
//    background-position: -50px 0px;
//}
//
//.ty-flag.ty-flag-af {
//    background-position: 0px -50px;
//}
//
//.ty-flag.ty-flag-ag {
//    background-position: -50px -50px;
//}
//
//.ty-flag.ty-flag-ai {
//    background-position: -100px 0px;
//}
//
//.ty-flag.ty-flag-al {
//    background-position: -100px -50px;
//}
//
//.ty-flag.ty-flag-am {
//    background-position: 0px -100px;
//}
//
//.ty-flag.ty-flag-an {
//    background-position: -50px -100px;
//}
//
//.ty-flag.ty-flag-ao {
//    background-position: -100px -100px;
//}
//
//.ty-flag.ty-flag-aq {
//    background-position: -150px 0px;
//}
//
//.ty-flag.ty-flag-ar {
//    background-position: -150px -50px;
//}
//
//.ty-flag.ty-flag-as {
//    background-position: -150px -100px;
//}
//
//.ty-flag.ty-flag-at {
//    background-position: 0px -150px;
//}
//
//.ty-flag.ty-flag-au {
//    background-position: -50px -150px;
//}
//
//.ty-flag.ty-flag-aw {
//    background-position: -100px -150px;
//}
//
//.ty-flag.ty-flag-ax {
//    background-position: -150px -150px;
//}
//
//.ty-flag.ty-flag-az {
//    background-position: -200px 0px;
//}
//
//.ty-flag.ty-flag-ba {
//    background-position: -200px -50px;
//}
//
//.ty-flag.ty-flag-bb {
//    background-position: -200px -100px;
//}
//
//.ty-flag.ty-flag-bd {
//    background-position: -200px -150px;
//}
//
//.ty-flag.ty-flag-be {
//    background-position: 0px -200px;
//}
//
//.ty-flag.ty-flag-bf {
//    background-position: -50px -200px;
//}
//
//.ty-flag.ty-flag-bg {
//    background-position: -100px -200px;
//}
//
//.ty-flag.ty-flag-bh {
//    background-position: -150px -200px;
//}
//
//.ty-flag.ty-flag-bi {
//    background-position: -200px -200px;
//}
//
//.ty-flag.ty-flag-bj {
//    background-position: -250px 0px;
//}
//
//.ty-flag.ty-flag-bl {
//    background-position: -250px -50px;
//}
//
//.ty-flag.ty-flag-bm {
//    background-position: -250px -100px;
//}
//
//.ty-flag.ty-flag-bn {
//    background-position: -250px -150px;
//}
//
//.ty-flag.ty-flag-bo {
//    background-position: -250px -200px;
//}
//
//.ty-flag.ty-flag-br {
//    background-position: 0px -250px;
//}
//
//.ty-flag.ty-flag-bs {
//    background-position: -50px -250px;
//}
//
//.ty-flag.ty-flag-bt {
//    background-position: -100px -250px;
//}
//
//.ty-flag.ty-flag-bw {
//    background-position: -150px -250px;
//}
//
//.ty-flag.ty-flag-by {
//    background-position: -200px -250px;
//}
//
//.ty-flag.ty-flag-bz {
//    background-position: -250px -250px;
//}
//
//.ty-flag.ty-flag-ca {
//    background-position: -300px 0px;
//}
//
//.ty-flag.ty-flag-cc {
//    background-position: -300px -50px;
//}
//
//.ty-flag.ty-flag-cd {
//    background-position: -300px -100px;
//}
//
//.ty-flag.ty-flag-cf {
//    background-position: -300px -150px;
//}
//
//.ty-flag.ty-flag-cg {
//    background-position: -300px -200px;
//}
//
//.ty-flag.ty-flag-ch {
//    background-position: -300px -250px;
//}
//
//.ty-flag.ty-flag-ci {
//    background-position: 0px -300px;
//}
//
//.ty-flag.ty-flag-ck {
//    background-position: -50px -300px;
//}
//
//.ty-flag.ty-flag-cl {
//    background-position: -100px -300px;
//}
//
//.ty-flag.ty-flag-cm {
//    background-position: -150px -300px;
//}
//
//.ty-flag.ty-flag-cn {
//    background-position: -200px -300px;
//}
//
//.ty-flag.ty-flag-co {
//    background-position: -250px -300px;
//}
//
//.ty-flag.ty-flag-cr {
//    background-position: -300px -300px;
//}
//
//.ty-flag.ty-flag-cu {
//    background-position: -350px 0px;
//}
//
//.ty-flag.ty-flag-cv {
//    background-position: -350px -50px;
//}
//
//.ty-flag.ty-flag-cx {
//    background-position: -350px -100px;
//}
//
//.ty-flag.ty-flag-cy {
//    background-position: -350px -150px;
//}
//
//.ty-flag.ty-flag-cz {
//    background-position: -350px -200px;
//}
//
//.ty-flag.ty-flag-de {
//    background-position: -350px -250px;
//}
//
//.ty-flag.ty-flag-dj {
//    background-position: -350px -300px;
//}
//
//.ty-flag.ty-flag-dk, .ty-flag.ty-flag-da {
//    background-position: 0px -350px;
//}
//
//.ty-flag.ty-flag-dm {
//    background-position: -50px -350px;
//}
//
//.ty-flag.ty-flag-do {
//    background-position: -100px -350px;
//}
//
//.ty-flag.ty-flag-dz {
//    background-position: -150px -350px;
//}
//
//.ty-flag.ty-flag-ec {
//    background-position: -200px -350px;
//}
//
//.ty-flag.ty-flag-ee {
//    background-position: -250px -350px;
//}
//
//.ty-flag.ty-flag-eg {
//    background-position: -300px -350px;
//}
//
//.ty-flag.ty-flag-eh {
//    background-position: -350px -350px;
//}
//
//.ty-flag.ty-flag-er {
//    background-position: -400px 0px;
//}
//
//.ty-flag.ty-flag-es {
//    background-position: -400px -50px;
//}
//
//.ty-flag.ty-flag-et {
//    background-position: -400px -100px;
//}
//
//.ty-flag.ty-flag-eu {
//    background-position: -400px -150px;
//}
//
//.ty-flag.ty-flag-fi {
//    background-position: -400px -200px;
//}
//
//.ty-flag.ty-flag-fj {
//    background-position: -400px -250px;
//}
//
//.ty-flag.ty-flag-fk {
//    background-position: -400px -300px;
//}
//
//.ty-flag.ty-flag-fm {
//    background-position: -400px -350px;
//}
//
//.ty-flag.ty-flag-fo {
//    background-position: 0px -400px;
//}
//
//.ty-flag.ty-flag-fr {
//    background-position: -50px -400px;
//}
//
//.ty-flag.ty-flag-ga {
//    background-position: -100px -400px;
//}
//
//.ty-flag.ty-flag-gb, .ty-flag.ty-flag-en {
//    background-position: -150px -400px;
//}
//
//.ty-flag.ty-flag-gd {
//    background-position: -200px -400px;
//}
//
//.ty-flag.ty-flag-ge {
//    background-position: -250px -400px;
//}
//
//.ty-flag.ty-flag-gg {
//    background-position: -300px -400px;
//}
//
//.ty-flag.ty-flag-gh {
//    background-position: -350px -400px;
//}
//
//.ty-flag.ty-flag-gi {
//    background-position: -400px -400px;
//}
//
//.ty-flag.ty-flag-gl {
//    background-position: -450px 0px;
//}
//
//.ty-flag.ty-flag-gm {
//    background-position: -450px -50px;
//}
//
//.ty-flag.ty-flag-gn {
//    background-position: -450px -100px;
//}
//
//.ty-flag.ty-flag-gq {
//    background-position: -450px -150px;
//}
//
//.ty-flag.ty-flag-gr, .ty-flag.ty-flag-el {
//    background-position: -450px -200px;
//}
//
//.ty-flag.ty-flag-gs {
//    background-position: -450px -250px;
//}
//
//.ty-flag.ty-flag-gt {
//    background-position: -450px -300px;
//}
//
//.ty-flag.ty-flag-gu {
//    background-position: -450px -350px;
//}
//
//.ty-flag.ty-flag-gw {
//    background-position: -450px -400px;
//}
//
//.ty-flag.ty-flag-gy {
//    background-position: 0px -450px;
//}
//
//.ty-flag.ty-flag-hk {
//    background-position: -50px -450px;
//}
//
//.ty-flag.ty-flag-hn {
//    background-position: -100px -450px;
//}
//
//.ty-flag.ty-flag-hr {
//    background-position: -150px -450px;
//}
//
//.ty-flag.ty-flag-ht {
//    background-position: -200px -450px;
//}
//
//.ty-flag.ty-flag-hu {
//    background-position: -250px -450px;
//}
//
//.ty-flag.ty-flag-id {
//    background-position: -300px -450px;
//}
//
//.ty-flag.ty-flag-ie {
//    background-position: -350px -450px;
//}
//
//.ty-flag.ty-flag-il {
//    background-position: -400px -450px;
//}
//
//.ty-flag.ty-flag-im {
//    background-position: -450px -450px;
//}
//
//.ty-flag.ty-flag-in {
//    background-position: -500px 0px;
//}
//
//.ty-flag.ty-flag-iq {
//    background-position: -500px -50px;
//}
//
//.ty-flag.ty-flag-ir {
//    background-position: -500px -100px;
//}
//
//.ty-flag.ty-flag-is {
//    background-position: -500px -150px;
//}
//
//.ty-flag.ty-flag-it {
//    background-position: -500px -200px;
//}
//
//.ty-flag.ty-flag-je {
//    background-position: -500px -250px;
//}
//
//.ty-flag.ty-flag-jm {
//    background-position: -500px -300px;
//}
//
//.ty-flag.ty-flag-jo {
//    background-position: -500px -350px;
//}
//
//.ty-flag.ty-flag-jp {
//    background-position: -500px -400px;
//}
//
//.ty-flag.ty-flag-ke {
//    background-position: -500px -450px;
//}
//
//.ty-flag.ty-flag-kg {
//    background-position: 0px -500px;
//}
//
//.ty-flag.ty-flag-kh {
//    background-position: -50px -500px;
//}
//
//.ty-flag.ty-flag-ki {
//    background-position: -100px -500px;
//}
//
//.ty-flag.ty-flag-km {
//    background-position: -150px -500px;
//}
//
//.ty-flag.ty-flag-kn {
//    background-position: -200px -500px;
//}
//
//.ty-flag.ty-flag-kp {
//    background-position: -250px -500px;
//}
//
//.ty-flag.ty-flag-kr {
//    background-position: -300px -500px;
//}
//
//.ty-flag.ty-flag-kv {
//    background-position: -350px -500px;
//}
//
//.ty-flag.ty-flag-kw {
//    background-position: -400px -500px;
//}
//
//.ty-flag.ty-flag-ky {
//    background-position: -450px -500px;
//}
//
//.ty-flag.ty-flag-kz {
//    background-position: -500px -500px;
//}
//
//.ty-flag.ty-flag-la {
//    background-position: -550px 0px;
//}
//
//.ty-flag.ty-flag-lb {
//    background-position: -550px -50px;
//}
//
//.ty-flag.ty-flag-lc {
//    background-position: -550px -100px;
//}
//
//.ty-flag.ty-flag-li {
//    background-position: -550px -150px;
//}
//
//.ty-flag.ty-flag-lk {
//    background-position: -550px -200px;
//}
//
//.ty-flag.ty-flag-lr {
//    background-position: -550px -250px;
//}
//
//.ty-flag.ty-flag-ls {
//    background-position: -550px -300px;
//}
//
//.ty-flag.ty-flag-lt {
//    background-position: -550px -350px;
//}
//
//.ty-flag.ty-flag-lu {
//    background-position: -550px -400px;
//}
//
//.ty-flag.ty-flag-lv {
//    background-position: -550px -450px;
//}
//
//.ty-flag.ty-flag-ly {
//    background-position: -550px -500px;
//}
//
//.ty-flag.ty-flag-ma {
//    background-position: 0px -550px;
//}
//
//.ty-flag.ty-flag-mc {
//    background-position: -50px -550px;
//}
//
//.ty-flag.ty-flag-md {
//    background-position: -100px -550px;
//}
//
//.ty-flag.ty-flag-me {
//    background-position: -150px -550px;
//}
//
//.ty-flag.ty-flag-mg {
//    background-position: -200px -550px;
//}
//
//.ty-flag.ty-flag-mh {
//    background-position: -250px -550px;
//}
//
//.ty-flag.ty-flag-mk {
//    background-position: -300px -550px;
//}
//
//.ty-flag.ty-flag-ml {
//    background-position: -350px -550px;
//}
//
//.ty-flag.ty-flag-mm {
//    background-position: -400px -550px;
//}
//
//.ty-flag.ty-flag-mn {
//    background-position: -450px -550px;
//}
//
//.ty-flag.ty-flag-mo {
//    background-position: -500px -550px;
//}
//
//.ty-flag.ty-flag-mp {
//    background-position: -550px -550px;
//}
//
//.ty-flag.ty-flag-mr {
//    background-position: -600px 0px;
//}
//
//.ty-flag.ty-flag-ms {
//    background-position: -600px -50px;
//}
//
//.ty-flag.ty-flag-mt {
//    background-position: -600px -100px;
//}
//
//.ty-flag.ty-flag-mu {
//    background-position: -600px -150px;
//}
//
//.ty-flag.ty-flag-mv {
//    background-position: -600px -200px;
//}
//
//.ty-flag.ty-flag-mw {
//    background-position: -600px -250px;
//}
//
//.ty-flag.ty-flag-mx {
//    background-position: -600px -300px;
//}
//
//.ty-flag.ty-flag-my {
//    background-position: -600px -350px;
//}
//
//.ty-flag.ty-flag-mz {
//    background-position: -600px -400px;
//}
//
//.ty-flag.ty-flag-na {
//    background-position: -600px -450px;
//}
//
//.ty-flag.ty-flag-nc {
//    background-position: -600px -500px;
//}
//
//.ty-flag.ty-flag-ne {
//    background-position: -600px -550px;
//}
//
//.ty-flag.ty-flag-nf {
//    background-position: 0px -600px;
//}
//
//.ty-flag.ty-flag-ng {
//    background-position: -50px -600px;
//}
//
//.ty-flag.ty-flag-ni {
//    background-position: -100px -600px;
//}
//
//.ty-flag.ty-flag-nl {
//    background-position: -150px -600px;
//}
//
//.ty-flag.ty-flag-no {
//    background-position: -200px -600px;
//}
//
//.ty-flag.ty-flag-np {
//    background-position: -250px -600px;
//}
//
//.ty-flag.ty-flag-nr {
//    background-position: -300px -600px;
//}
//
//.ty-flag.ty-flag-nu {
//    background-position: -350px -600px;
//}
//
//.ty-flag.ty-flag-nz {
//    background-position: -400px -600px;
//}
//
//.ty-flag.ty-flag-om {
//    background-position: -450px -600px;
//}
//
//.ty-flag.ty-flag-pa {
//    background-position: -500px -600px;
//}
//
//.ty-flag.ty-flag-pe {
//    background-position: -550px -600px;
//}
//
//.ty-flag.ty-flag-pg {
//    background-position: -600px -600px;
//}
//
//.ty-flag.ty-flag-ph {
//    background-position: -650px 0px;
//}
//
//.ty-flag.ty-flag-pk {
//    background-position: -650px -50px;
//}
//
//.ty-flag.ty-flag-pl {
//    background-position: -650px -100px;
//}
//
//.ty-flag.ty-flag-pn {
//    background-position: -650px -150px;
//}
//
//.ty-flag.ty-flag-pr {
//    background-position: -650px -200px;
//}
//
//.ty-flag.ty-flag-ps {
//    background-position: -650px -250px;
//}
//
//.ty-flag.ty-flag-pt {
//    background-position: -650px -300px;
//}
//
//.ty-flag.ty-flag-pw {
//    background-position: -650px -350px;
//}
//
//.ty-flag.ty-flag-py {
//    background-position: -650px -400px;
//}
//
//.ty-flag.ty-flag-qa {
//    background-position: -650px -450px;
//}
//
//.ty-flag.ty-flag-ro {
//    background-position: -650px -500px;
//}
//
//.ty-flag.ty-flag-rs {
//    background-position: -650px -550px;
//}
//
//.ty-flag.ty-flag-ru {
//    background-position: -650px -600px;
//}
//
//.ty-flag.ty-flag-rw {
//    background-position: 0px -650px;
//}
//
//.ty-flag.ty-flag-sa {
//    background-position: -50px -650px;
//}
//
//.ty-flag.ty-flag-sb {
//    background-position: -100px -650px;
//}
//
//.ty-flag.ty-flag-sc {
//    background-position: -150px -650px;
//}
//
//.ty-flag.ty-flag-sd {
//    background-position: -200px -650px;
//}
//
//.ty-flag.ty-flag-se {
//    background-position: -250px -650px;
//}
//
//.ty-flag.ty-flag-sg {
//    background-position: -300px -650px;
//}
//
//.ty-flag.ty-flag-sh {
//    background-position: -350px -650px;
//}
//
//.ty-flag.ty-flag-si {
//    background-position: -400px -650px;
//}
//
//.ty-flag.ty-flag-sk {
//    background-position: -450px -650px;
//}
//
//.ty-flag.ty-flag-sl {
//    background-position: -500px -650px;
//}
//
//.ty-flag.ty-flag-sm {
//    background-position: -550px -650px;
//}
//
//.ty-flag.ty-flag-sn {
//    background-position: -600px -650px;
//}
//
//.ty-flag.ty-flag-so {
//    background-position: -650px -650px;
//}
//
//.ty-flag.ty-flag-sr {
//    background-position: -700px 0px;
//}
//
//.ty-flag.ty-flag-ss {
//    background-position: -700px -50px;
//}
//
//.ty-flag.ty-flag-st {
//    background-position: -700px -100px;
//}
//
//.ty-flag.ty-flag-sv {
//    background-position: -700px -150px;
//}
//
//.ty-flag.ty-flag-sy {
//    background-position: -700px -200px;
//}
//
//.ty-flag.ty-flag-sz {
//    background-position: -700px -250px;
//}
//
//.ty-flag.ty-flag-tc {
//    background-position: -700px -300px;
//}
//
//.ty-flag.ty-flag-td {
//    background-position: -700px -350px;
//}
//
//.ty-flag.ty-flag-tg {
//    background-position: -700px -400px;
//}
//
//.ty-flag.ty-flag-th {
//    background-position: -700px -450px;
//}
//
//.ty-flag.ty-flag-tj {
//    background-position: -700px -500px;
//}
//
//.ty-flag.ty-flag-tm {
//    background-position: -700px -550px;
//}
//
//.ty-flag.ty-flag-tn {
//    background-position: -700px -600px;
//}
//
//.ty-flag.ty-flag-to {
//    background-position: -700px -650px;
//}
//
//.ty-flag.ty-flag-tp {
//    background-position: 0px -700px;
//}
//
//.ty-flag.ty-flag-tr {
//    background-position: -50px -700px;
//}
//
//.ty-flag.ty-flag-tt {
//    background-position: -100px -700px;
//}
//
//.ty-flag.ty-flag-tv {
//    background-position: -150px -700px;
//}
//
//.ty-flag.ty-flag-tw {
//    background-position: -200px -700px;
//}
//
//.ty-flag.ty-flag-tz {
//    background-position: -250px -700px;
//}
//
//.ty-flag.ty-flag-ua {
//    background-position: -300px -700px;
//}
//
//.ty-flag.ty-flag-ug {
//    background-position: -350px -700px;
//}
//
//.ty-flag.ty-flag-us {
//    background-position: -400px -700px;
//}
//
//.ty-flag.ty-flag-uy {
//    background-position: -450px -700px;
//}
//
//.ty-flag.ty-flag-uz {
//    background-position: -500px -700px;
//}
//
//.ty-flag.ty-flag-va {
//    background-position: -550px -700px;
//}
//
//.ty-flag.ty-flag-vc {
//    background-position: -600px -700px;
//}
//
//.ty-flag.ty-flag-ve {
//    background-position: -650px -700px;
//}
//
//.ty-flag.ty-flag-vg {
//    background-position: -700px -700px;
//}
//
//.ty-flag.ty-flag-vi {
//    background-position: -750px 0px;
//}
//
//.ty-flag.ty-flag-vn {
//    background-position: -750px -50px;
//}
//
//.ty-flag.ty-flag-vu {
//    background-position: -750px -100px;
//}
//
//.ty-flag.ty-flag-ws {
//    background-position: -750px -150px;
//}
//
//.ty-flag.ty-flag-ye {
//    background-position: -750px -200px;
//}
//
//.ty-flag.ty-flag-yt {
//    background-position: -750px -250px;
//}
//
//.ty-flag.ty-flag-za {
//    background-position: -750px -300px;
//}
//
//.ty-flag.ty-flag-zh {
//    background-position: -200px -300px;
//}
//
//.ty-flag.ty-flag-zm {
//    background-position: -750px -350px;
//}
//
//.ty-flag.ty-flag-zw {
//    background-position: -750px -400px;
//
//}
//
//@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
//    .ty-flag {
//        background-image: url('../media/images/icons/flags@2x.png') ;
//        background-size: 800px 800px;
//    }
//}
//
