//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 400;
//  src: url(//themes.googleusercontent.com/static/fonts/opensans/v8/4fu8RBPDDCYpod03lr_bYQ.eot);
//  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/4fu8RBPDDCYpod03lr_bYQ.eot) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
//}
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 600;
//  src: url(//themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSlQlYEbsez9cZjKsNMjLOwM.eot);
//  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSlQlYEbsez9cZjKsNMjLOwM.eot) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
//}
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 700;
//  src: url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzFQlYEbsez9cZjKsNMjLOwM.eot);
//  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzFQlYEbsez9cZjKsNMjLOwM.eot) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
//}
