@border-radius: 3px;
.new-h {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 5px;
    font-weight: 400;
  }
  p {
    padding: 0;
  }
}
.hbox {
  background: #fff;
  padding: 20px 30px;
  position: relative;
  border-radius: @border-radius;
  .more-from-this {
    display: flex;
    align-items: center;
    a {
      color: #777;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: #777;
    }
  }
  &:after {
    position: absolute;
    background: #e8e8e8;
    bottom: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    border-radius: inherit;
  }
  &.transparent-box {
    background: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    &:after {
      content: none;
    }
  }
}
///weekly section
.weekly-section {
  .ws-bg {
    height: 390px;
    background: #dfdfdf;
    margin-top: -380px;
    z-index: -1;
  }
}
.ws-item-wrapper {
  margin-top: 10px;
  .ws-item {
    padding: 20px;
    width: 33%;

    .ws-inner-item {
      background: #fff;
      border: 1px solid #ececec;
      box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.03);
      padding: 20px;
      border-radius: @border-radius;

      &.cp {
        cursor: pointer;
      }
    }
    p {
      padding: 0;
    }
    h3 {
      margin-bottom: 10px;
      height: 64px;
    }

    .ws-img {
      border-right: 1px solid #eee;
      margin-right: 15px;
      > div {
        width: 100px;
        height: 100px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .ws-progress-bar {
      width: 100%;
      max-width: 150px;
      background: #eee;
      position: relative;
      height: 3px;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-top: 13px;
      > span {
        position: absolute;
        border-radius: inherit;
        left: 0;
        top: 0;
        height: 100%;
        background: #e65228;
      }
    }
  }
}
.ws-other-prods {
  margin-top: 10px;
  .bp-item-slider.td_1 .bp-items {
    transition-delay: 0.05s !important;
  }

  .bp-item-slider.td_2 .bp-items {
    transition-delay: 0.1s !important;
  }

  .bp-item-slider.td_3 .bp-items {
    transition-delay: 0.15s !important;
  }

  .wop-item {
    padding: 10px;
    .weekly-slide-container {
      width: 120px;
      height: 120px;
      border-radius: @border-radius;
      background: #fff;
      position: relative;
      overflow: hidden;

      .w-slide-item {
        transition: transform 0.4s ease, opacity 0.3s ease;
        transform: translate3d(0, -100%, 0);
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        cursor: pointer;
        img {
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 0;
          padding: 4px;
          box-sizing: border-box;
          transition: transform 0.2s ease;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
        &.active {
          transform: translate3d(0, 0, 0);
        }
        &.active ~ .bp-items {
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }
      }
    }
  }
}

// homepage section
.home-section-wrapper {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0 -10px;
  .hs-item {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    flex: none;
    position: relative;
    white-space: normal;

    .hs-item-inner {
      background: #fff;
      padding: 10px;
      position: relative;
      border: 1px solid #f5f5f5;
      border-left: 3px solid #eee;
      border-bottom: 3px solid #eee;
      border-radius: @border-radius;
      z-index: 1;
      cursor: pointer;
      .hs-content {
        p {
          line-height: 16px;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: block;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          white-space: normal;
          -webkit-line-clamp: 2;
          height: 33px;
          -moz-line-clamp: 2;
        }
      }
      .hr-percentage {
        background: #e65228;
        border-radius: 1px;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        padding: 4px 7px;
        border-bottom-left-radius: 3px;
        font-size: 17px;
        border-top-right-radius: 3px;
      }

      .hr-48 {
     position: absolute;
    background: #fff;
    left: -2px;
    top: -1px;
    color: #e65228;
    font-weight: bold;
    border: 1px solid;
    display: block;
    padding: 4px 7px;
    border: 1px solid #e65228;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
      }
      .hs-btns {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        > span {
          width: ~"calc(50% - 2px)";
          form {
            margin: 0;
          }
          button {
            width: 100%;
            height: 100%;
            background: inherit;
            border: 0;
            padding: 7px 5px;
            outline: 0;
            background: #eee;
            border-radius: 3px;
            transition: background 0.3s ease;
          }
          svg {
            width: 100%;
            height: 20px;
            fill: inherit;
            stroke: inherit;
          }
          &.add-to-wish {
            fill: transparent;
            stroke: #222;
            stroke-width: 2px;
            transition: fill 0.3s ease;
          }
          &:hover {
            button {
              background: #d9d9d9;
            }
            &.add-to-wish {
              fill: #222;
            }
          }
        }
      }

      &:hover {
        border-color: #e3e3e3;
      }
      .hs-img {
        width: 100%;
        height: 130px;
        position: relative;
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 5px;
        > div {
          width: 100%;
          z-index: -1;
          height: ~"calc(100% - 10px)";
          position: absolute;
          top: 0;
          left: 0;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
    .hs-price {
      margin-top: 5px;
      font-size: 15px;
      flex-direction: column;
      align-items: baseline;
      b {
        margin-right: 0;
      }
      .hs-old-price span {
        text-decoration: line-through;
        font-size:14px;
      }
    }
  }
}
.ss-img-container {
  margin-left: -35px;
  margin-right: -35px;
}
.special-main-img-wrapper {
  width: 30%;
}
.special-off-img-wrapper {
  width: 70%;
  .ss-img {
    height: 180px;
  }
}
.ss-img {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  .ss-hover {
    position: absolute;
    border-radius: @border-radius;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background 0.4s ease;
    cursor: pointer;
    h3,
    p {
      color: #fff;
      transition: transform 0.4s ease, opacity 0.4s ease;
      transform: translate3d(0, 20px, 0);
      font-weight: 600;
    }
    h3 {
      margin-bottom: 15px;
    }
    p {
      opacity: 0;
      font-size: 14px;
    }
  }

  > span {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    border-radius: @border-radius;
  }
  &:hover {
    .ss-hover {
      background: rgba(0, 0, 0, 0.5);
      p,
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.homepage-off-categories {
  display: flex;
  justify-content: space-between;
}
.ho-cat {
  text-align: center;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    background: #eaeaea;
  }
  .hc-icon {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(230, 82, 40, 0.45), #e65228);
    box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;

    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }
  h3 {
    font-weight: 600;
  }
}
.all-prods {
  margin-left: -10px;
  margin-right: -10px;
  .hs-item {
    display: inline-block;
  }
}

.slide-section-container {
  .slide-section-wrapper {
    overflow: hidden;
    margin: 0 30px;
  }
  .home-prods-slide {
    transition: transform 0.4s ease;
  }
  .slide-arrows {
    position: absolute;
    width: ~"calc(100% + 30px)";
    left: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .h-slide-left,
    .h-slide-right {
      z-index: 3;
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:hover {
        svg {
          fill: #000;
        }
      }
      svg {
        width: 100%;
        height: 100%;
        fill: #777;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .all-prods {
    margin-left: 0;
    margin-right: 0;
  }
  .home-section-wrapper {
    margin: 0;
  }
}
@media screen and (max-width: 1140px) {
  .home-section-wrapper .hs-item {
    width: 25%;
  }
}

@media screen and (max-width: 992px) {
  .hs-stars{
    display: none;
  }
  .home-section-wrapper .hs-item .hs-item-inner .hr-48{
    top:1px;
    left:1px;
    padding: 0px 2px;
    font-size: 14px;
  }

  .home-section-wrapper {
    margin: 0;
  }
  .grid-list {
    margin: 0;
    width: 100%;
  }
  .bp-wrapper {
    width: 100%;
    .wop-item {
      padding: 0px 5px;
      width: 33.3333333333%;
      display: inline-block;
      .weekly-slide-container {
        width: 100%;
        height: 100px;
        img {
          height: 100%;
          margin: auto;
          display: block;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .weekly-section {
    position: relative;
    padding-bottom: 10px;

    .ws-bg {
      height: 180px;
      background: #dfdfdf;
      margin-top: 0;
      z-index: -1;
      position: absolute;
      bottom: 0;
      margin-left: -10px;
      left: 0;
      right: 0;
      margin-right: -10px;
      width: auto !important;
    }
  }
  .hbox {
    padding: 15px 10px;
  }
  .ws-item-wrapper {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: -10px;
    margin-right: -10px;
    .ws-item {
      white-space: normal;
      padding: 10px;
      width: 85%;
      flex: none;
    }
  }

  .slide-section-container {
    .slide-section-wrapper {
      margin: 0;
    }
    .home-prods-slide {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 0 5px;
    }
    .slide-arrows {
      display: none;
    }
    .hs-item {
      width: 33%;
      padding: 5px;
      .hs-item-inner {
        border: 0;
        padding: 0;

        .hs-btns {
          display: none;
        }
        .hs-img {
          border: 1px solid #eee;
          margin-bottom: 0;
          padding: 5px;
          box-sizing: border-box;
          border-radius: @border-radius;
          > div {
            bottom: 0;
            right: 0;
            margin: auto;
          }
        }
      }
      .hs-price {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 7px;
        b {
          margin: 0;
          margin-bottom: 3px;
        }
      }
    }
  }
  .ss-img-container {
    margin-left: -15px;
    margin-right: -15px;
  }
  .special-main-img-wrapper {
    display: none;
  }
  .special-off-img-wrapper {
    width: 100%;
    .ss-img {
      height: 120px;
    }
  }
  .homepage-off-categories {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0 -10px;
  }
  .ho-cat {
    flex: none;
    white-space: normal;
    width: 80px;
    .hc-icon {
      height: 80px;
    }
  }
  .all-prods {
    .hs-item {
      width: 33%;
      padding: 5px;
      .hs-p-title,
      .hs-stars {
        display: block !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bp-wrapper {
    .wop-item {
      .weekly-slide-container {
        height: 80px;
      }
    }
  }
  .hs-price {
    flex-direction: column;
  }
  .home-section-wrapper .hs-item {
    width: 40%;
  }
  .all-prods .hs-item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .slide-section-container .hs-item .hs-item-inner .hs-img {
    height: 70px;
  }
}

.homepage-sidebanner {
  position:absolute;
  top:-381px;
}
.homepage-sidebanner--left {
  left:-190px
}
.homepage-sidebanner--right {
  right:-190px
}
@media screen and (min-width: 1450px) {
  .homepage-content {
    position: relative;
  }
}
@media screen and (max-width:1450px) {
  .homepage-sidebanner {
    display:none
  }
}