
.sn-backdrop {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  opacity: 0;
  z-index: 50;
  //will-change: opacity;
}

.sn-visible .sn-backdrop { display: block }

.sn-sidenav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 99999;
  overflow-y: auto;
  //will-change: transform;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  background-color: #fff;
  padding: 0;

  ul{
    padding: 10px 0;
    li{
      padding:0;
      margin:0;
      &.divider{
        height:1px;
        background: #eee;
        margin: 10px 0;
      }
    }
   a{
     padding: 13px 20px;
     display:block;
     font-weight:600;
     overflow:hidden;
     color:#000;
     text-decoration:none;
   }
    i{
      padding: 0;
      width: 23px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin-right: 10px;
      left: -1px;
    }
  }
}

.sn-content {
  position: relative;
  z-index: 10
}

.sn-visible, .sn-visible body, .sn-visible .sn-content { overflow: hidden }

html { height: 100% }

body { min-height: 100% }


div#user-area {
  width: 100%;
  background: #e65228;
  background-size: cover;
  color: #fff;
  padding: 18px 20px;
  font-size: 17px;
  box-sizing: border-box;
  -webkit-border-box:border-box;
  -moz-border-box:border-box;
  position:relative;
  min-height: 60px;
  p{
    font-weight: 700;
    color:#fff;
  }
  .user-line{
    position: absolute;
    bottom: -1px;
    width: 100%;
    background: #e45227;
    background: radial-gradient(#e3e3e3 50%,rgba(0,0,0,0));
    height: 2px;
    left: 0;
  }
}

ul.m-menu-list {
  .ico {
    width: 22px;
    margin-right: 17px;
  }
}
.logo-ico{
  width: 35px;
  position: absolute;
  right: 15px;
  top: 13px;
}



.sidenavactive{
  transform: translate3d(0px, 0px, 0px) !important;
}

.backdropactive{
  opacity:0.5 !important;
  display: block !important;
  z-index: 102;
}