.switch {
  position: absolute;
  margin: 0;
  height: 36px;
  width: 190px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
  top: 0;
  right: 0;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  line-height: 36px;
  font-size: 11px;
  color: rgb(90, 90, 90);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bolder;
  color: #fff;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  &:after{
    content: "\e008";
    font-family: glyphs;
    margin-left: 7px;
    top: 1px;
    position: relative;
  }
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 50%;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 31px;
  background: #222;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.5), 0 0 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px rgba(255,255,255,0.5), 0 0 2px rgba(0,0,0,0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  color: #fff;
}

@media screen and (max-width: 400px){
  .switch{
    width:130px;
  }
  .checkout__block {
    padding: 0 10px;
  }
  .switch-label{
    font-size: 9px;
    &:after{
      margin-left: 3px;
      font-size: 8px;
    }
  }
}

