#addon_sd_order_user_tagsinstalled .bg-icon,
#addon_sd_order_user_tags .bg-icon {
    background-image: url('../../../media/images/addons/sd_order_user_tags/icon.png');
    background-size: contain;
    border: 0px;
}

#addon_sd_order_user_tagsinstalled .bg-icon i,
#addon_sd_order_user_tags .bg-icon i {
    display: none;
}

.my-tags {
    background-color: #f3f3f3;
    padding: 16px 10px 12px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul.tagit {
    padding: 1px 5px;
    min-height: 30px;
    overflow: auto;
    margin: 0;  
    border-color: #cdcdcd;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul.tagit li {
    list-style: none;
}

ul.tagit li.tagit-choice {
    position:relative;
    display: block;
    float: left;
    margin: 3px 5px 3px 15px;
    padding: 0 27px 0 10px; 
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    border: 0 none;
    background: #e6e6e6; 

    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tagit li.tagit-choice:before {
    position: absolute;
    top: 0;
    left: -12px;
    float: left;
    width: 0;
    height: 0;
    border-width: 12px 12px 12px 0;
    border-style: solid;
    content:"";
    border-color: transparent #e6e6e6 transparent transparent; 
}

.tagit li.tagit-choice:after {
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    content:"";
    background: #fff;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tag-product a:hover {
    text-decoration: none;
}

.tagit li.tagit-choice .tagit-label {
    line-height: 24px;
    text-decoration: none;
    color: #676767;
    text-shadow: 0 1px 0 #fff;
}

.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -7px;
    line-height: 17px;
}

.tagit li.tagit-choice .tagit-close .ui-icon-close {
    background: none;
    text-indent: 0;
    background: url("../media/images/lib/twitterbootstrap/glyphicons-halflings.png") no-repeat -168px -96px;
    opacity: 0.7;

    display: inline-block; 
    padding: 1px;
    width: 14px;
    height: 14px;
}

.tagit li.tagit-choice .tagit-close .ui-icon-close:hover {
    opacity: 1;
}

.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

.tagit input[type="text"] {
    float: left; 
    display: block;
    border: none;
    padding: 0;
    margin: 3px 0 0;
    width: inherit;
    height: 23px;
    background-color: inherit;
    outline: none;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tagit input[type="text"]:focus {
    border: 0 none; 
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input.tagit-hidden-field {
    display: none;
}

.tagit-autocomplete {
    z-index: 10000;
}

.sd_short_tag_field {
    width: 731px;
}

.sd_custom_margin_tags ul {
    margin-bottom: 14px;
}