.pb_subhead {
  background: #222;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999999;
  .subhead_icons {
    width: 15px;
    height: 15px;
    fill: #fff;
    margin-right: 5px;
  }
  .bp_price {
    .disabled {
      background-color: #db8e78;
    }
    h4 {
      font-size: 17px;
      margin-right: 15px;
      margin-bottom: 0;
    }
    input {
      padding: 10px 15px;
      color: #fff;
      background: #e65228;
      border-radius: 10px;
      border: 0;
      outline: 0;
    }
  }
  a {
    text-decoration: none !important;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  div,
  a,
  li {
    color: #fff;
  }
}
#builder_container {
  //margin-top: 10px;

  a {
    text-decoration: none !important;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  div,
  a,
  li {
    color: #fff;
  }
}
.pb_parts {
  background: #222;
  color: #fff;
  flex: 1 0 270px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  .build_extra_ft {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    h3 {
      text-align: center;
      position: relative;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: 25%;
      opacity: 0.25;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 23px;
      transition: opacity 0.4s ease;
      &.active {
        opacity: 1;
      }
      svg {
        width: 30px;
        height: 30px;
        fill: #fff;
        margin-bottom: 10px;
      }
    }

    .feature_progress {
      padding: 0 15px;
      .fp_bar {
        width: 100%;
        background: #3b3b3b;
        position: relative;
        padding: 4px;
        box-sizing: border-box;
        span {
          display: block;
          transition: width 0.4s ease 0.2s;
          height: 3px;
          background: #fff;
        }
      }
      .fp_msg {
        text-align: center;
        font-weight: 700;
        margin-top: 14px;
        font-size: 16px;
      }
    }
  }
  .build_parts_list {
    li {
      padding: 10px;
      border-bottom: 1px solid #333;
      .pb_part_title {
        height: 25px;
        margin-bottom: 0;
      }
      .chosen_item {
        .remove_item {
          display: flex;
          align-items: flex-start;
          padding-left: 10px;
          i {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: #eee;
            text-align: center;
            line-height: 22px;
            color: #000;
            transition: color 0.3s ease, background 0.3s ease;
            &:hover {
              color: #fff;
              background: #424242;
            }
          }
        }
        p {
          padding: 0;
          margin-bottom: 5px;
        }
        h4 {
          margin: 0;
        }
      }
      a {
        display: flex;
        align-items: center;
      }
      .build_icon,
      img {
        width: 42px;
        height: 42px;
        background: #3b3b3b;
        border-radius: 5px;
        margin-right: 10px;
        padding: 5px;
        box-sizing: border-box;
      }
      &.builder-step-active {
        background: #303030;
      }
      .bp_required {
        padding: 0;
      }
    }
  }
}

#builder_result {
  background: #222;
  border-radius: 10px;
  margin-top: 10px;
  min-width: 76%;
  .result_control {
    .res_search {
      position: relative;
      padding: 25px 20px;
      box-sizing: border-box;
      form {
        position: relative;
      }
      input {
        background: #333;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding: 0 15px;
        color: #fff;
        border:0;
      }
      button{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        border: none;
        width: 50px;
        background: #333;
        color: #fff;
      }
    }
    .res_tabs {
      background: #333;
      padding: 0 20px;
      li {
        flex-grow: 1;
        text-align: center;
        padding: 20px 0;
        position: relative;
        color: #b0b0b0;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
        &.active {
          color: #fff;
          font-weight: 600;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #e65228;
            height: 4px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
      }
    }
  }
  .home-section-wrapper {
    margin: 0;
    .grid-list {
      padding: 10px;
    }
    .hs-item {
      width: 25%;
      flex: 1 0 25%;
      max-width: 25%;
      @media screen and (max-width:1250px) {
        width: 33.333%;
        flex: 1 0 33.333%;
        max-width: 33.333%;
      }
      &.selected {
        .hs-item-inner {
          background: #222;
          border-color: #e65228;
        }
      }
      .hs-price {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        .hs-stars {
          margin: 0;
        }
      }
      .hs-item-inner {
        background: transparent;
        border-radius: 10px;
        border: 1px solid transparent;
        height: 100%;
        box-sizing: border-box;
        padding: 15px;
        background: #2c2c2c;
        .hs-btns {
          margin-top: 15px;
          flex-direction: row-reverse;
          height: 35px;
          align-items: center;
        }
        .cm-ajax {
          border-radius: 10px;
          background: #e65228;
          display: block;
          //padding: 10px 15px;
          font-weight: 600;
        }
        .hs-content {
          p {
            margin-top: 10px;
          }
        }
        .hr-percentage {
          border-bottom-left-radius: 10px;
          border-top-right-radius: 10px;
          z-index: 12;
          background: #434343;
        }
        .hs-img {
          width: 140px;
          height: 140px;
          margin: auto;
          background: #fff;
          border-radius: 10px;
          > div {
            right: 0;
            bottom: 0;
            z-index: 1;
            margin: auto;
            width: 90%;
            height: 90%;
          }
        }
      }
    }
  }
}
//landing page

.pbl_banner {
  padding-top: 36%;
  position: relative;
  .pbl_img {
    height: 100%;
    background-position: center right;
    background-size: 65%;
    background-repeat: no-repeat;
    background-image: url(https://hhstsyoejx.gjirafa.net/storage/gjmall/banners/1hMall/9b717ece42384d90875f5e0fe4014c26_reduced-431759.jpg);
    position: absolute;
    top: 0;
    width: 100%;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 33px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: #fff;
      margin-bottom: 25px;
    }
    button,
    a {
      display: inline-block;
      background: #e65228;
      border-radius: 10px;
      color: #fff;
      padding: 15px 10px;
      border: 0;
      font-weight: 700;
      width: 170px;
      margin-top: 10px;
      font-size: 15px;
      outline: none;
      text-align: center;
      text-decoration: none;
    }
  }
}
.pre_build {
  .container {
    display: flex;
    justify-content: space-between;
    &:before,
    &:after {
      content: none;
    }
  }

  .pre_item {
    border-radius: 10px;
    background: #222;
    color: #fff;
    padding: 10px;
    flex-grow: 1;
    width: 100%;
    max-width: ~"calc(33% - 10px)";
    button,
    a {
      width: 100%;
      background: #393939;
      color: #fff;
      margin-top: 20px;
      font-weight: 700;
      border-radius: 10px;
      padding: 15px;
      border: none;
      display: block;
      text-align: center;
      text-decoration: none;
    }
    .pri_acces {
      display: flex;
      align-items: center;
      h4 {
        margin-bottom: 0;
      }
      svg {
        width: 24px;
        height: 24px;
        fill: #fff;
        margin-left: 10px;
      }
    }
    .text-muted {
      color: #b0b0b0;
    }
    .pri_img {
      border-radius: 10px;
      height: 180px;
      margin-bottom: 10px;
      position: relative;
      background: #fff;
      padding: 5px;
      display: flex;
      align-items: center;
      img {
        margin: auto;
        max-width: 90%;
        max-height: 90%;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: inherit;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  //landing page
  .pbl_banner {
    padding-top: 0;
    height: 270px;
    .pbl_img {
      position: relative;
      background-size: 100%;
      padding: 20px 0;
      .container {
        align-items: center;
        justify-content: flex-end;
        background: rgba(0, 0, 0, 0.5);
        button {
          padding: 10px;
          width: 140px;
          font-size: 13px;
          box-shadow: none;
        }
      }
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 16px;
      }
      h4,
      h3 {
        display: none;
      }
    }
  }

  .pre_build {
    .container {
      flex-direction: column;
    }
    .pre_item {
      max-width: 90%;
      width: 90%;
      margin: auto;
      margin-bottom: 15px;
    }
  }

  //build page
  .build_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.56);
    transition: opacity 0.4s ease;
    opacity: 0;
    pointer-events: none;
  }
  #builder_container {
    //margin-top: 15px;
  }
  .pb_subhead {
    position: sticky;
    top: 53px;
    z-index: 123;
    border-radius: 0;
  }

  .pb_parts {
    position: sticky;
    top: 108px;
    height: ~"calc(100vh - 108px)";
    right: 0;
    width: 300px;
    margin: 0;
    overflow-y: auto;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    transform: translate3d(260px, 0px, 0px);
    margin-right: -245px;
    z-index: 1011101;
    border-radius: 0;
    margin-top: 0;
    overflow: auto;
    padding-bottom: 110px;
    .build_extra_ft {
      transition: opacity 0.4s ease 0.2s;
      opacity: 0;
    }
    .chosen_item {
      margin: 10px 0;
      height: 42px;
    }
    .pb_part_title {
      transition: transform 0.4s ease 0.2s, opacity 0.4s ease 0.2s,
        height 0.4s ease;
      opacity: 0;
      transform: translate3d(20px, 0, 0);
      height: 0 !important;
      display: flex;
      align-items: center;
    }
    .bp_required {
      transition: transform 0.4s ease 0.25s, opacity 0.4s ease 0.25s;
      opacity: 0;
      transform: translate3d(20px, 0, 0);
    }
    .pb_parts_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .build_parts_list {
      li {
        padding: 10px;
        position: relative;
        &.builder-step-active {
          &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background: #e65228;
          }
        }
      }
    }
  }
  #builder_result {
    width: ~"calc(100% - 92px)";
    margin-top: 15px;
    margin-left: 15px;
    transition: transform 0.45s ease, opacity 0.45s ease;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    .result_control {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 15px 15px 0;
      .res_search {
        padding: 0;
        position: static;
        form{
          position: absolute;
          left:0;
          width: 100%;
        }
        button{
          left:0;
          width:40px;
          height:40px;
          border-radius: 100%;
          z-index: 111;
        }
        .ty-icon-search {
          height: 40px;
          width: 40px;
          background: #333;
          z-index: 13;
          position: absolute;
          border-radius: 100%;
          text-align: center;
          line-height: 40px;
          font-size: 17px;
          left:15px;
        }
        input {
          width: 40px;
          border-radius: 100%;
          position: absolute;
          left: 15px;
          transition: width 0.4s ease, opacity 0.4s ease;
          border-radius: 10px;
          opacity: 0;
          z-index: 12;
          padding-left: 40px;
        }

        .active_search {
          input {
            width: ~"calc(100% - 30px)";
            opacity: 1;
          }
        }
      }
      .res_tabs {
        position: relative;
        right: 0;
        padding: 0;
        z-index: 11;
        background: transparent;
        min-width: 145px;
        max-width: 80%;
        width: 100%;
        .mobile_pre_active {
          height: 40px;
          background: #333;
          padding: 0 10px;
          padding-right: 20px;
          color: #fff;
          font-weight: 600;
          display: flex !important;
          border-radius: 10px;
          align-items: center;
          position: relative;
          z-index: 1;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          i{
            position: absolute;
            right: 0;
            height: 40px;
            line-height: 40px;
            width: 20px;
            background: #333;
            text-align: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        ul {
          display: block;
          background: #333;
          border-radius: 10px;
          position: absolute;
          width: 100%;
          transition: opacity 0.4s ease, transform 0.4s ease;
          opacity: 0;
          transform: translate3d(0, -4px, 0);
          pointer-events: none;
          top: 0;
          z-index: 1;
          margin-top: 50px;
          &.active_filter {
            pointer-events: all;
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
        li {
          position: relative;
          padding: 0;
          padding: 0 10px;
          height: 40px;
          display: flex;
          align-items: center;
          text-align: left;
          white-space: normal;
          word-break: break-word;

          &.active {
            color: #b0b0b0;
            font-weight: 400;
            &:after {
              content: none;
            }
          }
        }
      }
    }
    .home-section-wrapper {
      .grid-list {
        box-sizing: border-box;
        padding: 10px;
      }
      .hs-item {
        width: 100%;
        flex: 1 0 100%;
        padding: 8px 5px;
        max-width: 100%;
        .hs-content {
          width: 100%;
          p {
            display: block !important;
            height: auto;
            max-height: 33px;
            line-height: normal;
            -webkit-line-clamp: 2;
            -moz-line-clamp: 2;
            margin: 0 0 10px 0;
            padding: 0;
          }
        }
        .hs-price {
          .hs-stars {
            display: block;
          }
        }
        .hs-item-inner {
          .hs-img {
            flex: none;
            height: 90px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .build_list_active {
    overflow: hidden;
    .pb_parts_overlay{
      pointer-events: none;
    }
    .zopim {
      display: none !important;
    }
    .build_overlay {
      opacity: 1;
      pointer-events: all;
    }
    .pb_parts {
      transform: translate3d(0, 0, 0);
      .build_extra_ft {
        opacity: 1;
      }
      .pb_part_title {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        height: 25px !important;
      }
      .bp_required {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    #builder_result {
      transform: translate3d(-50px, 0, 0);
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 850px) and (min-width: 500px) {
    #builder_result .home-section-wrapper .hs-item {
      width: 50%;
      flex: 1 0 50%;
      padding: 8px 5px;
      max-width: 50%;
  }
}