{include file="common/letter_header.tpl"}

{__("text_confirm_passwd_recovery")}:<br /><br />

<a href="{"auth.recover_password?ekey=`$ekey`"|fn_url:$zone:'https'}">{"auth.recover_password?ekey=`$ekey`"|fn_url:$zone:'https'|puny_decode}</a>

{include file="common/letter_footer.tpl"}