{if !$nothing_extra}
    {include file="common/subheader.tpl" title=__("user_account_info")}
{/if}

{hook name="profiles:account_info"}

	<div style="padding:15px 0;">
		<p class="ty-control-group__title">E-mail: {$user_data.email}</p>
		<p class="ty-control-group__title">Password: ********</p>Llogaria/Ndrysho fjalëkalimin
		<p ><a href="https://identity.gjirafa.com/Preferences/ChangePassword" class="ty-control-group__title">Kliko këtu për të ndryshuar password-in tuaj, ju do të redirektoheni në Gjirafa.com.</a></p>
	</div>
		
	<div class="ty-control-group" style="display:none">
        <label for="email" class="ty-control-group__title cm-required cm-email cm-trim">{__("email")}</label>
        <input type="text" readonly="readonly" id="email" name="user_data[email]" size="32" maxlength="128" value="{$user_data.email}" class="ty-input-text cm-focus" />
    </div>

   {* <div class="ty-control-group">
        <label for="password1" class="ty-control-group__title cm-required cm-password">{__("password")}</label>
        <input type="password" readonly="readonly" id="password1" name="user_data[password1]" size="32" maxlength="32" value="{if $runtime.mode == "update"}            {/if}" class="ty-input-text cm-autocomplete-off" />
    </div>

    <div class="ty-control-group">
        <label for="password2" class="ty-control-group__title cm-required cm-password">{__("confirm_password")}</label>
        <input type="password" readonly="readonly" id="password2" name="user_data[password2]" size="32" maxlength="32" value="{if $runtime.mode == "update"}            {/if}" class="ty-input-text cm-autocomplete-off" />
    </div>
*}
{/hook}