<div class="country-switch-web">
    <a href="https://gjirafa50.com"><img {if !$a|fn_isAL}class="active"{/if} src="images/icons/ks-flag.png"/></a>
    <a href="https://gjirafa50.al"><img {if $a|fn_isAL}class="active"{/if} src="images/icons/alb-flag.png"/></a>
</div>