{include file="common/load_more_products.tpl" button_visible=true button_text="SHFAQ MË SHUMË PRODUKTE"}
{* <div class="ty-gjirafaFlex">
    <div class="ty-gjirafaFlex_banner">
        <img alt="Rri shlirë me GjirafaFLEX" src="images/flexBanner.jpg">
    </div>
    <div class="ty-gjirafaFlex_text-box">
        <h2>Rri shlirë <br> me <b>GjirafaFLEX</b></h2>
        <p>GjirafaFLEX është shërbim shtesë që ne e ofrojmë si zgjidhje të shpejtë nëse keni defekt me produktin brenda periudhës 1 vjeçare të garancionit.</p>
        <a href="{"pages.customer-care"|fn_url}#flex" class="ty-gjirafaFlex_button">SHIKO DETAJET</a>
    </div>
</div> *}