{** block-description:tmpl_logo **}
<div class="ty-logo-container">
    <a href="{""|fn_url}" title="Gjirafa50">
        <img src="images/logos/logo.svg" alt="Gjirafa50" class="ty-logo-container__image" />
    </a>
</div>