{assign var='params' value=['item_ids' => '478, 479']}
{assign var='banners' value=$params|fn_get_banners}

{if $banners.0}
    <div class=" homepage-sidebanner homepage-sidebanner--left">
        <a class="homepage-sidebanner__link" href="#">
            <img class="homepage-sidebanner__image" src="https://hhstsyoejx.gjirafa.net/gj50/banners/{$banners.0.478.image_path}" alt="">
        </a>
    </div>


    <div class=" homepage-sidebanner homepage-sidebanner--right">
        <a class="homepage-sidebanner__link" href="#">
            <img class="homepage-sidebanner__image" src="https://hhstsyoejx.gjirafa.net/gj50/banners/{$banners.0.479.image_path}" alt="">
        </a>
    </div>
{/if}
