<h3>Ruaj setin</h3>
<form action="{""|fn_url}" class="cm-ajax" style="padding-bottom: 15px;">
    <input type="hidden" name="dispatch" value="builder.create">
    <input type="hidden" name="store" value="true">
    <input type="hidden" name="result_ids" value="builder_container">
    <div class="ty-control-group">
        <label for="build_set_name" class="cm-required ">Emri:</label>
        <input type="text" class="ty-input-text" id="build_set_name" name="build_set_name">
    </div>
    <button class="ty-btn__primary ty-btn cm-dialog-closer" type="submit">Vazhdo</button>
</form>