/* ==========================================================================
AUTOCOMPLETE
========================================================================== */
@import "../../lib/ac.less";
/* /AUTOCOMPLETE */

/* ==========================================================================
SHARE BUTTONS
========================================================================== */
@import "../../tygh/share-buttons.less";
@import "../../tygh/sidenav.less";
@import "../../tygh/custom_banners.less";
@import "../../tygh/custom_style.less";
@import "../../tygh/custom_grid_list.less";
@import "../../tygh/switch-button.less";
@import "../../tygh/deal_of_the_day.less";
@import "../../tygh/new_design.less";
@import "../../tygh/homepage.less";
/* /SHARE BUTTONS */

.ty-minicart-title.ty-hand {
  z-index: 10;
}
.rec-banner {
  width: 100%;
  height: 428px;
  margin-bottom: 15px;
  img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }
  &:after {
    content: "";
    right: 0;
    width: 150px;
    height: 100%;
    top: 0;
    background: peachpuff;
    z-index: 2;
  }
}
@media screen and (max-width: 768px) {
  .rec-banner {
    height: auto !important;
    margin-left: -7.5px;
    width: ~"calc(100% + 15px)";
    margin-top: -8px;
    img {
      position: relative;
    }
  }
}
/* LAUNCH CALENDAR */
.calendar-date {
  display: block;
  position: absolute;
  top: -9px;
  left: 10px;
  width: 65px;
  height: 80px;
  background-image: url(images/icons/launch-calendar-flag.png);
  background-repeat: no-repeat;
  background-size: 65px 80px;
  z-index: 1;
}

.calendar-date span {
  color: #e65228;
  position: absolute;
  font-weight: bold;
}

.calendar-date span:first-child {
  top: 5px;
  left: 30%;
  font-size: 22px;
  border-bottom: 2px solid #222;
  padding-bottom: 3px;
}

.calendar-date span:last-child {
  top: 40px;
  left: 15%;
  font-size: 14px;
  padding-top: 2px;
}

.bookmark-ribbon {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.calendar-title {
  margin-top: 35px;
}

.calendar-title h1 {
  text-align: center;
}

.calendar-row {
  margin-top: 25px;
}

.calendar-row .product {
  text-align: center;
  position: relative;
  border: 1px solid #e8e8e8;
}

.calendar-row .product .img-last {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.1s ease-out 0s;
}

.calendar-row .product .img-last img {
  position: relative;
  left: -50%;
}

.calendar-row .product:hover {
  box-shadow: 0 5px 31px -1px rgba(0, 0, 0, 0.15);
}

.calendar-row .product:hover .img-last {
  opacity: 1 !important;
}

.calendar-row .product .name {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #222;
  background-color: #e8e8e8;
}

.calendar-row .product img {
  padding-top: 45px;
  height: 250px;
}

.calendar-row .product:hover .action-btn.left {
  left: 0;
  /*opacity: 1;*/
}

.calendar-row .product:hover .action-btn.right {
  left: 134px;
  /*opacity: 1;*/
}

.action-wrapper {
  position: relative;
  overflow: hidden;
  height: 45px;
}

.action-btn {
  position: absolute;
  background: #e8e8e8;
  margin-top: 3px;
  padding: 12px 30px;
  color: #777;
  transition: all 0.1s ease-out 0s;
  font-weight: bold;
  font-size: 12px;
  /*opacity: 0;*/
}

.action-btn.left {
  left: -145px;
  -webkit-clip-path: polygon(0% 0, 100% 0, 89% 100%, 0% 100%);
  clip-path: polygon(0% 0, 100% 0, 89% 100%, 0% 100%);
}

.action-btn.right {
  left: 278px;
  -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(11% 0, 100% 0, 100% 100%, 0% 100%);
}

.action-btn:hover {
  background: #e65228;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.calendar-categories {
  text-align: center;
}

.calendar-categories select {
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 15px 0;
  padding-right: 10px;
  padding-left: 10px;
}

/* Recommended page */
.sliderOuterWrapper {
  position: relative;
}
.sliderOuterWrapper .justSlides {
  overflow: hidden;
  position: relative;
}
.wrapperToSlide {
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sliderOuterWrapper ul.subcategories .ty-subcategories__item {
  width: 232px;
  margin-bottom: 10px;
  padding-left: 10px;
  flex: none;
  height: 70px;
}

.sliderOuterWrapper ul.subcategories .ty-subcategories__item a {
  display: flex;
}
.sliderOuterWrapper ul.subcategories .ty-subcategories__item img {
  position: relative;
  top: unset;
  left: unset;
  max-height: 40px;
  max-width: 40px;
  object-fit: contain;
}
.sliderOuterWrapper ul.subcategories .ty-subcategories__item span {
  padding-left: 10px;
}
.sliderOuterWrapper ul.subcategories {
  display: flex;
  flex-wrap: nowrap;
}
.sliderArrows {
  padding: 10px;
  /*background: #f8f8f8;*/
  position: absolute;
  top: 50%;
  transform: translate3d(-45px, -60%, 0);
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  transition: ease 0.2s;
}
#leftSliderArrow {
  left: 0px;
}
#rightSliderArrow {
  right: 0px;
  transform: translate3d(45px, -60%, 0);
}
#rightSliderArrow:hover {
  transform: translate3d(50px, -60%, 0);
}
#leftSliderArrow:hover {
  transform: translate3d(-50px, -60%, 0);
}
.sliderOuterWrapper ul.subcategories .ty-subcategories__item:last-child {
  margin-right: 0px !important;
}
@media (max-width: 768px) {
  .sliderOuterWrapper ul.subcategories:nth-of-type(2) .ty-subcategories__item {
    margin: 0 10px 10px 0px;
  }
  .sliderOuterWrapper ul.subcategories {
    padding-bottom: 0px;
  }
  .sliderOuterWrapper {
    overflow: hidden;
  }
  .sliderArrows {
    display: none !important;
  }
}
/* END Recommended page */

/* Return payment confirmation page */
:root {
  --return-width: 130px;
}

.arrow-box {
  position: absolute;
  width: var(--return-width);
  height: var(--return-width);
  top: 130px;
  left: 587px;
  transform: translate(-50%, -60%);
}

@media screen and (max-width: 769px) {
	.arrow-box {
		left: 48%;
	}
}

@media screen and (max-width: 480px) {
	.arrow-box {
		left: 47%;
	}
}

.arrow-box .arrow-round {
  position: absolute;
  width: var(--return-width);
  height: var(--return-width);
  border: calc(var(--return-width) / 10) solid #e15726;
  border-radius: 50%;
  border-left-color: transparent;
  transition: transform 1s;
  opacity: 0;
}

.arrow-box .arrow-round::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 2%;
  border: calc(var(--return-width) * 0.2) solid #fff;
  border-bottom-color: #e15726;
  border-left-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
  transform: rotate(90deg);
}
/* END Return payment confirmation page*/

/* helper classes */
.pulse {
  background: #e65228;
  animation: flash 1s ease infinite;
}

@keyframes flash {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.d-none {
  display: none !important;
}
/* END helper classes */
