<div id="ajax_overlay" class="ty-ajax-overlay"></div>
<div id="dark_overlay" class="ty-dark-overlay"></div>
{*<div id="iute_text_overlay" class="ty-iute-text-overlay">*}
{*	<div>*}
{*		<p style="padding-bottom: 25px;">*}
{*			<img src="images/payment/iutecredit-logo-white.png">*}
{*		</p>*}
{*		<p>Pas disa sekondash do të hapet dritarja e aplikimit të IuteCredit.</p>*}
{*		<p class="iute-popup-failed" style="display: none;">Nuk është shfaqur dritarja?</p>*}
{*		<p class="iute-popup-failed" style="text-decoration: underline; font-weight: bold; cursor: pointer; display: none;" onclick="popupCenter('https://iutecredit.org/application/#utm_source=gjirafa50', 'IuteCredit', '900', '600');">Kliko për të vazhduar</p>*}
{*	</div>*}
{*</div>*}
<div id="ajax_loading_box" class="ty-ajax-loading-box"></div>

{*{if !$auth.user_id || $first_visit}*}
{*<div class="popup active text-center">*}
{*    <div class="popup__close"></div>*}
{*    <h2>Mirësevjen për herë të parë në Gjirafa50</h2>*}
{*    <h3>Regjistrohu dhe merr zbritje 5% në blerjen e parë</h3>*}
{*    <a href="#" id="popup_login_button">Regjistrohu apo kyçu</a>*}
{*</div>*}
{*<div class="overlay active"></div>*}
{*{/if}*}

{*<script>*}
{*    {if $auth.user_id}*}
{*        setCookie("visited", "true", 365);*}
{*    {/if}*}

{*    if(document.querySelector('.popup.active')){*}
{*        document.querySelector('.popup__close').addEventListener('click', function(){*}
{*            this.parentElement.classList.remove('active');*}
{*            this.parentElement.nextElementSibling.classList.remove('active');*}
{*        });*}

{*        document.querySelector('#popup_login_button').addEventListener('click', function(){*}
{*            this.parentElement.classList.remove('active');*}
{*            this.parentElement.nextElementSibling.classList.remove('active');*}
{*        });*}
{*    }*}

{*    {if !$auth.user_id || $first_visit}*}
{*        document.querySelector('#popup_login_button').addEventListener('click', function(){*}
{*            document.getElementsByClassName('ty-account-info__title')[0].click();*}
{*        });*}
{*    {/if}*}

{*    {literal}*}

{*    checkSession();*}

{*    function checkSession() {*}
{*        var c = getCookie("visited");*}
{*        if (c !== "true") {*}

{*    {/literal}*}

{*            {$first_visit = true}*}

{*    {literal}*}

{*        }*}
{*        setCookie("visited", "true", 365);*}
{*    }*}

{*    {/literal}*}

{*</script>*}