<div class="ty-search-block">
    <form action="{""|fn_url}" name="search_form" method="get">
        {*<input type="hidden" name="subcats" value="Y" />*}
        {*<input type="hidden" name="pcode_from_q" value="Y" />*}
        {*<input type="hidden" name="pshort" value="Y" />*}
        {*<input type="hidden" name="pfull" value="Y" />*}
        {*<input type="hidden" name="pname" value="Y" />*}
        {*<input type="hidden" name="pkeywords" value="Y" />*}
        {*<input type="hidden" name="search_performed" value="Y" />*}

        {if $smarty.cookies.rel}
            <input type="hidden" name="rel" value="{$smarty.cookies.rel}" />
        {/if}

        {hook name="search:additional_fields"}{/hook}

        {strip}
            {if $settings.General.search_objects}
                {assign var="search_title" value=__("search")}
            {else}
                {assign var="search_title" value=__("search_products")}
            {/if}

            <input type="text" name="q" placeholder="{__("search_products")}" {if $search.q != null}value="{$search.q}"{/if} id="search_input{$smarty.capture.search_input_id}" title="{$search_title}" class="ty-search-block__input" />
            {if $settings.General.search_objects}
                {include file="buttons/magnifier.tpl" but_name="search.results" alt=__("search")}
            {else}
                {include file="buttons/magnifier.tpl" but_name="products.search" alt=__("search")}
            {/if}
        {/strip}

        {capture name="search_input_id"}{$block.snapping_id}{/capture}

    </form>
</div>