<div style="display:none !important;">
    <svg>
        <symbol viewBox="0 0 459.529 459.529" id="svg-cart">
            <path d="M17,55.231h48.733l69.417,251.033c1.983,7.367,8.783,12.467,16.433,12.467h213.35c6.8,0,12.75-3.967,15.583-10.2    l77.633-178.5c2.267-5.383,1.7-11.333-1.417-16.15c-3.117-4.817-8.5-7.65-14.167-7.65H206.833c-9.35,0-17,7.65-17,17    s7.65,17,17,17H416.5l-62.9,144.5H164.333L94.917,33.698c-1.983-7.367-8.783-12.467-16.433-12.467H17c-9.35,0-17,7.65-17,17    S7.65,55.231,17,55.231z"/>
            <path d="M135.433,438.298c21.25,0,38.533-17.283,38.533-38.533s-17.283-38.533-38.533-38.533S96.9,378.514,96.9,399.764    S114.183,438.298,135.433,438.298z"/>
            <path d="M376.267,438.298c0.85,0,1.983,0,2.833,0c10.2-0.85,19.55-5.383,26.35-13.317c6.8-7.65,9.917-17.567,9.35-28.05    c-1.417-20.967-19.833-37.117-41.083-35.7c-21.25,1.417-37.117,20.117-35.7,41.083    C339.433,422.431,356.15,438.298,376.267,438.298z"/>
        </symbol>
        <symbol viewBox="0 0 408 408" id="svg-back">
            <path d="M408,178.5H96.9L239.7,35.7L204,0L0,204l204,204l35.7-35.7L96.9,229.5H408V178.5z"/>
        </symbol>
        <symbol viewBox="0 0 512 512" id="svg-vertiMenu">
            <circle cx="256" cy="256" r="64"/>
            <circle cx="256" cy="448" r="64"/>
            <circle cx="256" cy="64" r="64"/>
        </symbol>
        <symbol viewBox="0 0 486.988 486.988" id="svg-home">
            <path d="M16.822,284.968h39.667v158.667c0,9.35,7.65,17,17,17h116.167c9.35,0,17-7.65,17-17V327.468h70.833v116.167    c0,9.35,7.65,17,17,17h110.5c9.35,0,17-7.65,17-17V284.968h48.167c6.8,0,13.033-4.25,15.583-10.483    c2.55-6.233,1.133-13.6-3.683-18.417L260.489,31.385c-6.517-6.517-17.283-6.8-23.8-0.283L5.206,255.785    c-5.1,4.817-6.517,12.183-3.967,18.7C3.789,281.001,10.022,284.968,16.822,284.968z M248.022,67.368l181.333,183.6h-24.367    c-9.35,0-17,7.65-17,17v158.667h-76.5V310.468c0-9.35-7.65-17-17-17H189.656c-9.35,0-17,7.65-17,17v116.167H90.489V267.968    c0-9.35-7.65-17-17-17H58.756L248.022,67.368z"/>
        </symbol>
        <symbol  viewBox="0 0 482.9 482.9" id="svg-user">
            <path d="M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5    c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6    c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z     M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4    c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0    c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z"></path>
            <path d="M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3    c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7    c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41    c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56    c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8    c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3    c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3    C447,415.5,446.9,388.8,446.8,383.6z"></path>
        </symbol>
        <symbol id="svg-left" viewBox="0 0 18 18"><path d="M11.56 5.56L10.5 4.5 6 9l4.5 4.5 1.06-1.06L8.12 9z"/></symbol>
        <symbol id="svg-right" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></symbol>
        <symbol viewBox="0 0 26 15" id="svg-down"><polygon points="23.303,-0.002 12.467,10.834 1.63,-0.002 -0.454,2.082 12.467,15.002 14.551,12.918 25.387,2.082   "/></symbol>
        <symbol viewBox="0 0 24 24" id="svg-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></symbol>
        <symbol id="svg-dropdown" viewBox="0 0 24 24" ><polyline fill="none" points="21,8.5 12,17.5 3,8.5 " stroke="#ffffff" stroke-miterlimit="10" stroke-width="2"/></symbol>
   <symbol id="svg-gcard" viewBox="0 0 1000 1000">
<g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M9264.7,4467.2c-243.1-63.5-379-238.8-398.7-519.2l-13.1-162.1H4971.2c-2692.2,0-3918.9-6.6-4010.9-24.1c-422.8-76.7-766.7-427.2-841.2-852.1C101.6,2809,97.2,2154,101.6,719.2l6.6-2048.2l50.4-129.3c120.5-322,335.2-534.5,652.8-652.8c118.3-43.8,179.6-48.2,757.9-56.9l630.9-8.8v-348.3v-348.3h1577.2h1577.2v350.5v350.5h175.2h175.3v-350.5v-350.5h1051.5H7808v350.5v350.5h523.6h525.7l6.6-858.7c6.6-834.6,8.8-863.1,54.8-948.5c100.8-188.4,256.3-282.6,466.6-282.6s365.8,94.2,466.6,282.6l48.2,87.6V105.8c0,3857.6-2.2,4000-41.6,4074.5C9740.1,4405.9,9488.2,4526.4,9264.7,4467.2z M6445.5,2699.4c328.6-65.7,652.8-234.4,915.6-477.5c197.2-181.8,333-365.8,444.7-609c138-297.9,166.5-438.1,164.3-828c0-311.1-6.6-354.9-61.3-525.7c-116.1-352.7-276-613.3-519.2-845.6c-234.4-221.2-446.9-346.1-786.4-460l-186.2-63.5H3961.4H1505.7l-107.3,65.7c-65.7,41.6-131.4,107.3-173.1,173l-65.7,107.3l-6.6,1524.6c-4.4,1012,0,1550.9,15.3,1603.5c39.4,129.2,140.2,249.7,267.3,313.3l116.1,57h2361.4C5972.3,2734.5,6298.7,2730.1,6445.5,2699.4z"/><path d="M5781.7,2351.1c-335.2-63.5-593.7-199.3-832.4-438.1c-517-514.8-609-1279.3-236.6-1923.3c43.8-74.5,155.5-210.3,247.5-302.3C5093.9-446.2,5170.5-501,5334.8-582c278.2-135.8,438.1-175.3,720.7-175.3c282.6,2.2,446.9,41.6,720.7,175.3c289.1,142.4,525.7,379,668.1,668.1c133.6,273.8,173,438.1,175.3,720.7c0,282.6-39.5,442.5-175.3,720.7c-216.9,442.5-652.8,753.6-1163.2,832.4C6086.2,2390.6,5976.7,2388.4,5781.7,2351.1z M6331.6,1253.7c65.7-39.4,131.4-105.1,173.1-170.9c59.2-96.4,65.7-127.1,65.7-276c0-149-6.6-179.6-65.7-276c-41.6-65.7-107.3-131.4-173.1-173.1c-96.4-59.2-127.1-65.7-276-65.7s-179.6,6.6-276,65.7c-348.3,216.9-328.6,733.8,39.4,917.9C5981.1,1358.8,6176,1350,6331.6,1253.7z"/><path d="M1913.2,1970c-35.1-35.1-63.5-78.9-63.5-98.6c0-61.3,48.2-140.2,103-164.3c35-15.3,341.7-24.1,961.7-24.1h911.3l63.5,63.5c35,35,63.5,78.9,63.5,98.6c0,61.3-48.2,140.2-103,164.3c-35,15.3-341.7,24.1-961.7,24.1h-911.3L1913.2,1970z"/><path d="M1913.2,918.5c-35.1-35-63.5-85.4-63.5-111.7c0-26.3,28.5-76.7,63.5-111.7l63.5-63.5h749.2h749.2l63.5,63.5c35.1,35.1,63.5,85.4,63.5,111.7c0,26.3-28.5,76.7-63.5,111.7l-63.5,63.5h-749.2h-749.2L1913.2,918.5z"/><path d="M1946-95.7c-48.2-21.9-96.4-103-96.4-162.1c0-19.7,28.5-63.5,63.5-98.6l63.5-63.5h924.4h924.4l63.5,63.5c35,35.1,63.5,85.4,63.5,111.7s-28.5,76.7-63.5,111.7l-63.5,63.5l-917.9-2.2C2325-71.6,1974.5-80.4,1946-95.7z"/></g></g>
</symbol>
    <symbol id="svg-usb" viewBox="0 0 469.333 469.333">
			<path d="M466.208,131.125l-128-128c-4.167-4.167-10.917-4.167-15.083,0l-88.458,88.458l-3.125-3.125     c-4.167-4.167-10.917-4.167-15.083,0L33.292,271.625C11.833,293.094,0,321.635,0,352c0,64.698,52.646,117.333,117.333,117.333     c29.917,0,59.229-12.135,80.375-33.292l183.167-183.167c4.167-4.167,4.167-10.917,0-15.083l-3.125-3.125l88.458-88.458     C470.375,142.042,470.375,135.292,466.208,131.125z M263.771,296.365l-15.083,15.083c-2.083,2.083-4.813,3.125-7.542,3.125     c-2.729,0-5.458-1.042-7.542-3.115l-0.005-0.005l-5.766,5.766c-6.125,6.125-14.229,9.396-22.542,9.396     c-3.417,0-6.854-0.552-10.208-1.677l-26.482-8.827l-20.297,20.293c1.79,7.056,0.285,14.798-5.221,20.305     c-4.167,4.156-9.625,6.24-15.083,6.24c-5.458,0-10.917-2.083-15.083-6.24c-8.313-8.313-8.313-21.854,0-30.167     c5.522-5.508,13.253-7.012,20.305-5.22l5.195-5.195l-8.833-26.501c-3.854-11.573-0.896-24.125,7.75-32.76l8.07-8.07     c-1.79-7.056-0.286-14.797,5.221-20.305c8.333-8.313,21.833-8.313,30.167,0c8.313,8.313,8.313,21.854,0,30.167     c-4.167,4.156-9.625,6.24-15.083,6.24c-1.775,0-3.49-0.576-5.22-1.016l-8.072,8.078c-2.896,2.885-3.875,7.063-2.583,10.906     l5.461,16.387l63.211-63.204l-0.005-0.005c-2.604-2.615-3.688-6.396-2.833-10c0.833-3.604,3.5-6.5,7-7.677l22.646-7.542     c3.854-1.26,8.083-0.26,10.917,2.583c2.854,2.854,3.854,7.083,2.583,10.917l-7.542,22.625c-1.167,3.5-4.083,6.156-7.667,7.01     c-0.813,0.188-1.646,0.281-2.458,0.281c-2.792,0-5.521-1.094-7.542-3.115l-0.005-0.005l-48.137,48.132l16.371,5.457     c3.833,1.271,8.021,0.313,10.917-2.573l5.755-5.755l-0.005-0.005c-2-2-3.125-4.719-3.125-7.552s1.125-5.552,3.125-7.552     l15.104-15.083c4.167-4.146,10.917-4.156,15.083,0.01l15.083,15.083C267.937,285.448,267.937,292.198,263.771,296.365z      M362.667,219.583L249.75,106.667l80.917-80.917l112.917,112.917L362.667,219.583z"/>
			<path d="M290.979,99.281c-4.021,4.188-3.958,10.823,0.146,14.927l10.667,10.667c2.083,2.083,4.813,3.125,7.542,3.125     c2.729,0,5.458-1.042,7.542-3.125l32-32c4.167-4.167,4.167-10.917,0-15.083l-10.667-10.667c-1.021-1.021-2.25-1.854-3.583-2.385     C327.125,61.708,327.125,61.625,290.979,99.281z"/>
			<path d="M344.479,167.562l10.667,10.667c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l32-32     c4.167-4.167,4.167-10.917,0-15.083l-10.667-10.667c-1.021-1.021-2.25-1.854-3.583-2.385c-7.479-3.031-7.5-3.115-43.646,34.542     C340.313,156.823,340.375,163.458,344.479,167.562z"/>
			<polygon points="128,341.625 128,341.635 135.542,349.167 128.031,341.646    "/>
			<polygon points="173.25,251.115 165.708,243.562 165.708,243.573 165.729,243.604    "/>
    </symbol>
    <symbol id="svg-case" viewBox="0 0 106.166 106.166">
        <path d="M71.333,0h-36.5c-2.762,0-5,2.238-5,5v96.166c0,2.762,2.238,5,5,5h36.5c2.762,0,5-2.238,5-5V5   C76.333,2.238,74.095,0,71.333,0z M72.55,100.732c0,1.066-0.865,1.934-1.934,1.934H35.382c-1.066,0-2.432-0.866-2.432-1.934   l-0.5-3.383h40.6L72.55,100.732z M71.763,25.144v4.605H33.562v-4.605H71.763z M33.562,18.522v-4.606h38.201v4.606H33.562z    M37.167,71c-1.565,0-2.833-1.27-2.833-2.834s1.268-2.833,2.833-2.833S40,66.602,40,68.166S38.732,71,37.167,71z M39.5,75.833   c0,1.288-1.044,2.333-2.333,2.333s-2.333-1.045-2.333-2.333c0-1.289,1.044-2.334,2.333-2.334S39.5,74.544,39.5,75.833z    M32.45,8.857l0.5-3.383c0-1.068,0.865-1.934,1.932-1.934h35.234c1.068,0,2.434,0.865,2.434,1.934l0.5,3.383H32.45z"/>
    </symbol>
    <symbol id="svg-pbank" viewBox="0 0 510 510"><path d="m451.034 128.92h-46.866c-5.541 0-10.033 4.492-10.033 10.033v42.14h66.933v-42.14c-.001-5.541-4.493-10.033-10.034-10.033z"/><path d="m384.803 211.194c-2.771 0-5.017 2.246-5.017 5.017v40.485c0 17.565 14.237 31.876 31.876 31.876h.893v163.886c0 15.156-12.286 27.442-27.442 27.442h-183.2c-15.141 0-27.452-12.311-27.452-27.442v-45.672h-30.1v45.672c0 31.726 25.816 57.542 57.552 57.542h183.191c31.785 0 57.552-25.767 57.552-57.552v-163.876h.883c17.605 0 31.876-14.271 31.876-31.876v-40.485c0-2.771-2.246-5.017-5.017-5.017z"/><path d="m284.248 359.859c0-3.088 0-340.072 0-343.033 0-9.281-7.546-16.826-16.827-16.826h-216.01c-9.281 0-16.826 7.545-16.826 16.826v343.033c0 9.271 7.545 16.826 16.826 16.826h216.01c9.281 0 16.827-7.555 16.827-16.826zm-174.954-34.555c0 8.318-6.742 15.05-15.05 15.05-8.318 0-15.05-6.732-15.05-15.05v-2.829c0-8.308 6.732-15.05 15.05-15.05 8.308 0 15.05 6.742 15.05 15.05zm65.167 0c0 8.318-6.742 15.05-15.05 15.05s-15.05-6.732-15.05-15.05v-2.829c0-8.308 6.742-15.05 15.05-15.05s15.05 6.742 15.05 15.05zm28.887-174.983-30.341 63.923c-3.532 7.464-12.485 10.742-20.047 7.144-7.515-3.562-10.706-12.542-7.144-20.047 17.035-35.906 11.509-24.258 20.127-42.422-14.653 0-4.309 0-36.873 0-10.925 0-18.207-11.315-13.706-21.261l30.341-66.933c3.431-7.565 12.351-10.927 19.916-7.495 7.575 3.431 10.926 12.351 7.495 19.926-16.3 35.953-11.849 26.134-20.699 45.662h37.334c11.024.001 18.325 11.53 13.597 21.503zm36.281 174.983c0 8.318-6.732 15.05-15.05 15.05-8.308 0-15.05-6.732-15.05-15.05v-2.829c0-8.308 6.743-15.05 15.05-15.05 8.318 0 15.05 6.742 15.05 15.05z"/></symbol>
    <symbol id="svg-bag" viewBox="0 0 194.63 194.63" >
            <path d="M172.674,104.63c2.824-6.535,2.341-11.061-0.126-14.159c0.034-0.141,0.104-0.264,0.116-0.415   c1.439-16.454-1.635-34.256-10.98-47.793c-3.159-6.018-7.254-11.214-12.58-15.156c-1.491-18.56-30.667-38.388-42.412-19.407   c-5.034-0.002-10.292,1.666-14.319,4.668c-3.787,2.823-8.584,9.208-9.338,14.57C51.174-1.943,23.056,69.752,20.414,94.047   c-1.971,18.125,3.932,41.398,10.664,57.919c2.218,5.441,18.145,25.57,23.263,12.709c0.001,0,0.002,0,0.003,0   c5.58,11.693,14.67,21.224,28.61,26.142c20.661,7.289,51.409,4.537,67.837-11.836c3.767-2.814,6.687-6.319,8.146-10.749   c2.058-1.311,3.981-2.891,5.709-4.843c9.579-10.829,9.474-29.187,6.739-44.113c-0.412-2.908-0.956-5.805-1.612-8.662   c-0.075-0.326-0.23-0.557-0.367-0.808c0.443-0.059,0.886-0.105,1.33-0.169C173.469,109.242,173.818,106.531,172.674,104.63z    M131.783,10.573c4.827,2.954,9.708,7.821,12.214,13.351c-2.948-1.524-6.209-2.719-9.814-3.537   c-1.182-1.606-3.001-2.914-4.583-3.777c-2.629-1.435-5.657-1.761-8.595-1.43c-1.757-3.082-4.421-5.149-7.53-6.313   C119.242,5.645,125.307,6.609,131.783,10.573z M127.138,19.323c-1.474-0.122-3.005-0.18-4.577-0.191   c-0.119-0.44-0.243-0.875-0.387-1.292c1.711,0.162,3.366,0.596,4.958,1.48C127.133,19.32,127.136,19.323,127.138,19.323z    M96.664,15.823c2.86-1.982,6.281-3.445,9.779-3.566c0.634,0.459,1.476,0.565,2.255,0.114c0.121,0.017,0.242,0.017,0.362,0.038   c4.172,0.728,6.376,3.738,8.485,6.891c-1.587,0.121-3.15,0.292-4.677,0.544c0.24-0.559,0.195-1.252-0.306-1.855   c-3.549-4.275-11.265-4.22-15.716-1.556c-2.433,1.456-3.794,3.989-3.934,6.594c-0.544,1.575-0.75,3.292-0.678,5.002   c-1.375,0.891-2.754,1.777-4.059,2.781C85.243,26.1,92.972,18.381,96.664,15.823z M105.77,21.545   c-2.514,0.784-4.931,1.757-7.263,2.882c0.67-1.075,1.509-2.038,2.692-2.71C102.838,20.784,104.322,21.012,105.77,21.545z    M49.229,105.032c-1.859,9.933-2.675,20.665-1.934,31.135c-15.62-30.222-7.852-81.073,26.359-90.425   C60.61,63.11,52.792,85.999,49.229,105.032z M48.309,144.773c0.778,4.812,1.957,9.483,3.554,13.937   c-7.248-2.849-12.246-7.685-15.624-13.712c-1.008-3.119-1.837-6.297-2.656-9.33c-1.344-4.972-2.523-10.103-3.469-15.298   c-0.731-13.726,1.415-28.351,3.073-39.534c2.279-15.373,12.613-42.273,27.156-50.109c7.013-3.452,14.686-2.85,22.539,4.516   c0.018,0.017,0.038,0.02,0.057,0.036c-1.167,1.103-2.298,2.254-3.403,3.44C31.729,38.426,20.983,114.668,48.309,144.773z    M133.786,166.951c-1.711,0.106-3.395,0.195-5.02,0.302c-6.317,0.413-13.954,1.513-19.882-0.543   c-0.186-0.073-0.374-0.146-0.556-0.224c-0.229-0.089-0.454-0.186-0.678-0.285c-0.593-0.279-1.159-0.587-1.709-0.91   c-0.112-0.069-0.232-0.127-0.342-0.2c-0.069-0.043-0.131-0.093-0.2-0.136c-2.009-1.407-3.654-3.431-4.738-6.32   c-4.288-11.43-3.469-26.764-2.058-39.515c15.715,1.496,34.099-3.038,50.09-6.846c4.791-0.496,9.581-1.036,14.369-1.66   c0.943,8.027,1.863,16.131,1.713,24.184C162.142,151.143,151.278,162.806,133.786,166.951z M98.106,107.68   c2.997-6.024,18.984-8.776,24.388-9.872c7.012-1.422,14.099-2.198,21.242-2.456c2.94-0.106,23.288,4.086,20.469,6.18   c-1.606,1.193-3.562,2.096-5.71,2.797c-14.051,1.978-28.149,3.449-42.31,4.544C112.24,109.179,101.289,111.97,98.106,107.68z    M137.132,85.015c-16.997,1.791-43.118,0.537-45.022,19.529c-1.844,2.395-2.516,4.914-1.138,7.284   c-9.388,17.144-7.3,43.38,6.957,56.331c1.979,2.155,4.291,3.641,6.828,4.647c3.638,1.786,7.773,2.903,12.449,3.108   c6.883,0.303,14.206-0.212,21.176-1.907c2.915-0.242,5.812-0.594,8.625-1.182c-0.341,0.342-0.677,0.689-1.029,1.017   c-15.789,11.504-48.263,14.155-68.766,6.25c-6.283-3.526-11.003-8.527-14.482-14.445C50.356,131.152,58.102,90.499,75.642,59.21   c12.066-21.525,32.846-33.444,55.741-28.674c-23.643,3.119-48.149,17.156-56.798,39.986c-2.391,6.312-16.126,37.31-10.13,47.484   c-0.065,0.008-0.13,0.011-0.195,0.019c-0.577-0.12-1.16,0.05-1.583,0.63c-0.035,0.046-0.07,0.088-0.101,0.138   c-0.032,0.053-0.073,0.082-0.103,0.142c-2.924,5.829-0.978,13.335-0.896,19.609c0.018,1.385,1.142,2.542,2.541,2.541   c2.374-0.001,4.648-0.097,6.972-0.607c3.111-0.684,4.042-1.365,4.694-4.444c1.134-5.362,1.142-11.566-0.325-16.865   c-0.433-1.565-1.889-2.13-3.365-1.909c-1.115,0.165-2.241,0.247-3.367,0.335c-3.543-7.523,9.537-37.736,11.579-43.396   c9.381-26.001,37.998-38.053,63.381-38.34c0.584-0.007,1.05-0.174,1.456-0.404c3.216,1.759,5.838,3.913,8.035,6.34   c6.161,10.474,9.378,24.388,12.06,37.175c0.318,2.491,0.64,4.953,1.011,7.351C157.821,83.249,144.978,84.188,137.132,85.015z    M66.167,121.947c1.425,0.12,2.845,0.273,4.265,0.419c0.636,4.278,0.758,8.618,0.069,12.898c-1.317,0.34-2.61,0.54-3.947,0.639   c-0.09-1.99-0.21-3.978-0.336-5.968C66.052,127.275,66.272,124.601,66.167,121.947z"/>
    </symbol> 
    <symbol id="svg-vr" viewBox="0 0 509.208 509.208"><path d="m404.875 179.518h-300.542c-30.08 0-54.551 24.471-54.551 54.55v124.033c0 30.079 24.471 54.551 54.551 54.551h71.337c34.216 0 63.106-24.501 68.696-58.258l1.41-8.517c1.647-9.947 16.01-9.942 17.656 0l1.41 8.517c5.589 33.757 34.48 58.258 68.696 58.258h71.337c30.08 0 54.551-24.472 54.551-54.551v-124.033c0-30.079-24.471-54.55-54.551-54.55zm-134.898 81.468h-30.745c-8.836 0-16-7.163-16-16s7.164-16 16-16h30.745c8.836 0 16 7.163 16 16s-7.164 16-16 16z"/><path d="m339.31 147.518c-1.169-28.298-24.546-50.962-53.126-50.962h-63.16c-28.58 0-51.956 22.664-53.126 50.962z"/><path d="m491.426 235.034v105.342c10.802-8.315 17.782-21.363 17.782-36.018v-33.307c0-14.654-6.98-27.702-17.782-36.017z"/><path d="m17.782 235.034c-10.802 8.315-17.782 21.363-17.782 36.017v33.307c0 14.654 6.98 27.703 17.782 36.018z"/></symbol>
    <symbol id="svg-drone" viewBox="0 0 512 512" >
                <path d="M422,332c-19.406,0-37.277,6.313-51.991,16.798l-13.326-13.326c-33.889-46.329-33.889-112.614,0-158.943l13.326-13.327    C384.723,173.687,402.594,180,422,180c49.629,0,90-40.371,90-90c0-49.629-40.371-90-90-90c-49.629,0-90,40.371-90,90    c0,19.406,6.313,37.277,16.798,51.991l-13.328,13.328c-46.344,33.904-112.596,33.904-158.94,0l-13.328-13.328    C173.687,127.277,180,109.406,180,90c0-49.629-40.371-90-90-90C40.371,0,0,40.371,0,90c0,49.629,40.371,90,90,90    c19.406,0,37.277-6.313,51.991-16.798l13.326,13.326c33.889,46.329,33.889,112.614,0,158.943l-13.326,13.326    C127.277,338.313,109.406,332,90,332c-49.629,0-90,40.371-90,90c0,49.629,40.371,90,90,90s90-40.371,90-90    c0-19.406-6.313-37.277-16.798-51.991l13.328-13.328c46.344-33.904,112.596-33.904,158.94,0l13.328,13.328    C338.313,384.723,332,402.594,332,422c0,49.629,40.371,90,90,90c49.629,0,90-40.371,90-90C512,372.371,471.629,332,422,332z     M422,30c33.091,0,60,26.909,60,60s-26.909,60-60,60c-11.094,0-21.367-3.232-30.289-8.5L422,111.211l4.395,4.395    c5.859,5.859,15.352,5.859,21.211,0c5.859-5.859,5.859-15.352,0-21.211l-30-30c-5.859-5.859-15.352-5.859-21.211,0    c-5.859,5.859-5.859,15.352,0,21.211L400.789,90L370.5,120.289c-5.268-8.923-8.5-19.195-8.5-30.289C362,56.909,388.909,30,422,30z     M141.5,120.289L111.211,90l4.395-4.395c5.859-5.859,5.859-15.352,0-21.211s-15.352-5.859-21.211,0l-30,30    c-5.859,5.859-5.859,15.352,0,21.211s15.352,5.859,21.211,0L90,111.211l30.289,30.289c-8.923,5.268-19.195,8.5-30.289,8.5    c-33.091,0-60-26.909-60-60s26.909-60,60-60s60,26.909,60,60C150,101.094,146.768,111.367,141.5,120.289z M90,482    c-33.091,0-60-26.909-60-60s26.909-60,60-60c11.094,0,21.367,3.232,30.289,8.5L90,400.789l-4.395-4.395    c-5.859-5.859-15.352-5.859-21.211,0c-5.859,5.859-5.859,15.352,0,21.211l30,30c5.859,5.859,15.352,5.859,21.211,0    c5.859-5.859,5.859-15.352,0-21.211L111.211,422l30.289-30.289c5.268,8.923,8.5,19.195,8.5,30.289C150,455.091,123.091,482,90,482    z M422,482c-33.091,0-60-26.909-60-60c0-11.094,3.232-21.367,8.5-30.289L400.789,422l-4.395,4.395    c-5.859,5.859-5.859,15.352,0,21.211c2.93,2.93,6.768,4.395,10.605,4.395c3.837,0,7.676-1.465,10.605-4.395l30-30    c5.859-5.859,5.859-15.352,0-21.211s-15.352-5.859-21.211,0L422,400.789L391.711,370.5c8.923-5.268,19.195-8.5,30.289-8.5    c33.091,0,60,26.909,60,60S455.091,482,422,482z"/>
    </symbol>
    <symbol id="svg-swatch" viewBox="0 0 512 512"><g><path d="m280.19 211.21-13.8 13.72c-5.85 5.82-15.3 5.82-21.15 0l-13.8-13.72c-5.25-5.22-12.14-7.83-19.03-7.83-6.9 0-13.79 2.61-19.04 7.83-5.06 5.03-7.84 11.71-7.84 18.81s2.78 13.79 7.84 18.82l62.45 62.1 62.44-62.1c5.06-5.03 7.84-11.72 7.84-18.82s-2.78-13.78-7.84-18.81c-10.5-10.44-27.58-10.44-38.07 0z"/><path d="m367.52 106.62h-223.04c-21.22 0-38.48 17.19-38.48 38.32v222.12c0 21.13 17.26 38.32 38.48 38.32h223.04c21.22 0 38.48-17.19 38.48-38.32v-222.12c0-21.13-17.26-38.32-38.48-38.32zm-28.1 163.49-73.03 72.62c-2.92 2.9-6.75 4.36-10.57 4.36-3.83 0-7.66-1.46-10.58-4.36l-73.03-72.62c-10.76-10.7-16.68-24.94-16.68-40.09 0-15.14 5.92-29.38 16.68-40.08 22.17-22.04 58.23-22.04 80.39 0l3.22 3.2 3.21-3.2c22.17-22.04 58.22-22.04 80.39 0 10.76 10.7 16.68 24.94 16.68 40.08 0 15.15-5.92 29.39-16.68 40.09z"/><path d="m336.52 10.66c-1.92-6.33-7.78-10.66-14.43-10.66h-132.19c-6.64 0-12.5 4.33-14.42 10.66l-20.12 66.12h201.27z"/><path d="m175.48 501.34c1.92 6.33 7.78 10.66 14.42 10.66h132.19c6.65 0 12.51-4.33 14.43-10.66l20.06-65.96h-201.17z"/></g></symbol>
    <symbol id="svg-techheart" viewBox="0 0 300 300">
	<path class="st0" d="M8.5,124.8c29.6-29.6,58.6-58.7,87.9-88c17.8,17.9,35.8,35.8,54.1,54.1c18.1-18.4,36.1-36.7,54-54.8   c29.5,29.5,58.6,58.6,87.6,87.6c-47.2,47.2-94.6,94.6-141.6,141.6C103.2,218.5,55.8,171.6,8.5,124.8z M150.4,231.8   c35.9-35.9,72.2-72.2,108.4-108.4c-17.9-17.8-36-35.8-54.5-54.2c-17.9,18-36,36.2-54.3,54.6c-18-18-36-35.9-53.8-53.7   c-18.1,18.1-36.1,36.1-54.4,54.4C78,160.3,114.3,196.2,150.4,231.8z"/>
</symbol>
</svg>
</div>