<link rel="stylesheet" href="js/addons/ath_font_awesome/use.fontawesome.css">

<style>
	@ath_cart_icon: {$addons.ath_font_awesome.cart_icon};
</style>

{style src="addons/ath_font_awesome/styles.less"}
