{* {capture name="popup_content"}
	TEST CONTENT
{/capture} *}
{* <img src="https://hhstsyoejx.gjirafa.net/gj50/banners/megabaner_desktop-1545070690.jpg"> *}
<div class="row-fluid">
	<div class="span16 calendar-title">
		<h1>Kalendari i lansimit</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span16 calendar-categories">
		<form>
			<select>
				<option selected>Te gjitha kategorite</option>
				<option>1</option>
				<option>1</option>
				<option>1</option>
				<option>1</option>
			</select>
		</form>
	</div>
</div>
<div class="row-fluid calendar-row">
	<div class="span4 product">
		<span class="calendar-date">
			<span>20</span>
			<span>JANAR</span>
		</span>
		<img src="https://hhstsyoejx.gjirafa.net/gj50/img/73424/img/0.jpg">
		<div class="img-last">
			<img src="https://hhstsyoejx.gjirafa.net/gj50/img/93068/img/0.jpg">
		</div>
		<div class="action-wrapper">
			<a class="action-btn left cm-dialog-opener" data-ca-view-id="1_d" href="{"pages.quick_view?type=details&product_id=1_d"|fn_url}">SHIKO DETAJET</a>
			{* <a class="action-btn right cm-dialog-opener" data-ca-view-id="1_n" href="{"pages.quick_view?type=notify&product_id=1_n"|fn_url}">Me njofto</a> *}
		</div>
		<p class="name">Emri i produktit</p>
	</div>
	<div class="span4 product">
		<span class="calendar-date">
			<span>20</span>
			<span>JANAR</span>
		</span>
		<img src="https://hhstsyoejx.gjirafa.net/gj50/img/73424/img/0.jpg">
		<div class="img-last">
			<img src="https://hhstsyoejx.gjirafa.net/gj50/img/93068/img/0.jpg">
		</div>
		<div class="action-wrapper">
			<a class="action-btn left cm-dialog-opener" data-ca-view-id="1_d" href="{"pages.quick_view?type=details&product_id=1_d"|fn_url}">SHIKO DETAJET</a>
			{* <a class="action-btn right cm-dialog-opener" data-ca-view-id="1_n" href="{"pages.quick_view?type=notify&product_id=1_n"|fn_url}">Me njofto</a> *}
		</div>
		<p class="name">Emri i produktit</p>
	</div>
</div>

{* {capture name="details_content"}
	test
{/capture}

{capture name="notify_content"}
<div>
	<h1>Notify</h1>
</div>
{/capture}

{include file="common/popupbox.tpl" id="details" content=$smarty.capture.details_content link_text="SHIKO DETAJET" text="TEST HEADER"}
{include file="common/popupbox.tpl" id="notify" content=$smarty.capture.notify_content link_text="Me njofto" text="TEST HEADER"} *}

{* <div id="details_dialog" class="hidden">
<p>TEXT</p>
</div> *}
