.ty-cr-product-info-container {
    max-width: 430px;
    .clearfix();
}
.ty-cr-product-info-image {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    img{
        max-height:120px;
    }
}
.ty-cr-product-info-header {
    padding: 10px;
    display: inline-block;
    max-width: 260px;
    padding-top:35px;
}
.cr-popup-error-box {
    max-width: 430px;
    padding-bottom: 10px;
}
.ty-dropdown-box__title a {
    white-space: nowrap;
}
.ty-cr-phone-number-link {
    padding-left: 30%;
}
.ty-cr-phone-number-link {
    margin: 4px 0px 0px;
    text-align: center;

    .ty-cr-phone {
        white-space: nowrap;
    }
    
    .ty-cr-phone {
        color: darken(@base, 40%);
        font-weight: bold;
        font-size: 18px;
        line-height: 1em;
    }
    
    .ty-cr-link {
        margin: 3px 0px 0px;
        a {
           margin: 0;
        }
    }

    .ty-cr-phone-prefix {
        color: darken(@base, 15%);
        font-weight: 400;
    }
}

.ty-cr-product-button{
    margin-left: 0 !important;
    background: #333;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    background-image: url(images/icons/buy1click.svg) !important;
    background-position: 16px 16px !important;
    background-repeat: no-repeat !important;
    background-size: 20px 20px !important;
    &:hover{
        background: #1b1b1b;
    }
}

.ty-cr-or {
    margin-bottom: -4px;
    margin-top: -3px;
    text-align: center;
    text-transform: uppercase;
}

.ty-cr-widget-content-grid .ty-cr-phone-number-link {
    margin: 0;
    padding-left: 0%;
}

@media (max-width : 1100px) {
    .ty-cr-phone-number-link {
        padding-left: 0%;
    }
    .ty-cr-phone-number-link .ty-cr-phone,.ty-cr-phone-number-link .ty-cr-phone a {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .ty-cr-content-grid .ty-cr-phone-number-link {
        margin: 10px 0px 0px;
        float: left;
    }
    .ty-cr-phone-prefix {
        display: inline;
    }
    
    .ty-cr-widget-content-grid .ty-cr-phone-number-link {
        clear: both;
        padding: 12px;
    }

    .header-widget-grid .cart-content-grid {
        width: 100%;
    }
    .ty-cr-product-info-container,
    .cr-popup-error-box {
        max-width: 100%;
    }
    .ty-cr-product-info-header {
        padding: 0;
        display: block;
        max-width: 100%;
    }
    .ty-cr-product-info-image {
        display: block;
        text-align: center;
    }
}