<div style="display: none">
    <svg>
        <symbol id="tv" viewBox="0 0 512 512">
            <path
                    d="M512,391V61H0v330h141v30h-40v30h40h230h40v-30h-40v-30H512z M341,421H171v-30h170V421z M30,361V91h452v270H30z"
            />
        </symbol>
        <symbol id="headset" viewBox="0 0 47 47">
            <path
                    d="M40.508,25.355h-0.311v-1.58c0.738-0.428,1.238-1.216,1.238-2.13c0-9.888-8.045-17.934-17.935-17.934   c-9.889,0-17.935,8.046-17.935,17.935c0,0.914,0.5,1.702,1.237,2.131v1.58h-0.31C2.913,25.357,0,28.685,0,32.775v2.477   c0,4.092,2.913,7.42,6.493,7.42h2.89l0.256,0.256c0.241,0.241,0.558,0.362,0.874,0.362c0.317,0,0.634-0.121,0.875-0.362   c0.285-0.285,0.382-0.673,0.33-1.044c0.214-0.302,0.342-0.669,0.342-1.067V27.21c0-1.025-0.831-1.855-1.855-1.855H9.277v-1.58   c0.736-0.428,1.236-1.216,1.236-2.13c0-7.161,5.826-12.987,12.987-12.987s12.986,5.826,12.986,12.987c0,0.914,0.5,1.702,1.236,2.13   v1.58h-0.928c-1.023,0-1.855,0.83-1.855,1.855v13.605c0,0.397,0.129,0.766,0.342,1.066c-0.051,0.371,0.046,0.758,0.33,1.044   c0.242,0.241,0.559,0.362,0.875,0.362s0.634-0.121,0.875-0.362l0.256-0.256h2.89c3.58,0,6.493-3.328,6.493-7.42v-2.476   C47.001,28.685,44.088,25.355,40.508,25.355z"
            />
        </symbol>
        <symbol id="keyboard" viewBox="0 0 512 512">
            <path
                    d="M481.596,90.907H30.404C13.353,90.907,0,104.261,0,121.311v269.378c0,16.765,13.639,30.404,30.404,30.404h451.192    c16.765,0,30.404-13.639,30.404-30.404V121.311C512,104.546,498.361,90.907,481.596,90.907z M475.515,384.608H36.485V127.392    h439.031V384.608z"
            />

            <rect x="161.14" y="310.423" width="189.72" height="36.485"/>

            <rect x="73.577" y="163.876" width="71.145" height="36.485"/>

            <rect x="171.477" y="163.876" width="71.145" height="36.485"/>

            <rect x="269.378" y="163.876" width="71.145" height="36.485"/>

            <rect x="367.278" y="163.876" width="71.139" height="36.485"/>

            <rect x="73.577" y="240.494" width="71.145" height="36.485"/>

            <rect x="171.477" y="240.494" width="71.145" height="36.485"/>

            <rect x="269.378" y="240.494" width="71.145" height="36.485"/>

            <rect x="367.278" y="240.494" width="71.139" height="36.485"/>
        </symbol>
        <symbol id="mouse" viewBox="0 0 512 512">
            <path
                    d="M256,0C156.595,0,75.726,82.14,75.726,183.099v145.807C75.726,429.865,156.595,512,256,512    c99.399,0,180.274-81.886,180.274-182.534V183.099C436.274,82.14,355.399,0,256,0z M402.366,329.466    c0,81.954-65.656,148.627-146.366,148.627c-80.705,0-146.366-66.927-146.366-149.192V183.099    c0-82.265,65.661-149.192,146.366-149.192c80.711,0,146.366,66.927,146.366,149.192V329.466z"
            />
            <path
                    d="M256,140.15c-9.364,0-16.954,7.59-16.954,16.954v59.338c0,9.364,7.59,16.954,16.954,16.954    c9.364,0,16.954-7.59,16.954-16.954v-59.338C272.954,147.74,265.364,140.15,256,140.15z"
            />
        </symbol>
        <symbol id="usb" viewBox="0 0 511.991 511.991">
            <g>
                <path d="m407.995 128.991h-64c-8.284 0-15 6.716-15 15v64c0 8.284 6.716 15 15 15h17v48.228l-98 55.125v-215.353h33c11.605 0 18.824-12.659 12.904-22.647l-48-81c-5.8-9.787-20.004-9.796-25.809 0l-48 81c-5.917 9.983 1.294 22.647 12.904 22.647h33v219.715l-82-29.286v-48.898c18.58-6.276 32-23.86 32-44.531 0-25.916-21.084-47-47-47s-47 21.084-47 47c0 20.671 13.42 38.255 32 44.531v59.469c0 6.339 3.985 11.994 9.955 14.126l102.045 36.445v24.248c-27.518 6.749-48 31.612-48 61.181 0 34.864 28.204 64 63 64 34.716 0 63-29.064 63-64 0-29.569-20.482-54.433-48-61.181v-26.046l120.354-67.699c4.724-2.657 7.646-7.655 7.646-13.074v-57h17c8.284 0 15-6.716 15-15v-64c.001-8.285-6.715-15-14.999-15z"/>
            </g>
        </symbol>
        <symbol id="wifi" viewBox="0 0 493.746 493.746">
            <path id="XMLID_362_"
                  d="M212.524,356.921c-18.966,18.968-18.966,49.737,0,68.706c18.976,18.965,49.74,18.965,68.715,0   c18.965-18.969,18.965-49.738,0-68.706C262.264,337.952,231.5,337.952,212.524,356.921z"/>
            <path id="XMLID_361_"
                  d="M246.882,241.383c-40.027,0-77.683,15.591-105.971,43.907c-11.113,11.108-11.113,29.112,0,40.213   c11.104,11.108,29.1,11.108,40.213,0c17.546-17.571,40.907-27.244,65.758-27.244s48.213,9.673,65.759,27.244   c5.561,5.554,12.855,8.33,20.111,8.33c7.294,0,14.55-2.776,20.102-8.33c11.113-11.101,11.113-29.104,0-40.213   C324.565,256.974,286.909,241.383,246.882,241.383z"/>
            <path id="XMLID_360_"
                  d="M246.882,147.743c-65.053,0-126.209,25.335-172.199,71.331c-11.104,11.108-11.104,29.114,0,40.213   c11.112,11.108,29.118,11.108,40.212,0c35.248-35.258,82.129-54.672,131.986-54.672c49.837,0,96.718,19.414,131.967,54.672   c5.551,5.555,12.846,8.332,20.102,8.332c7.294,0,14.56-2.777,20.111-8.332c11.104-11.099,11.104-29.105,0-40.213   C373.071,173.078,311.935,147.743,246.882,147.743z"/>
            <path id="XMLID_359_"
                  d="M485.436,152.721c-63.711-63.733-148.425-98.825-238.554-98.825S72.039,88.988,8.328,152.721   c-11.104,11.109-11.104,29.115,0,40.214c5.561,5.554,12.836,8.329,20.111,8.329c7.275,0,14.57-2.775,20.102-8.329   c52.97-52.989,123.419-82.166,198.341-82.166c74.923,0,145.351,29.177,198.323,82.166c11.102,11.108,29.098,11.098,40.213,0.01   C496.52,181.836,496.52,163.83,485.436,152.721z"/>
        </symbol>
        <symbol id="light" viewBox="0 0 512 512">
            <g>
                <g>
                    <path d="m256 360.099c-57.4 0-104.099-46.698-104.099-104.099s46.699-104.099 104.099-104.099 104.099 46.699 104.099 104.099-46.699 104.099-104.099 104.099zm0-178.198c-40.858 0-74.099 33.241-74.099 74.099s33.24 74.099 74.099 74.099 74.099-33.241 74.099-74.099-33.241-74.099-74.099-74.099z"/>
                </g>
                <g>
                    <path d="m256 116.071c-8.284 0-15-6.716-15-15v-86.071c0-8.284 6.716-15 15-15s15 6.716 15 15v86.071c0 8.284-6.716 15-15 15z"/>
                </g>
                <g>
                    <path d="m146.449 161.449c-3.839 0-7.678-1.464-10.606-4.393l-60.863-60.862c-5.858-5.858-5.858-15.355 0-21.213 5.857-5.858 15.355-5.858 21.213 0l60.862 60.861c5.858 5.858 5.858 15.355 0 21.213-2.928 2.929-6.767 4.394-10.606 4.394z"/>
                </g>
                <g>
                    <path d="m101.071 271h-86.071c-8.284 0-15-6.716-15-15s6.716-15 15-15h86.071c8.284 0 15 6.716 15 15s-6.716 15-15 15z"/>
                </g>
                <g>
                    <path d="m85.587 441.413c-3.839 0-7.678-1.464-10.606-4.394-5.858-5.858-5.858-15.355 0-21.213l60.862-60.861c5.858-5.857 15.356-5.857 21.213 0 5.858 5.858 5.858 15.355 0 21.213l-60.863 60.862c-2.928 2.928-6.767 4.393-10.606 4.393z"/>
                </g>
                <g>
                    <path d="m256 512c-8.284 0-15-6.716-15-15v-86.071c0-8.284 6.716-15 15-15s15 6.716 15 15v86.071c0 8.284-6.716 15-15 15z"/>
                </g>
                <g>
                    <path d="m426.413 441.413c-3.839 0-7.678-1.464-10.606-4.393l-60.862-60.861c-5.858-5.858-5.858-15.355 0-21.213 5.857-5.858 15.355-5.858 21.213 0l60.862 60.861c5.858 5.858 5.858 15.355 0 21.213-2.929 2.928-6.768 4.393-10.607 4.393z"/>
                </g>
                <g>
                    <path d="m497 271h-86.071c-8.284 0-15-6.716-15-15s6.716-15 15-15h86.071c8.284 0 15 6.716 15 15s-6.716 15-15 15z"/>
                </g>
                <g>
                    <path d="m365.551 161.449c-3.839 0-7.678-1.464-10.606-4.394-5.858-5.858-5.858-15.355 0-21.213l60.862-60.861c5.857-5.856 15.355-5.858 21.213 0s5.858 15.355 0 21.213l-60.862 60.861c-2.929 2.929-6.769 4.394-10.607 4.394z"/>
                </g>
            </g>
        </symbol>
        <symbol id="bluetooth" viewBox="0 0 512.089 512.089">
            <path d="M397.943,353.53l-118.182-98.485l118.182-98.485c11.165-9.304,11.165-26.453,0-35.757L258.307,4.439    c-15.158-12.632-38.172-1.853-38.172,17.879v176.542l-76.635-76.635c-9.089-9.089-23.824-9.089-32.913,0s-9.089,23.824,0,32.913    l99.907,99.907l-99.907,99.907c-9.089,9.089-9.089,23.824,0,32.913s23.824,9.089,32.913,0l76.635-76.635v176.542    c0,19.732,23.013,30.51,38.172,17.879l139.636-116.364C409.109,379.982,409.109,362.834,397.943,353.53z M266.681,72.005    l80.01,66.675l-80.01,66.675V72.005z M266.681,438.083V304.733l80.01,66.675L266.681,438.083z"/>
        </symbol>
    </svg>
</div>