
{literal}

    <style>
        #summary {
            background: #666;
            width: 100px;
            color: #fff;
        }

        #summary:hover {
            cursor: pointer;
            color: #fff200;
        }

        #detail {
            width: 300px;
            height: 300px;
            background: #fff200;
            display: none;
        }
        /*[for="period_selects"] { display: none;}*/
        /*#period_selects {*/
            /*display: none;*/
        /*}*/
    </style>

    <script>

        $(document).ready( function(e) {
            $('#summary').hover( function( evt ) {
                $('#detail').toggle();
            });
        });

    </script>

{/literal}
{capture name="mainbox"}
    {capture name="sidebar"}
        <div class="sidebar-row" id="categories_stats">
            <h6>Search</h6>
            <div class="client-sales-search">
                <form action="{""|fn_url}" name="client-sales-search_form" id="example" class="display" cellspacing="0" width="100%" method="GET">
                    <input type="hidden" name="dispatch" value="custom_reports.user_stats">
                    {*<div class="form-control">*}
                        {*<label>Emri</label>*}
                        {*<input type="text" name="firstname" value="{$search_params['firstname']}">*}
                    {*</div>*}
                    {*<div class="form-control">*}
                        {*<label>Mbiemri</label>*}
                        {*<input type="text" name="lastname" value="{$search_params['lastname']}">*}
                    {*</div>*}
                    {*<div class="form-control">*}
                        {*<label>User ID</label>*}
                        {*<input type="text" name="user_id" value="{$search_params['user_id']}">*}
                    {*</div>*}
                    {*<div class="form-control">*}
                        {*<label>E-mail</label>*}
                        {*<input type="text" name="email" value="{$search_params['email']}">*}
                    {*</div>*}
                    <div class="form-control">
                        <label>Statuset</label>
                        <select class="js-example-basic-multiple" name="statuses[]" multiple="multiple">
                            {assign var="selected_statuses" value=$search_params['statuses']}
                            {foreach $statuses as $status}
                                <option {if $status.status|in_array:$selected_statuses} selected='selected' {/if}value="{$status.status}">{$status.name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="form-control">
                        {include file="common/period_selector.tpl" period=$period display="form" prefix='period_one_' search=$search_params}
                    </div>
                    <div class="form-control">
                        {include file="common/period_selector.tpl" period=$period display="form" prefix='period_two_' search=$search_params}
                    </div>
                    <div class="form-control" style="margin-top:10px; margin-bottom: 20px ">
                        <input type="checkbox"  {if $search_params.def_statuses == 'true'}checked{/if} name="def_statuses" value="true" id="def_statuses"> <span class="hint"> Kliko për statuset e parazgjedhura</span>
                    </div>

                    <div class="form-control">
                        <label><b>Zgjedh Filtrimin :</b></label>
                        {*<input type="radio" name="filter" value="new_users" {if $search_params['filter'] == 'new_users'}checked{/if}> Userat e Rinjë<br>*}
                        {*<input type="radio" name="filter" value="return_users" {if $search_params['filter'] == 'return_users'}checked{/if}> Userat e Rikthyer<br>*}
                        <input type="radio" name="filter" value="bp_one_not_two" {if $search_params['filter'] == 'bp_one_not_two'}checked{/if}> Userat që kanë ble në periudhën e parë por jo në peridhën 2<br>
                        <input type="radio" name="filter" value="bp_two_not_one" {if $search_params['filter'] == 'bp_two_not_one'}checked{/if}> Userat që kanë ble në periudhën e dytë por jo në peridhën 1
                    </div>
                    <div class="form-control" style="float: right; margin-top: 20px;">
                        {include file="buttons/button.tpl" but_text=__("search") but_onclick=$but_onclick but_href=$but_href but_role=$but_role but_name=$but_name}
                    </div>
                </form>
            </div>
        </div>
    {/capture}
    <table class="table table-middle">
        <thead>
        <tr class="cm-first-sibling">
            <th>User id</th>
            <th>Emri</th>
            <th>Mbiemri</th>
            <th>Email</th>
            <th>Shitjet</th>

        </tr>
        </thead>
        <tbody>
        {foreach $reports as $user}
            <tr>
                <td>
                    <a href="{"profiles.update&user_id={$user.user_id}"|fn_url}"> {$user.user_id}</a>
                </td>
                <td>
                    {$user.firstname}
                </td>
                <td>
                    {$user.lastname}
                </td>
                <td>
                    <a href="{"profiles.update&user_id={$user.user_id}"|fn_url}">{$user.email}</a>
                </td>
                <td>
                    <a href="{"custom_reports.details&user_id={$user.user_id}"|fn_url}">{$user.sales}</a>
                </td>

            </tr>
        {/foreach}

        </tbody>
    </table>
    {if $pages.total !=1}
        <div class="clearfix">
            <div id="pagination-custom"></div>
        </div>
    {/if}
{/capture}
{capture name="buttons"}
    {capture name="tools_list"}

        {assign var="statuses" value="{""|implode:$smarty.get.statuses}"}
        {assign var="period_one_time_from" value="&period_one_time_from={$smarty.get.period_one_time_from}"}
        {assign var="period_one_time_to" value="&period_one_time_to={$smarty.get.period_one_time_to}"}
        {assign var="period_two_time_from" value="&period_two_time_from={$smarty.get.period_two_time_from}"}
        {assign var="period_two_time_to" value="&period_two_time_to={$smarty.get.period_two_time_to}"}
        {assign var="filter" value="&filter={$smarty.get.filter}"}
        <li>{btn type="list" text="Shkarko në Excel" href="custom_reports.user_stats{$period_one_time_from}{$period_one_time_to}{$period_two_time_from}{$period_two_time_to}{$filter}{if $smarty.get.statuses}&statuses[]={$statuses}{elseif $smarty.get.def_statuses}&def_statuses=true{/if}&export=true"}</li>
    {/capture}
    {dropdown content=$smarty.capture.tools_list}
{/capture}
{include file="common/mainbox.tpl" title="Shitjet per klient" content=$smarty.capture.mainbox  buttons=$smarty.capture.buttons sidebar=$smarty.capture.sidebar adv_buttons=$smarty.capture.adv_buttons select_languages=true}

<script>
    {literal}
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
    {/literal}

    {ldelim}
        let pages = {$pages.total};
        let active = {$pages.current};
        document.getElementById('pagination-custom').innerHTML = createPagination(pages, active);
        function createPagination(pages, page) {
            {assign var="page_var" value="&page="}
            let url_current = window.location.href +'&page=';
            let str = '<ul>';
            let active;
            let pageCutLow = page - 1;
            let pageCutHigh = page + 1;

            if (page > 1) {
                str += '<li class="page-item previous no"><a href="'+url_current+''+(page-1)+' " onclick="createPagination(pages, '+(page-1)+')">Paraprak</a></li>';
            }
            if (pages < 6) {
                for (let p = 1; p <= pages; p++) {
                    active = page == p ? "active" : "no";
                    str += '<li class="'+active+'"><a href="'+url_current+''+p+'" onclick="createPagination(pages, '+p+')">'+ p +'</a></li>';
                }
            }
            else {
                if (page > 2) {
                    str += '<li class="no page-item"><a href="'+url_current+''+1+'" onclick="createPagination(pages, 1)">1</a></li>';
                    if (page > 3) {
                        str += '<li class="out-of-range"><a onclick="createPagination(pages,'+(page-2)+')">...</a></li>';
                    }
                }
                if (page === 1) {
                    pageCutHigh += 2;
                } else if (page === 2) {
                    pageCutHigh += 1;
                }
                if (page === pages) {
                    pageCutLow -= 2;
                } else if (page === pages-1) {
                    pageCutLow -= 1;
                }
                for (let p = pageCutLow; p <= pageCutHigh; p++) {
                    if (p === 0) {
                        p += 1;
                    }
                    if (p > pages) {
                        continue
                    }
                    active = page == p ? "active" : "no";
                    str += '<li class="page-item '+active+'"><a href="'+url_current+''+p+'" onclick="createPagination(pages, '+p+')">'+ p +'</a></li>';
                }
                if (page < pages-1) {
                    if (page < pages-2) {
                        str += '<li class="out-of-range"><a onclick="createPagination(pages,'+(page+2)+')">...</a></li>';
                    }
                    str += '<li class="page-item no"><a href="'+url_current+''+pages+'" onclick="createPagination(pages, pages)">'+pages+'</a></li>';
                }
            }
            if (page < pages) {
                str += '<li class="page-item next no"><a  href="'+url_current+''+(page+1)+'" onclick="createPagination(pages, '+(page+1)+')">Vijues</a></li>';
            }
            str += '</ul>';
            document.getElementById('pagination-custom').innerHTML = str;
            return str;
        }
        {rdelim}
</script>

