.small_fixes_mini_cart() {
	.ty-minicart__icon {
		font-size: 15px;
		top: 8px;
	}
}

.change_basket_icon() when (@ath_cart_icon = cart) {
    .ty-icon-basket {
        font-family: FontAwesome;
		
		&:before {
			content: "\f07a";
		}
    }
	.small_fixes_mini_cart();
}
.change_basket_icon() when (@ath_cart_icon = bag) {
    .ty-icon-basket {
        font-family: FontAwesome;
		
		&:before {
			content: "\f290";
		}
    }
	.small_fixes_mini_cart();
}
.change_basket_icon() when (@ath_cart_icon = basket) {
    .ty-icon-basket {
        font-family: FontAwesome;
		
		&:before {
			content: "\f291";
		}
    }
	.small_fixes_mini_cart();
}
.change_basket_icon();
